.symbaroum.sheet.item .armor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.symbaroum.sheet.item .armor .description,
.symbaroum.sheet.item .armor .stats,
.symbaroum.sheet.item .armor .qualities,
.symbaroum.sheet.item .armor .bonus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    border-top: none;
}

.symbaroum.sheet.item .armor .description .editor {
    height: 134px;
}

.symbaroum.sheet.item .armor .tab .protection,
.symbaroum.sheet.item .armor .tab .impeding,
.symbaroum.sheet.item .armor .tab .quality,
.symbaroum.sheet.item .armor .tab .cost {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 5px 10px;
}

.symbaroum.sheet.item .armor .tab .protection {
    margin-top: 10px;
}

.symbaroum.sheet.item .armor .tab .quality {
    margin-bottom: 10px;
}

.symbaroum.sheet.item .armor .tab .qualities .scroll {
    overflow-y: scroll;
    height: 154px;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.symbaroum.sheet.item .armor .tab .qualities .leftcolumn,
.symbaroum.sheet.item .armor .tab .qualities .rightcolumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.symbaroum.sheet.item .armor .tab .qualities .leftcolumn {
    flex-basis: calc(50% - 5px);
    margin-top: 10px;
    margin-right: 5px;
}

.symbaroum.sheet.item .armor .tab .qualities .rightcolumn {
    flex-basis: calc(50% - 5px);
    margin-top: 10px;
    margin-left: 5px;
}

.symbaroum.sheet.item .armor .tab .bonus .scroll {
    overflow-y: scroll;
    height: 154px;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.symbaroum.sheet.item .armor .tab .bonus .attribute {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 5px 10px;
}

.symbaroum.sheet.item .armor .tab .bonus .attribute:first-child {
    margin-top: 10px;
}

.symbaroum.sheet.item .armor .tab .bonus .attribute:last-child {
    margin-bottom: 10px;
}