.symbaroum.attributes {
  background: var(--color-charBG);
}

.symbaroum.attributes .window-content .editable {
  flex: 0;
}

.symbaroum.attributes .foreground {
  background: url(../asset/image/foreground.webp) repeat;
}

// .symbaroum.attributes .border {
//   border: 10px solid transparent;
//   border-image: var(--title-image) 20/10px round;
// }

.symbaroum.attributes h1 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 0 none;
  font-size: 16px;
  margin: 0;
  text-align: center;
  background: var(--title-color) repeat;
  color: var(--color-title);
  font-family: var(--font-text);
}

.symbaroum.attributes label {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-label);
  font-family: var(--font-text);
  background: var(--title-color) repeat;
  width: 10em;
  text-align: center;
  padding: 5px;
}

.symbaroum.attributes button {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-label);
  font-family: var(--font-text);
  background: var(--title-image) repeat;
  text-align: center;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 0;
  margin: 0;
}

.symbaroum.attributes button:hover {
  color: var(--color-active);
  text-shadow: 0 0 10px var(--color-active);
  box-shadow: none;
}

.symbaroum.attributes input[type='text'],
.symbaroum.attributes input[type='number'] {
  background: var(--box-editable) repeat;
  border: 1px solid var(--color-border);
  box-shadow: inset 0 0 6px black;
  color: var(--color-text);
  font-size: 14px;
  height: auto;
  line-height: 16px;
  width: 100%;
  font-family: var(--font-text);
  border-left: 0;
  border-radius: 0;
  -moz-appearance: textfield;
  text-align: center;
  min-width: 0;
}

.symbaroum.attributes input[type='number'][disabled] {
  background: var(--box-non-editable) repeat;
}

.symbaroum.attributes .fixed {
  background: var(--box-non-editable) repeat;
  border: 1px solid var(--color-border);
  box-shadow: inset 0 0 6px black;
  font-size: 14px;
  height: auto;
  line-height: 16px;
  width: 100%;
  font-family: var(--font-text);
  border-left: 0;
  border-radius: 0;
  -moz-appearance: textfield;
  text-align: center;
  min-width: 0;
}

.symbaroum.attributes .attArray {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.symbaroum.attributes .attArray {
  flex-basis: 100%;
}

.symbaroum.attributes .attArray {
  justify-content: center;
}

.symbaroum.attributes .attArray {
  margin-top: 5px;
  margin-bottom: 5px;
}

.symbaroum.attributes .item {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
}

.symbaroum.attributes .item-name {
  min-width: 10em;
}

.symbaroum.attributes .col-header {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.symbaroum.attributes .col-header {
  background: var(--box-non-editable) repeat;
  border: 1px solid var(--color-border);
  border-left: none;
  box-shadow: inset 0 0 6px black;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
