.symbaroum.attributes {
    background: url(../asset/image/background.jpg) repeat;
  }
  
  .symbaroum.attributes .window-content .editable {
    flex: 0;
  }
  
  .symbaroum.attributes .foreground {
    background: url(../asset/image/foreground.jpg) repeat;
  }
  
  .symbaroum.attributes .border {
    border: 10px solid transparent;
    border-image: url(../asset/image/title.jpg) 20/10px round;
  }
  
  .symbaroum.attributes h1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 0 none;
    font-size: 16px;
    margin: 0;
    text-align: center;
    background: url(../asset/image/title.jpg) repeat;
    color: var(--color-title);
    font-family: var(--font-text);
  }
  
  .symbaroum.attributes label {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-label);
    font-family: var(--font-text);
    background: url(../asset/image/title.jpg) repeat;
    width: 10em;
    text-align: center;
    padding: 5px;
  }
  
  .symbaroum.attributes button {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-label);
    font-family: var(--font-text);
    background: url(../asset/image/title.jpg) repeat;
    text-align: center;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 0;
    margin: 0;
  }
  
  .symbaroum.attributes button:hover {
    color: var(--color-active);
    text-shadow: 0 0 10px var(--color-active);
    box-shadow: none;
  }
  
  .symbaroum.attributes input[type='text'],
  .symbaroum.attributes input[type='number'] {
    background: url(../asset/image/editable.jpg) repeat;
    border: 1px solid var(--color-border);
    box-shadow: inset 0 0 6px black;
    color: var(--color-text);
    font-size: 14px;
    height: auto;
    line-height: 16px;
    width: 100%;
    font-family: var(--font-text);
    border-left: 0;
    border-radius: 0;
    -moz-appearance: textfield;
    text-align: center;
    min-width: 0;
  }

  .symbaroum.attributes .fixed {
    background: url(../asset/image/not-editable.jpg) repeat;
    border: 1px solid var(--color-border);
    box-shadow: inset 0 0 6px black;
    font-size: 14px;
    height: auto;
    line-height: 16px;
    width: 100%;
    font-family: var(--font-text);
    border-left: 0;
    border-radius: 0;
    -moz-appearance: textfield;
    text-align: center;
    min-width: 0;
  }

  .symbaroum.attributes .attArray {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
  }
  
  .symbaroum.attributes .attArray {
    flex-basis: 100%;
  }
  
  .symbaroum.attributes .attArray {
    justify-content: center;
  }
  
  .symbaroum.attributes .attArray {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .symbaroum.attributes .item {
    display: flex;
    flex-basis: 25%;
    justify-content: center;
  }
  
  .symbaroum.attributes .col-header {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
  }
  
  .symbaroum.attributes .col-header {
    background: url(../asset/image/not-editable.jpg) repeat;
    border: 1px solid var(--color-border);
    border-left: none;
    box-shadow: inset 0 0 6px black;
    height: 28px;
    line-height: 28px;
    text-align: center;
  }