.symbaroum.sheet.actor .player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;  
  height: 100%;
  width: 100%;
}

.symbaroum.sheet.actor .player .disable:hover {
  color: var(--color-title);
  text-shadow: none;
  box-shadow: none;
  cursor: default;
}

.symbaroum.sheet.actor .player .sheet-header {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  margin: 5px;
}

.symbaroum.sheet.actor .player .sheet-header .avatar {
  background: url(../asset/image/editable.jpg) repeat;
  border: 1px solid black;
  box-shadow: inset 0 0 6px black;
  flex: 0 0 auto;
  height: 100px;
  margin: 10px 0 10px 10px;
  width: 100px;
}

.symbaroum.sheet.actor .player .sheet-header .avatar img {
  border: 0 none;
  width: 100px;
  height: 100px;
  margin: auto;
}

.symbaroum.sheet.actor .player .sheet-header .avatar img:hover {
  box-shadow: none;
  cursor: pointer;
}

.symbaroum.sheet.actor .player .sheet-header .wrapper-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
}

.symbaroum.sheet.actor .player .sheet-header .wrapper-row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.symbaroum.sheet.actor .player .sheet-header label {
  width: 100px;
}

.symbaroum.sheet.actor .player .sheet-header input {
  width: 50px;
  flex-grow: 1;
}

.symbaroum.sheet.actor .player .sheet-header .name,
.symbaroum.sheet.actor .player .sheet-header .race {
  display: flex;
  flex-direction: row;
  flex-basis: calc(50% - 5px);
  margin-right: 5px;
}

.symbaroum.sheet.actor .player .sheet-header .experience,
.symbaroum.sheet.actor .player .sheet-header .occupation {
  display: flex;
  flex-direction: row;
  flex-basis: calc(50% - 5px);
  margin-left: 5px;
}

.symbaroum.sheet.actor .player .sheet-header .shadow,
.symbaroum.sheet.actor .player .sheet-header .manner {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.symbaroum.sheet.actor .player .sheet-header .quote {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.symbaroum.sheet.actor .player .sheet-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 100%;
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  background: url(../asset/image/title.jpg) repeat;
  font-family: var(--font-text);
  height:fit-content;
}

.symbaroum.sheet.actor .player .sheet-tabs .item {
  color: var(--color-title);
}

.symbaroum.sheet.actor .player .sheet-tabs .item:hover {
  color: var(--color-active);
  text-shadow: 0 0 10px var(--color-active);
}

.symbaroum.sheet.actor .player .sheet-tabs .item.active {
  color: var(--color-active);
  text-shadow: 0 0 10px var(--color-active);
}

.symbaroum.sheet.actor .player .sheet-body {
  flex-basis: 100%;
  margin: 5px;
}

.symbaroum.sheet.actor .tooltip {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

/* Tooltip text */
.symbaroum.sheet.actor .tooltip .tooltiptext {
  /* visibility: hidden; */
  display: none;
  width: 10em;
  background-color: black;
  color: #fff;
  padding: 5px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.symbaroum.sheet.actor .flex30 {
  flex-basis: 30%;
}

.symbaroum.sheet.actor .flex50 {
  flex-basis: 50%;
}

.symbaroum.sheet.actor .tooltip .right {
  top: -15%;
  left: 105%;
}

.symbaroum.sheet.actor .tooltip .down {
  top: 100%;
  left: 0%;
}

.symbaroum.sheet.actor .tooltip .downleft {
  top: -105%;
  left: calc(-5% - 10em);
}

.symbaroum.sheet.actor .tooltip .up {
  top: -105%;
  left: 0%;
}

.symbaroum.sheet.actor .tooltip:hover .tooltiptext {
  display: block;
  /* visibility: visible; */
}
