<h1>Important note on world migration</h1>
<h2>Introduction</h2>
    <p>This update includes a major modification of how weapons and armors are implemented, and <strong>it might break PCs and NPCs in the world</strong>. You'll have to modify all the weapons and armors - here's how:
    </br>
        First, you should read the "Weapons and Armor" section in the user guide in the compendium "Symbaroum for FVTT system user guides". It explains how the new system works.
</br>
        <h2>Migrate items</h2>
        Then in your "items" tab, open the weapons. You can either modify them (setting their type and damage), or replace them by the weapons we provide in the weapon compendium, that are already configured as in the rulebook.
</br>
        Then do the same for armors.
        </p>
        <h2>Migrate characters</h2>
        <p>Open each PC and NPC, and replace their weapons and armors with the new, updated ones. If you already used the abilities and traits provided in the conpendiums, the weapons and armor stats should automaticaly adapt to the character.
        </br>
        For example, the "2-handed sword" item has the type "massive", its damage is 1d10, and its wielding attribute is "accurate". If a character with the abilities "Two-handed force" and "Iron strenght" equips it, the weapon damage will automaticaly change to "1d12", and the attribute will swap to "strong" (if higher than accurate).
    </br>
    Beasts and monsters with natural weapon and armor should be given the "natural weapon" and "armored" items, that will automaticaly change value according to the corresponding trait level.
</p>
