<form autocomplete="off">
  <div class="tab active">
    <div class="form-group">
      <label>{{localize "SYMBAROUM.OPTIONAL_PC_COLOUR SELECTOR"}}</label>
      <div class="form-fields">
        <input type="text" name="charBGColour" value="{{charBGColour}}" data-dtype="String" />
        <input type="color" name="fontColourSelector" value="{{charBGColour}}" data-edit="charBGColour" />
      </div>
    </div>
  </div>

  {{#if isGM}}
    <div class="form-group">
      <label>{{localize "SYMBAROUM.OPTIONAL_NPC_COLOUR SELECTOR"}}</label>
      <div class="form-fields">
        <input type="text" name="npcBGColour" value="{{npcBGColour}}" data-dtype="String" />
        <input type="color" name="fontColourSelector" value="{{npcBGColour}}" data-edit="npcBGColour" />
      </div>
    </div>
    </div>
  {{/if}}


  <p><i style="font-size: smaller">{{localize "SYMBAROUM.OPTIONAL_RESET_NOTE"}}</i></p>

  <div class="form-group buttons-save">
    <button type="submit" name="submit"><b>{{localize "SYMBAROUM.OPTIONAL_SUBMIT_BUTTON"}}</b></button>
    <button type="button" name="resetPC"><b>{{localize "SYMBAROUM.OPTIONAL_RESET_PC_BUTTON"}}</b></button>
    {{#if isGM}}
      <button type="button" name="resetNPC"><b>{{localize "SYMBAROUM.OPTIONAL_RESET_NPC_BUTTON"}}</b></button>
    {{/if}}

  </div>
</form>