<div>
    <h1 style=" margin-bottom: 6pt; color: #191813; text-align: center; font-weight: bold;">
        Symbaroum System
        <br>
        for
        <br>
        Foundry VTT
    </h1>


    <h1>Introduction</h1>
    <p>
        This guide presents the main features of the Symbaroum system for Foundry VTT.
        <br>
        This system is official but completely developed, maintained and supported by volunteers. <br />
        It is assumed that the people using this system for Foundry VTT are in possession of the Symbaroum rulebooks or purchased the Free League foundry modules.
    </p>
    <br>
    <h1>Change history since last release</h1>
    <p>
        <ul>
            <li>Fixed issue with registering dice with chat messages #664</li>
            <li>Artifacts are not seen as mythical #662</li>
            <li>Removal of conditions without matching status effect #656</li>
            <li>Bounce system for when "Multiple attacks for NPC" is changed #655</li>
        </ul>
    </p>

    <h1>Creating Characters</h1>
    <p>
        To create a character, go to the Actor and click&nbsp;<em>Create Actor.</em>&nbsp; (see @Tour[charactersheet-tour]{Character tour (GM)} / @Tour[charactersheet-tour]{Character tour (Player)} ). Note that the player tour required GM to finish his first.
        It will then prompt you for a name of the actor and what type it is, either&nbsp;<em>player<strong>&nbsp;</strong></em>or&nbsp;<em>monster</em>.
        Once it has been selected, it shows a Character sheet where details of the character can be filled in.&nbsp;
        Items such as character name and race can be filled in, as well as the experience it has and how much of it that has been spent on re-rolls or binding to artifacts, how much has been spent on abilities and traits and finally how much is unspent.
        <br><br>
        Any field that has a blue-ish background can't be edited, this is because they are automatically calculated and the player do not need to change these fields. The portrait can be changed to a picture that the player likes.
        <br><br>
        When generating characters, put the initial point total used for starting abilities in the far left Experience box. You should also update this should the character gain any xp during the scenarios.

    </p>
    &nbsp;<span class="img01">&nbsp;</span>&nbsp;
    <p>
        Underneath it has a set of tabs, main, gear, bio, etc. which can be used to supply the various information required.
        <br>
        On the main tab, the player can fill in their details of their attributes, how much toughness they have remaining and details of their corruption.
        In order to modify attributes, click on the cog-wheel on the header and this will open the attributes windows.
    </p>
    &nbsp;<span class="img01-01">&nbsp;</span>&nbsp;
    <br />
    &nbsp;<span class="img27">&nbsp;</span>&nbsp;
    <p>
        The base attribute is for the base, unmodifed attribute of the character. The "Modifier" field is for temporary modifiers, like attribute damage from undead creatures. "Bonus" is for bonuses from items. "Total" will display the computed attribute.
        <br>
        The corruption fields contains entries for how much Temporary (scene) corruption they've taken, any long term corruption, such as happens when consuming Krusan Berries, or even Permanent corruption they have accumulated.
        <br>
        The combat section allows for selection of the attribute that will be used for initiative or for defense.
        It also contains information of any worn armor or wielded weapons. See section about combat below.
    </p>
    <br>

    <h2>Adding Abilities, Traits, Boons and Burdens</h2>
    <p>
        Please note that this System Module does not contain the details about these abilities, traits, boons and burdens and it is advised that the Game Master sets them up in advance.
        <br>
        There is an Adventure Compendium that contains assets in multiple languages that is recommended for use. See @Tour[acompendium-tour]{System Adventure Compendium}
        <br><br>
        To add an ability, trait, boon or burden, the player drags them from the Item's selection to the Abilities &amp; Powers section of the character sheet.
        <br>

        &nbsp;<span class="img02">&nbsp;</span>&nbsp;
        <br>
        Once they are on the character sheet, the player can open it and see more information about it.
        For abilities and traits, no experience is deducted unless the player has ticked that they have learnt or aquired the ability or trait.
        For boons and burdens, it deducts experience as per the level, as detailed in APG.
        <br>
        &nbsp;<span class="img03">&nbsp;</span>&nbsp;
        <br>
        The character sheet also shows a summary with a clickable icon, the name of the ability and what actions (Active, Passive, etc) the player can use with the ability or trait. It uses two smaller golden pictures, where the shield with bolts, see acrobatics / berserker example in the picture, indicates that the ability can be activated by clicking the icon. If it has a person with a shield, see polearm master & berserker in the picture below, all (or in a few cases most) of the ability has been integrated into the stat block for the character.
        <br>
        &nbsp;<span class="img04">&nbsp;</span>&nbsp;
    </p>
    <br><br>

    <h1>Weapons and Armor</h1>
    <p>
        Pre-configured weapons and armors are available in the Adventure compendiums. We recommand you use them. Just find the adventure corresponding to your language in the Adventure compendium tab, and select "import".
        <br>
        To give a character any item, you can drag it from the sidebar to the character sheet. You can also create an armor or weapon directly from the tab <em>GEAR</em> on the character sheet.
        On this tab, there is a <strong>+</strong> at the of the header of the tables for armor and weapons which when clicked, will create new armor or weapon and details about can be filled in.
        <br>
    </p>
    <span class="img05">&nbsp;</span>
    <h2>Weapons</h2>
    <p>
        Weapons have a class : One-handed (default), heavy, unarmed, short, long, ranged, thrown, and shield.
        <br>
        Attributes: The default base attribute is "Accurate" but you can select another one. You usually don't have to, since abilities that modify the attribute (Iron fist, Sixth sense...) will automaticaly do it.
        <br>
        There are two fields for the damage :
        <br>
        - Base damage : contains the damage dice of the weapon (1-handed is 1d8, short is 1d6…). You don't need to add passive bonuses from abilities, they will automaticaly added later.
        <br>
        - Bonus damage. This field should be left empty and be used only for exceptional situations, unsupported abilities and house rules.
        <br>
        - A weapon with the quality deep impact, or a weapon masterfully crafted to give it this quality have +1 damage, this damage should not be entered in the bonus field, just check the checkbox « deep impact » in the quality tab and the bonus will be added. The "massive" quality will also modify damage (when used by a PC), or armor rolls (when used by a NPC)

        The calculated damage is printed in the boxes under the weapon name : as in Symbaroum rules, PC damage is the damage roll formula when it’s a PC that wields it, and the NPC damage is the fixed damage used when it’s a NPC.
        <br>
        The "Alternative damage" field is used for weapons that do damage on attributes (usually Resolute or Strong). Normal weapons are set on "none". When creating a monster that do alternative damage, use the "wraith claws" or "freezing touch" weapon, and give the "alternative damage" ability to the creature. The damage of the weapon will automaticaly upgrade depending of its level in the ability.
    </p>
    <br>
    <h2>Armors</h2>
    <p>
        Armors have a fixed base protection value (1d4, 1d6, or 1d8). A reinforced armor should have the "Reinforced" quality checkbox checked in the "Qualities" tab.
        Other bonus to protection can be add in the "Bonus protection" field.
        The "Impeding" field should receive the impeding value of the armor. This value will be used in some rolls.
        Qualities should be checked in the qualities tab. Only those will be used by the system. Any other custom quality can be entered in the "quality" field.
    </p>
    <p>
        Stackable armors can be created, for effects like "Blessed shield" that stacks to normal armor. Select the "stackable armor" option in the base armor field, then type the added protection value in the bonus field.
    </p>
    <br>
    <h2>Adding weapons and armors to characters</h2>
    <p>
        To add an armor or weapon to a character sheet, drag it from the Item's selection to the armor or weapon section of the gear tab of the character sheet.
        Monsters with the "Natural weapon" trait should be given the weapon « Natural weapon » of the compendium, and those with the "Armored" trait should be given the "armored" Armor.
        <br>
        When a PC or NPC add a weapon or an armor, to its sheet, its damage or protection value is automaticaly recalculated, taking into account the character abilities and traits (Man-at-arms, Robust…). For weapons, the attribute is also evaluated, taking into account the class of the weapon.
        The weapon/armor then appears on the character sheet with its final value printed. (dice value if it’s a PC sheet (ex: 1d8+1d6), fixed if it’s a monster sheet (ex: 7))
        <br>
        On the gear tab of the sheet, Weapons and armor have 3 states repredented bys a small icon, that you can change by clicking on it:
        <br>
        - stored (house icon): the item is stored out of immediate reach (in the character house, in a pack on a mule...)
        <br>
        - carried (briefcase icon): the item is sheated, or in a backpack
        <br>
        - active (shirt icon): the item is weared (armor) or in hand (weapon), and can be used for combat.
    </p>
    &nbsp;<span class="img24">&nbsp;</span>&nbsp;
    <p>
        Active weapons, and the active armor, can be seen in the main tab of the character sheet. Click on them to make a roll (cf the combat section). Armor and weapons displays their protection or damage as well as what attribute is used and the target value.
        Only one non-stackable armor will be considered active at a time. If there is no active armor, the system will generate a "no armor" dummy armor, equipped by the character, with passive bonuses added (robust..).
        When a stackable armor is activated, it will add its bonus protection to the active armor.
    </p>
    <p>
        The combat tab also shows which attribute it uses for initiative, where the format is [primary inititive attribute].[vigilant] - where the primary attribute is quick, unless you have an ability or trait that changes that.
    </p>
    &nbsp;<span class="img25">&nbsp;</span>&nbsp;
    <br><br>
    <h1>Making an Attribute Test</h1>
    <p>
        Symbaroum often calls for a test to be performed against an attribute.
        The tests are often denoted within brackets and optionally, where it is a test versus someone else, it contain the attribute that is used as the difficulty of the roll.&nbsp;
    </p>
    <br>
    <h2>Performing a Simple Attribute Test</h2>
    <p>To perform a an attribute test, the player clicks on the attribute that is used for the test, for example, if a test for discreet is called, the player clicks on the discreet attribute
        <br>
        &nbsp;<span class="img06">&nbsp;</span>&nbsp;
        <br>
        This will then bring up the attribute test dialogue, see below.
    </p>
    <br>

    <h2>Performing a Versus Attribute Test</h2>
    <p>If the test is to be performed against a token on the player field, then the player making the test, selects the token as a target.&nbsp;
        To select a target, right click on it and tick the "target icon".
        The selected target will then have arrows pointing at it, to show that it is now a target for the player.
        <br>
        &nbsp;<span class="img07">&nbsp;</span>&nbsp;
        <br>
        Then the player clicks the attribute that the player wants to use.
        This then presents the attribute test dialogue to the player, where they can select the attribute that the token uses to resist the test.
        This will automatically then apply any bonus or penalty as normal to the test.
    </p>

    <br>
    <h2>The Attribute Test Dialogue</h2>
    <p>
        The roll dialogue is dynamic and shows elements that are relevant for the test.
        In the majority of the attribute tests, there are three elements.
        The versus attribute, which is the attribute from the selected target token that is used to resist the attribute that the player is rolling.
        For example, a player has to make a <em>[Persuasive&larr;Resolute]</em> test against a token on the field.
        They've selected the token as the target and clicked their <em>Persuasive </em>attribute.
        In the dialogue, the selected is seen in the title of the window, <em>Persusasive</em>.
        <br>
        &nbsp;<span class="img08">&nbsp;</span>&nbsp;
        <br>
        The player can then select the attribute the test is&nbsp; against, in the example above, it is the targets Resolute that is the versus attribute.
        The second field is if this is a normal test, or if the test is made with favour or disfavour.
        See an explanation for the terms Favour and Disfavour further down in this document.
    </p>
    The last field is any custom modifer that applies to this test, beyond the versus Attribute that was selected.
    It is important to note that if the versus Attribute is set to&nbsp;<em>Custom</em>&nbsp;then no attribute will be used and any penalties or bonuses will have to be entered in this field.
    <br>
    <br><br>
    <h1>Abilities, Powers and Traits</span></h1>


    &nbsp;<span class="img09">&nbsp;</span>&nbsp;

    <p>
        All the Abilities, Mystical Powers and Traits are available in the system compendiums, but comes without descriptions.
        If you want the descriptions, then you can fill them in manually or purchase one of the Free League modules for the Symbaroum system.
        In order to add one of them to a character or monster sheet, simply drag and drop it from the compendium to the sheet.
        Then you can indicated the levels know by this character by checking the "learned" box in the Novice, Adept, and Master tabs.
        <br>
        &nbsp;<span class="img10">&nbsp;</span>&nbsp;
        <br>
        You can create your own abilities but in order to use the features of the system, you'll have to use the Abilities, Powers, and Traits included in the compendiums.&nbsp;
    </p>
    <br><br>

    <h1>Abilities</h1>
    <p>
        Some abilities and traits, when given to a character (PC and NPC), will have effect on her character sheet and / or on dialog windows.
    </p>
    <h3><strong>Dominate, Feat of strength, Feint, Knife Play, Sixthsense, Strong gift, Tactician</strong></h3>
    <p>
        Defense and attack attribute will be changed when the character uses relevant weapons.
    </p>
    <h3><strong>Shield fighter, Staff fighting, Steel throw, Natural warrior, Natural weapon</strong></h3>
    <p>
        Damage value of the weapon will be increased, and/or defense value.
    </p>
    <h3><strong>Man-at-arms, Armored, Armored Mystic, Robust, Survival instinct</strong></h3>
    <p>
        Protection value of the armor and/or impeding will be modified.
    </p>
    <h3><strong>Colossal, Undead, Spirit form, Swarm</strong></h3>
    <p>
        Those traits will apply damage reduction when using Enhanced Combat (see Enhanced combat option)
        Damage value of the weapon will be increased, and defense value. Please note that the extra bonus of Staff fighting when using a wooden staff or a mystic staff isn't included (please add +1 defense in the bonus tab of the relevant weapons).
    </p>
    <h3><strong>Beast Lore, Backstab, Colossal, Corrupting attack, Feat of strength, Hunter's instinct, Iron Fist, Knife Play, Natural Warrior, Rapid Fire, Robust</strong></h3>
    <p>
        When using Enhanced Combat option, having those abilities or traits and using the right weapon type will make specific options available in the attack window.
    </p>
    <h3><strong>Knife Play, Staff fighting, Staff magic, Sword saint</strong></h3>
    <p>
        Those traits activate when the character wields special weapons. In order for the bonuses to appear on the character sheet, the corresponding compatibilities must be checked in the "qualities" tab of the weapon sheet.
    </p>
    <br><br>

    <h1>Using Powers</h1>
    <p>
        Powers can be activated by clicking on the icon for the power on the character sheet (see <i>Adding Abilities, Traits, Boons and Burdens</i>), or opening the power and clicking on the orange dice of the item sheet (shown below).
        <br>
        &nbsp;<span class="img11">&nbsp;</span>&nbsp;
        <br>
        Many powers, abilities and traits have been automatized. Using a power this way will calculate damage / healing on the target, generated corruption, etc. <br>
        Powers: <br>
        Anathema,&nbsp;blessed shield, brimstone cascade,&nbsp;bend will,&nbsp;black bolt,&nbsp;confusion,&nbsp;curse,&nbsp;dancing weapon,&nbsp;earth shot,&nbsp;entangling vines,&nbsp;holy aura,&nbsp;inherit wound,&nbsp;larvae boils,&nbsp;lay on hands,&nbsp;levitate,&nbsp;maltransformation,&nbsp;Prios burning glass,&nbsp;Revenant strike,&nbsp;tormenting spirits,&nbsp;unnoticeable,&nbsp;witch hammer
        <br>
        Abilities:
        <br>
        Alchemy,&nbsp;acrobatics,&nbsp;berserker,&nbsp;dominate,&nbsp;leader,&nbsp;loremaster,&nbsp;medicus,&nbsp;poisoner,&nbsp;quickdraw,&nbsp;recovery,&nbsp;witchsight.
        <br>
        Traits:
        <br>
        Poisonous,&nbsp;Regeneration,&nbsp;Shapeshifter,&nbsp;Wisdom of the ages.
        <br><br>
        When you activate a power, it will take in account the relevant abilities of the character and its target (leader ability, rapid reflexes, steadfast, traditions, impeding armor...).
        It will open a dialog window for the acting player asking a few questions:
        <br>

        &nbsp;<span class="img12">&nbsp;</span>&nbsp;
        <br>
    <ul>
        <li>manual modifer (any other modifier to the roll...)</li>
        <li>favour / disfavour (see favour section of this guide)</li>
        <li>first casting or maintained. First casting is for the first round the player use the ability, and maintain is for the subsequent rounds or for chain casting (if relevant). The main difference is that "first cast" will generate corruption for the caster, while "maintain" will not.</li>
    </ul>
    Most roll should be left by default. <br>
    Than the roll is made, and result is announced in the chat.
    <br>
    &nbsp;<span class="img14">&nbsp;</span>&nbsp;
    <br>
    Corruption is calculated taking into account the level in Theurgy, Wizardry, Witchcraft, Blessings, Sorcery.
    <br>
    If the result have effects on a token (damage, healing, corruption, stutus effects...) the Gamemaster gets a chat entry with a button.
    <br>
    &nbsp;<span class="img15">&nbsp;</span>&nbsp;
    <br>
    Clicking the button will automaticaly affect the results of the power to the tokens: damage will be substracted from toughness, temporary corruption added, etc.
    <br>
    In order to do chain effects, you'll have to cast the power on each target, checking the "maintained" box after the first target.
    </p>
    <h2>Power and Abilities specifics:</h2>
    <h3><strong>Anathema</strong></h3>
    <p>Anathema can be used with or without a target. The target should be the opposing caster.</p>
    <h3><strong>Berserker</strong></h3>
    <p>When using this ability, the effects will automaticaly modify the combat values of the character (armor, defense, damage). Use the abality again to revert to normal.</p>
    <h3><strong>Brimstone cascade</strong></h3>
    <p>When striking multiple targets, use the power several times, changing the target each time. After the first target, use the "maintain power" option so the casting character won't get corruption.</p>
    <h3><strong>Blessed Shield</strong></h3>
    <p>When using the power on 1 or 2 other characters (adept and master level), select them as targets before using the power.
        If successful, the Mystic and the target will automaticaly get an active "blessed shield" stackable armor. At the end of the duration of the power, just delete this item from their inventory.
    </p>
    <h3><strong>Dancing Weapon</strong></h3>
    <p>When using this power, the character will enter "Dancing weapon mode": his combat stats on defense and melee weapons will be replaced by resolute (or persuasive if relevant). Just use the power again to exit the "Dancing weapon" mode. Please note that clicking on the power won't generate corruption - you'll have to take care of this manually.
    </p>
    <h3><strong>Entangling vines</strong></h3>
    <p>It's always the caster that should initiate the roll. After the second round, the strenght of the target will be used as a resist value, as in the rules.
    </p>
    <h3><strong>Inherit wound</strong></h3>
    <p>Target will be healed and damage will apply to the caster.&nbsp;If enhanced combat is used, and the level is adept or master, poison and bleeding effects will also be transfered from target to caster.
    </p>
    <h3><strong>Levitate</strong></h3>
    <p>If no target are selected, the spell will be cast on self. If a target is selected and level is adept or master, the power will be cast on the target.
    </p>
    <h3><strong>Leader</strong></h3>
    <p>Using leader will trigger the adept level effect: the target will receive a "targeted" status effect. When any character attacks this target, damage will receive a +1d4 bonus (or +2 if attack from a NPC). Just delete the status effect on the token to remove the effect.</p>
    <br><br>

    <h1>Combat</span></h1>
    <p>There are 2 options for combat:
        <br>
    <h2>Default Combat:</h2>

    <p>As with normal attribute rolls, combat works almost the same.
        The player has, based on its abilities and traits, selected which attribute is used for its initiative, defense and attack.
        The attack is set when you add a weapon to a character, as different weapons can use different attributes.
        <br>
    <h3><strong>Make an Attack</strong></h3>
    To make an attack with a weapon, the player clicks the weilded weapon on their character sheet under the main tab, or right click an active weapon and select "Attack".
    <br>
    &nbsp;<span class="img16">&nbsp;</span>&nbsp;
    <br>
    It will then bring up the attribute test dialogue, where an attribute can be selected, or, which is more common in combat, the targets&nbsp;<em>defense</em>&nbsp;is selected.
    <br>
    &nbsp;<span class="img17">&nbsp;</span>&nbsp;
    <br>
    Beside the normal fields in the attribute test dialogue, the player can also choose to make this attack with&nbsp;<em>Advantage</em>&nbsp;as well as any damage bonuses beyond those bestowed by&nbsp;<em>Advantage</em>&nbsp;or the wearpon, for example&nbsp;<em>Backstab</em>.
    The result of the attack is then displayed in the chat window which then can be applied to the token on the battlefield.
    <br>
    &nbsp;<span class="img18">&nbsp;</span>&nbsp;
    <br>
    <h3><strong>Defend against an attack</strong></h3>
    To make a defense test against an attack, the player clicks on the equipped armor on the main tab of the character sheet or right click an active armor and select 'Defend', which then opens the attribute test dialogue. 
    This dialogue has a subtle difference that it also has a checkmark if the people attacking the player have&nbsp;<em>Advantage</em>, i.e. the player is at&nbsp;<em>Disadvantage</em>.
    <br>
    &nbsp;<span class="img19">&nbsp;</span>&nbsp;
    <br>
    If the defense is unsuccessful, then it will automatically roll the armor roll and display it in the chat window.
    <br>
    &nbsp;<span class="img20">&nbsp;</span>&nbsp;
    <br>
    In the example above, Abesina failed her defense test and her robes protects her for 2 points of damage.
    </p>
    <br><br>

    <h2>Enhanced Combat:</h2>
    <p>
        Enhanced combat can be activated by selecting the option in the system settings. The purpose of EC is to accelerate combat, limit Players and GM fidgeting with character sheets, and vastly simplify NPC management.
        <br />
        The main functionnalities of EC are:
        <ul>
            <li>Process attacks by integrating relevent attacker and defender abilities, traits, items...</li>
            <li>Automaticaly calculate attack result (damage, corruption, status effects, alternative damage) and apply them on the target</li>
            <li>Offer to process multiple attacks in one click</li>
        </ul>
        When using EC option with token-action-hub module, a GM can play a whole combat without opening sheets. Vastly limiting fidgeting with sheets, checking NPC abilities and calculating stuff, EC will simplify and accelerate the technical part of managing combat so you can focus on story, descriptions and roleplay.
    <p>
        <a href="https://youtu.be/P615_E_GpLQ">This quick video</a> explains how to use the enhanced combat features.
    </p>
    <br><br>
    Armor and weapons have to be equipped by the PCs and NPCs in order to be taken in account.<br>
    It automaticaly processes the attributes, traits&nbsp; and abilities of the attacker and its target, rolls the dice, evaluate damage.<br><br>
    The attribute used for attacking has to be defined on the weapon sheet. The defense attribute has to be selected on the character sheet. PCs and NPCs armors and weapons value have to be entered as 'dice' (for example a sword damage value would be 1d8 - the system will automaticaly transform this value to a fixed 4 when a NPC attacks a PC)
    <br><br>
    If a player character attacks a NPC, the player has to select its target, then click on a weapon to do the attack.
    If a NPC attacks a PC, the GM select the target, then clicks on the NPC weapon.
    <br><br>
    A dialog window will appear, asking which active or contextual abilities of the attacker are to be used (iron fist, hunter's instinct...).
    <br>
    &nbsp;<span class="img21">&nbsp;</span>&nbsp;
    <br>
    Then the attack roll is made, and if it's a hit, damage is roll. Result is printed in the chat.<br />
    Please note that, even if it's always the attacker that initiates the attack and choose wich abilies he uses, the roll is done from the player's perspective: 
    <ul><li>PC attacks NPC: the roll is made against attack modifed by defense. If success, damage is rolled and fixed protection is substracted.</li>
        <li>NPC attacks PC: the roll is made against defense modifed by attack. If failure, protection is- rolled than substracted from fixed damage.</li>
        <li>NPC attacks NPC or PC attacks PC: the roll is made against attack modifed by defense. If success, damage is rolled and fixed protection is substracted.</li>
    </ul>
    <br>
    &nbsp;<span class="img22">&nbsp;</span>&nbsp;
    <br>
    The Gamemaster then gets a chat entry with a button.
    <br>
    &nbsp;<span class="img15">&nbsp;</span>&nbsp;

    <br>
    Clicking the button will automaticaly affect the results of the attack to the tokens: damage will be substracted from toughness, status icons like poison and bleed added, etc.
    We recommend using the "Status icons counters" in order to have the duration of those effects displayed on the token and in the combat tracker.
    <br>
    The "Undead", "Spirit form" and "swarm" traits will apply damage reduction. If a weapon is marked as Artifact, it is automatically treated as mystical. If there are other reasons why a weapon should be counted as mystical, then that has to be done through the "mystical" quality, which will then ensure that damage is dealt correctly.
    <br>
    Alternative damage will reduce the relevant attribute (it will use the "modifier" field of the attribute sheet.)
    <br />Please note that damage over time (poison, bleeding, burning) is calculated but not applied by the system. That kind of damage have to be manualy modified on the character. Only the relevant status icon will be applied on the token.
    </p>
    <br><br>

    <h1>Initiative:</h1>
    The initiative used in the Symbaroum for FVTT system works the same way than stated in the rulebook, but in order to integrate in FVTT it uses the formula:
    <br>
    initiative = quick + vigilant x 0.01.
    <br>
    This simple formula produces the same order than the rulebook.
    So initiative 15.10 means <i>Quick</i> 15, <i>Vigilant</i> 10.
    It is possible to change the base attribute used for the formula in the character sheet (for characters with the <i>Tactician</i> ability, for example).

    <h1>Favour/Disfavour:</h1>
    <p>
        The term&nbsp;<em>favour/disfavour</em>&nbsp;used in dialog boxes refers to situation when the acting character either rolls 2 dice and keeps the best (Hunter's instinct ability, steadfast resistance, ...) or in cases where disfavour (cursed, pariah, ...) is used, it keeps the worst.&nbsp;
        <br><br>

    <h1>Bonuses</h1>
    <p>
        All items can have different bonuses configurable. These can be used by the GM for various purposes, ranging from giving boosts or penalties to attributes, to increasing or decreasing toughness, changing corruption values.
        It can also be used to reduce the experience cost of something or even give a player experience without changing their total experience earned (only their unspent).
        When viewing any items, it will have a bonus section where an items behaviour can be changed.&nbsp;
        <br>
        &nbsp;<span class="img23">&nbsp;</span>&nbsp;
        <br>
        It should be noted that Powers &amp; Abilities give bonuses as soon as they are on the character sheet.
        Bonuses on armor, weapons and items are only given when they are equipped.
        If an item gives a bonus to an attribute, then it is included in the printed "total" value and listed in the corresponding tooltip.
        For example, here is a character with ability "Exc Attribute Vigilant" novice, and a base Vigilant value of 15:
        <br>
        &nbsp;<span class="img13">&nbsp;</span>&nbsp;
        <br>
    </p>
    <h1>Death Saves & recovery</h1>
    <p>
        When a player needs to make a death save or recover from one, then there is two buttons at the top of the character sheet that allows to roll that automatically.
        &nbsp;<span class="img29">&nbsp;</span>&nbsp;
        <br/>
        If a modifier is needed for the death save, such in case they are wearing a witch braid (see APG), then holding down shift while clicking the death save will prompt a menu for modifiers.
        &nbsp;<span class="img28">&nbsp;</span>&nbsp;
        <br/>
        In case of one or more failed death rolls, skulls appears on the portrait of the character sheet, 1 skull for 1 failure, 2 skulls for 2 failures and 3 skulls for the final failure.  The skulls are removed as soon as the person <i>recover</i>.
    </p>
    <h1>Text Enrichers</h1>
    <p>
        Three text enrichers exists within the system, @Tour, @SymbaroumActor and @fas. 
        <br>The Tour command requires a tourId in brackets [] followed by display name in curly brackets {}.
        <br>The SymbaroumActor command requires an actor-name in [] and optional display name in {} and optional comma separated list of integrated abilities</br>
        <br>The @fas can be used to embed Awesome Font icons into a journal or character sheet.
    </p>
    <h1>System settings</h1>
    <p>
        The following system settings exist (see @Tour[settings-tour]{Symbaroum configuration guide}) - you can turn on and of to your hearts content or as you see fit for running your campaign.
        <br>
        <b>Configure Symbaroum Settings</b><br>
        This is a user setting which allows some modification of sheet backgrounds and colorations (see below). <br>
        <b>World Template Version</b><br>
        This is a developer function - do not change unless you really intend it. <br>
        <b>World System Version</b><br>
        This is a developer function - do not change unless you really intend it. <br>
        <b>Combat Enhancement</b><br>
        Turns the automated combat enhancement on or off. Please note that if you turn it on, the game will work a bit differently and players no longer rolls defense <br>
        <b>Resist roll button</b><br>
        When NPCs use powers that can be resisted, or attack with Combat Enhancement options, instead of rolling directly this option creates a button in the relevant player Chat that the Player will have to click on for the resist roll to be done. <br>
        <b>Always able to succeed or fail</b><br>
        If you want the system to always succeed on a roll of 1 or fail on a roll of 20<br>
        <b>Optional Critical Rolls</b><br>
        Enables the normal critical rolls as detailed in the optional rule in the core book. <br>
        <b>Optional Rare Critical Rolls</b><br>
        Enables the more rarer criticals as detailed in the optional rule in the core book. <br>
        <b>Allow crits for non-combat</b><br>
        This enables the system to print a message when there is a critical success or failure with normal attribute rolls. Crit ratio is the same as for combat<br>
        <b>Combat settings for rolls</b><br>
        Enables QoL enhancements for keeping modifiers between strikes<br>
        <b>Attribute settings for rolls</b><br>
        Enables QoL enhancements for keeping modifiers between specific attribute rolls<br>
        <b>Show modifiers in targetted</b><br>
        In attribute rolls, or combat rolls, shows the modifier the versus attribute gives<br>
        <b>Show NPC modifiers</b><br>
        Shows the character sheet for NPC/monster sheets as in the core book (i.e. from +5 to -5)<br>
        <b>Show multiple attacks in the weapon box for NPCs</b><br>
        The system will try to show the number of attacks an NPC can do. As the system do not know primary weapon, you might need to adjust which weapon gets a bonus, like "Twin Attack (Master)" - which is not accounted for without this setting, as you see fit as a GM.  The format are as follows: <ul>
            <li>Any single attacks that prevents multiple attacks followed by a comma ','</li>
            <li>Potential damage per attack with the given weapon, separated by a slash '/'</li>
        </ul>
        Note that due to these limitations - some judgement has to be done on which attack uses which value.
        <br>
        <b>Allow reference modifications</b><br>
        Only shows for GM and shows a reference field on abilities, traits, etc. This reference is used for the automation of abilities. <br>
        <b>Suppress initiative Rolls</b><br>
        While Symbaroum do not roll for initiative, the system has to do so for the tie breaker. This just turns of the visibility of this roll from chat. <br>
        <b>Manually select initiative</b><br>
        Allows manual selection of the initiative attribute.<br>
        <b>Add Symbaroum Settings button</b><br>
        This adds a Symbaroum setting button under the Foundry Configuration sidebar<br>

    </p>
    <br>
    <h2>Configure Symbaroum Settings</h2>
    <p>
        Under the configuration sidebar there is a now a "Configure Symbaroum Settings" button which is visible to all users.
        <br>
        &nbsp;<span class="config-button">&nbsp;</span>&nbsp;
        <br>
        Selecting this a user can change the character/NPC backgrounds as well as the title, editable and non-editable field colours.
        <br>
        &nbsp;<span class="configuration-settings">&nbsp;</span>&nbsp;
        <br>
        Selecting the "Plain Color Picker" on any of the drop downs will display a color choice box for that item.
        <br>
        A pop-up colour selector will appear when the box is clicked on. From there you can select any colour/brightness combination you want.
        <br>
        &nbsp;<span class="configuration-settings-cp">&nbsp;</span>&nbsp;
        <br>
        Once you have made your selection(s) click the "Submit" button to enable them.
        In the event you make a choice you are unhappy with there is a selection of reset buttons to take you back to the default.
        <br><br>
        Background options:
    </p>
    <div class="imagecontainer">
        <img src="/systems/symbaroum/asset/image/system-guide/artboard_4.webp" style="width:70%; margin-left: 15%;">
    </div>

    <br>
    <h1>Macros</h1>
    <p>
        The system comes with a set of macros that might be useful at your gaming table.
        <br />
        <b>Add Exp</b><br />
        A macro for the Gamemaster to add Experience to a party. You can select tokesn, or if no tokens are selected, it gives you a list of player characters from your actor catalog.
        <br />
        <b>Alternate Damage</b></br>
        With this macro, you can deal Alternative Damage to a given token.
        <br />
        <b>Name Generator</b><br />
        The macro will generate and publish a set of 10 Symbaroum-esque names based on the culture selected for a quick generation of names. There are x cultures available -
        Ambrian (feminine, masculine, noble), Barbarian (feminine, masculine), Symbaroum, Abducted Human (feminine, masculine), Dwarf (firstnames, surname), Elf (feminine, masculine, Goblin (feminine, masculine),
        Troll (normal, ancient).
        <br />
        <b>CRB Character Importer</b><br />
        The macro can import Player, NPC or Monsters from the Core Symbaroum book, many adventures and the Monster Codex via copy &amp; paste. All you need to do is validate abilities and put the gear on the character. Check the text on the macro on how to use it.
        <br />
        <b>Starter Set Character Importer</b><br />
        The macro can import Player, NPC or Monsters from the Starter Set Symbaroum book &amp; the Adventure Collection via copy &amp; paste. All you need to do is validate abilities and put the gear on the character. Check the text on the macro on how to use it.
        <br />
        <b>Symbaroum.fr Character Importer</b><br />
        The macro can import Player, NPC or Monsters from the Symbaroum.fr website. Export the JSON for the character and then open it to copy &amp; paste the text within as is.  All you need to do is validate abilities and put the gear on the character.
        <br />
        <b>Pay for re-roll</b><br />
        Using the alternative rules for paying for re-rolls with either experience or permanent corruption. It will prompt the player to select the character they own, or the token they have selected.
        Note that this macro only pays the cost for the re-roll, it does not perform another re-roll.
        <br />
        <b>Reset temporary corruption</b><br />
        Allows the GM to reset the temporary corruption on the selected token, or if no tokens are selected, to any number of player characters in their actor catalog.
        <br />
        <b>Roll attribute</b><br />
        Allows a player to select attribute and character to roll without opening their character sheet.
        <br />
        <b>Toggle player/monster</b><br />
        Toggles a named player or monster in the actor catalog between being a player or monster character
        <br />
    </p>
    <br><br>
    <h1>Big thanks</h1>
    <p>
        The developers of the Symbaroum for Foundry system would like to thank everyone that contributes to the system. This includes our fantastic translators for the various languages that Symbaroum now supports. Our current translators are:<br/>
        <ul>
            <li>French - Khaali</li>
            <li>German - DasTorfu,Padraig359</li>
            <li>Spanish - kufferino</li>
            <li>Italian - Surcof</li>
            <li>Swedish - Weymyss, Krister Persson</li>
        </ul>
        The gorgeous art created for the backgrounds of the character sheet by AshesToAshe (AshesForAshe#6498).
    </p>
    <br><br>
    <h1>Supported Modules</h1>
    <p><a href="https://foundryvtt.com/packages/dice-so-nice/">Dice-so-nice</a>
    <p><a href="https://foundryvtt.com/packages/token-action-hud/">Token action hud</a></p>
    <p>Note that Token Action Hud have an issue with "No armor" - solution is to create a skin-armor</p>
</div>