.symbaroum.chat.combat,
.symbaroum.chat.ability {
  color: var(--color-text);
  font-family: var(--font-text);
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
}

.symbaroum.chat.combat .foreground,
.symbaroum.chat.ability .foreground {
  padding: 5px;
}

.symbaroum.chat.combat .border,
.symbaroum.chat.ability .border {
  border: 1px solid transparent;
  border-color: var(--title-color);
  // border-image: var(--title-image) 20/10px;
}

.symbaroum.chat.combatstrong,
.symbaroum.chat.ability strong {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

.symbaroum.chat.combat .introImg,
.symbaroum.chat.ability .introImg {
  display: table-cell;
  border: none;
  border-radius: 50px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  padding: 0px 5px 0px 55px;
  background-size: 50px 50px;
  background-position: 5px;
  background-repeat: no-repeat;
  height: 60px;
  min-height: 60px;
}

.symbaroum.chat.combat .targetText,
.symbaroum.chat.ability .targetText {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 100;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}

.symbaroum.chat.combat .introTxt,
.symbaroum.chat.ability .introTxt {
  display: table-cell;
  color: black;
  font-size: 16px;
  font-family: 'Signika';
  text-align: center;
  vertical-align: middle;
}

.symbaroum.chat.combat .finalTxt,
.symbaroum.chat.ability .finalTxt {
  color: black;
  font-size: 16px;
  font-family: 'Signika';
  text-align: center;
  vertical-align: middle;
  margin: 15px 0 0 5px;
}

.symbaroum.chat.combat .subTxt,
.symbaroum.chat.ability .subText {
  color: black;
  font-size: 14px;
  font-style: italic;
  font-family: 'Signika';
  text-align: center;
  vertical-align: middle;
  margin: 15px 0 5px 0;
}

.symbaroum.chat.combat img,
.symbaroum.chat.ability img {
  border: 0;
  display: block;
  margin: 5px auto 8px;
  max-height: 64px;
  width: auto;
}

.symbaroum.chat.combat h4,
.symbaroum.chat.ability h4 {
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
