.symbaroum.dialog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-bottom: 5px;
}

.symbaroum.dialog .lblfavour {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-label);
  font-family: var(--font-text);
  background: var(--title-color) repeat;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.symbaroum.dialog .lblfavour .checkbox {
  white-space: nowrap;
}

.symbaroum.dialog .weapondamage {
  padding-left: 5px;
}

.symbaroum.dialog label {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-label);
  font-family: var(--font-text);
  background: var(--title-color) repeat;
  width: 10em;
  min-width: 10em;
  text-align: center;
  padding: 5px;
}

.symbaroum.dialog input[type='checkbox'] {
  background: var(--box-editable) repeat;
  border: 1px solid var(--color-border);
  // box-shadow: inset 0 0 6px black;
  color: var(--color-text);
  width: 100%;
  height: auto;
}

.symbaroum.dialog input[type='text'],
.symbaroum.dialog input[type='number'],
.symbaroum.dialog select {
  background: var(--box-editable) repeat;
  border: 1px solid var(--color-border);
  box-shadow: inset 0 0 6px black;
  color: var(--color-text);
  font-size: 14px;
  height: auto;
  line-height: 16px;
  width: 100%;
  font-family: var(--font-text);
  border-left: 0;
  border-radius: 0;
  -moz-appearance: textfield;
  text-align: center;
}

.symbaroum.dialog .infotext {
  border: 1px solid var(--color-border);
  box-shadow: inset 0 0 6px black;
  color: var(--color-text);
  font-size: 14px;
  height: auto;
  line-height: 16px;
  width: 100%;
  font-family: var(--font-text);
  border-left: 0;
  border-radius: 0;
  -moz-appearance: textfield;
  text-align: center;
}

.symbaroum.dialog input[type='number']::-webkit-outer-spin-button,
.symbaroum.dialog input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.symbaroum.dialog .advantage,
.symbaroum.dialog .damagemodifier,
.symbaroum.dialog .favour,
.symbaroum.dialog .simplebox,
.symbaroum.dialog .attribute,
.symbaroum.dialog .maintain,
.symbaroum.dialog .bonus {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  margin: 5px 10px;
}

.symbaroum.dialog input[type='text'][disabled],
.symbaroum.dialog input[type='number'][disabled] {
  background: url(../asset/image/not-editable.jpg) repeat;
}