.symbaroum.chat.roll {
  color: var(--color-text);
  font-family: var(--font-text);
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
}

.symbaroum.chat.roll .foreground {
  background: var(--chat-background) repeat;
  padding: 10px;
}

.symbaroum.chat.roll .border {
  border: 1px solid transparent;
  border-color: var(--color-border);
  border-image: var(--chat-roll-border) 20/10px;
}

.symbaroum.chat.roll .baseinfo {
  margin-top:5px;
}

.symbaroum.chat.roll strong {
  text-transform: uppercase;
  font-weight: bold;
  color: #606060;
  font-size: 14px;
}

.symbaroum.chat.roll h3 {
  font-family: var(--font-text);
  font-size: 14px;
  font-weight: bold;
  color: #606060;
  margin: 0 0 8px;
  text-align: center;
  border-bottom: 1px solid var(--color-border);
}

.symbaroum.chat.roll h4 {
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  text-align: center;
}

.symbaroum.chat.roll p {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 4px;
}

.symbaroum.chat.roll .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.symbaroum.chat.roll .tooltip .tooltiptext {
  visibility: hidden;
  width: 10em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.symbaroum.chat.roll .right {
  top: -15%;
  left: 105%;
}

.symbaroum.chat.roll .tooltip .down {
  top: 100%;
  left: 0%;
}

.symbaroum.chat.roll .tooltip .downleft {
  top: -105%;
  left: calc(-5% - 10em);
}

.symbaroum.chat.roll .tooltip .up {
  top: -105%;
  left: 0%;
}

.symbaroum.chat.roll .tooltip:hover .tooltiptext {
  visibility: visible;
}

.symbaroum.chat.roll .strike {
  color: rgb(0, 0, 0);
  text-decoration: line-through;
}

.symbaroum.chat.roll img,
.symbaroum.chat.roll .portrait {
  border: 0;
  display: block;
  margin: 0 auto 8px;
  height: 64px;
  width: auto;
}

.symbaroum.chat.roll .moreinfo {
  border: 0;
  float:right;
  height: 18px;
  width: auto;
  filter: sepia(0.5) contrast(0.75) opacity(0.4);
}

.symba-rolls.roll {
  display:inline-block;
  width: 24px;
  line-height: 24px;
  margin-right: 1px;
  background-image: url("../../../icons/svg/d6-grey.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-align: center;
}
.symba-rolls.roll.d4 {
  background-image: url("../../../icons/svg/d4-grey.svg");
}
.symba-rolls.roll.d6 {
  background-image: url("../../../icons/svg/d6-grey.svg");
}
.symba-rolls.roll.d8 {
  background-image: url("../../../icons/svg/d8-grey.svg");
}
.symba-rolls.roll.d10 {
  background-image: url("../../../icons/svg/d10-grey.svg");
}
.symba-rolls.roll.d12 {
  background-image: url("../../../icons/svg/d12-grey.svg");
}
.symba-rolls.roll.d20 {
  background-image: url("../../../icons/svg/d20-grey.svg");
}

.symba-rolls.roll.discarded,
.symba-rolls.roll.rerolled,
.symba-rolls.roll.strike {
  filter: sepia(0.5) contrast(0.75) opacity(0.4);
}
.symba-rolls.roll.normal {
  color: #18520b;
  filter: sepia(0.5) hue-rotate(60deg);
}
.symba-rolls.roll.success {
  color: #18520b;
  filter: sepia(0.5) hue-rotate(60deg);
}
.symba-rolls.roll.failure {
  color: #aa0200;
  filter: sepia(0.5) hue-rotate(-60deg);
}
.symba-rolls.roll.critical {
  color: #18520b;
  filter: sepia(0.5) hue-rotate(60deg);
}
.symba-rolls.roll.fumble {
  color: #aa0200;
  filter: sepia(0.5) hue-rotate(-60deg);
}
