.symbaroum.sheet.actor .window-content {
    background: url(../../asset/image/background.jpg) repeat;
}

.symbaroum.sheet.actor .window-content .editable {
    flex: 0;
}

.symbaroum.sheet.actor .foreground {
    background: url(../../asset/image/foreground.jpg) repeat;
}

.symbaroum.sheet.actor .border {
    border: 10px solid transparent;
    border-image: url(../../asset/image/title.jpg) 20/10px round;
}

.symbaroum.sheet.actor h1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 0 none;
    font-size: 16px;
    margin: 0;
    text-align: center;
    background: url(../../asset/image/title.jpg) repeat;
    color: var(--color-title);
    font-family: var(--font-text);
}

.symbaroum.sheet.actor label {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-label);
    font-family: var(--font-text);
    background: url(../../asset/image/title.jpg) repeat;
    width: 10em;
    text-align: center;
    padding: 5px;
}

.symbaroum.sheet.actor button {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-label);
    font-family: var(--font-text);
    background: url(../../asset/image/title.jpg) repeat;
    text-align: center;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 0;
    margin: 0;
}

.symbaroum.sheet.actor button:hover {
    color: var(--color-active);
    text-shadow: 0 0 10px var(--color-active);
    box-shadow: none;
}

.symbaroum.sheet.actor input[type="text"],
.symbaroum.sheet.actor input[type="number"] {
    background: url(../../asset/image/editable.jpg) repeat;
    border: 1px solid var(--color-border);
    box-shadow: inset 0 0 6px black;
    color: var(--color-text);
    font-size: 14px;
    height: auto;
    line-height: 16px;
    width: 100%;
    font-family: var(--font-text);
    border-left: 0;
    border-radius: 0;
    -moz-appearance: textfield;
    text-align: center;
    min-width: 0;
}

.symbaroum.sheet.actor select  {
    background: url(../../asset/image/editable.jpg) repeat;
    border: 1px solid var(--color-border);
    box-shadow: inset 0 0 6px black;
    color: var(--color-text);
    font-size: 14px;
    height: auto;
    line-height: 16px;
    font-family: var(--font-text);
    border-left: 0;
    border-radius: 0;
    -moz-appearance: textfield;
    text-align: center;
}

.symbaroum.sheet.actor input[type="number"]::-webkit-outer-spin-button,
.symbaroum.sheet.actor input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.symbaroum.sheet.actor input[type="text"][disabled],
.symbaroum.sheet.actor input[type="number"][disabled] {
    background: url(../../asset/image/not-editable.jpg) repeat;
}



.symbaroum.sheet.actor .item-list {
    display: flex;
    flex-direction: column;
    font-family: var(--font-text);
    font-size: 14px;
    line-height: 16px;
    min-height: 0;
    width: 100%;
}

.symbaroum.sheet.actor .item-list .item-header {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-label);
    font-family: var(--font-text);
    background: url(../../asset/image/title.jpg) repeat;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 0;
    margin: 0;
}

.symbaroum.sheet.actor .item-list .items {
    overflow-y: scroll;
    width: 100%;
}

.symbaroum.sheet.actor .item-list .items .item {
    align-items: center;
    margin-bottom: 5px;
}

.symbaroum.sheet.actor .image-container {
    background: url(../../asset/image/editable.jpg) repeat;
    border: 1px solid var(--color-border);
    box-shadow: inset 0 0 6px black;
}

.symbaroum.sheet.actor .image-container .image {
    background-size: 26px;
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
}

.symbaroum.sheet.actor .window-content .fas {
   color: var(--color-text);
}

.symbaroum.sheet.actor .window-content .fas:hover,
.symbaroum.sheet.actor .window-content .button:hover,
.symbaroum.sheet.actor .window-content .item-control:hover {
    text-shadow: 0 0 10px var(--color-active);
    box-shadow: none;
}

.symbaroum.sheet.actor .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
