.symbaroum.sheet.item .window-content {
    background: url(../../asset/image/background.jpg) repeat;
}

.symbaroum.sheet.item .window-content .editable {
    flex: 0;
}

.symbaroum.sheet.item .foreground {
    background: url(../../asset/image/foreground.jpg) repeat;
}

.symbaroum.sheet.item .border {
    border: 10px solid transparent;
    border-image: url(../../asset/image/title.jpg) 20/10px round;
}

.symbaroum.sheet.item h1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 0 none;
    font-size: 16px;
    margin: 0;
    text-align: center;
    background: url(../../asset/image/title.jpg) repeat;
    color: var(--color-title);
    font-family: var(--font-text);
}

.symbaroum.sheet.item label {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-label);
    font-family: var(--font-text);
    background: url(../../asset/image/title.jpg) repeat;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.symbaroum.sheet.item .avatar button {
    border: 0 none;
    width: 100px;
    height: 100px;
    margin: auto;
}

.symbaroum.sheet.item button:hover {
    box-shadow: none;
    cursor: pointer;
}

.symbaroum.sheet.item input[type="text"],
.symbaroum.sheet.item input[type="number"],
.symbaroum.sheet.item select {
    background: url(../../asset/image/editable.jpg) repeat;
    border: 1px solid var(--color-border);
    box-shadow: inset 0 0 6px black;
    color: var(--color-text);
    font-size: 14px;
    height: auto;
    line-height: 16px;
    width: 100%;
    font-family: var(--font-text);
    border-left: 0;
    border-radius: 0;
    -moz-appearance: textfield;
    text-align: center;
}

.symbaroum.sheet.item input[type="checkbox"] {
    border: 1px solid var(--color-border);
    box-shadow: inset 0 0 6px black;
    color: var(--color-text);
    border-radius: 0;
}

.symbaroum.sheet.item input[type="number"]::-webkit-outer-spin-button,
.symbaroum.sheet.item input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.symbaroum.sheet.item .window-content .fas {
    color: var(--color-text);
}

.symbaroum.sheet.item .window-content .fas:hover,
.symbaroum.sheet.item .window-content .button:hover,
.symbaroum.sheet.item .window-content .item-control:hover {
    text-shadow: 0 0 10px var(--color-active);
    box-shadow: none;
}

.symbaroum.sheet.item .sheet-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 100%;
    margin: 5px;
}

.symbaroum.sheet.item .sheet-header .avatar {
    background: url(../../asset/image/editable.jpg) repeat;
    border: 1px solid black;
    box-shadow: inset 0 0 6px black;
    flex: 0 0 auto;
    height: 100px;
    margin: 5px 0 5px 5px;
    width: 100px;
}

.symbaroum.sheet.item .sheet-header .avatar img {
    border: 0 none;
    width: 100px;
    height: 100px;
    margin: auto;
}

.symbaroum.sheet.item .sheet-header .avatar img:hover {
    box-shadow: none;
    cursor: pointer;
}

.symbaroum.sheet.item .sheet-header .wrapper-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 5px;
}

.symbaroum.sheet.item .sheet-header .level,
.symbaroum.sheet.item .sheet-header .name {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    margin: auto;
}

.symbaroum.sheet.item .sheet-header .computedvalues {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;
    margin: auto;
}

.symbaroum.sheet.item .sheet-header .level input,
.symbaroum.sheet.item .sheet-header .computedvalues input,
.symbaroum.sheet.item .sheet-header .name input {
    height: 30px;
}

.symbaroum.sheet.item .editor,
.symbaroum.sheet.item .editor-content {
    font-size: 14px;
    color: var(--color-text);
    height: 100%;
    width: 100%;
    background: url(../../asset/image/editable.jpg) repeat;
    box-shadow: inset 0 0 6px black;
}

.symbaroum.sheet.item .editor {
    margin: 5px;
    border: 1px solid var(--color-border);
    height: 130px;
}

.symbaroum.sheet.item .editor-content {
    padding: 5px;
}

.symbaroum.sheet.item .editor .tox .tox-tbtn svg {
    fill: var(--color-title);
}

.symbaroum.sheet.item .editor .tox .tox-toolbar__primary {
    background: url(../../asset/image/title.jpg) repeat;
}

.symbaroum.sheet.item .editor .tox .tox-tbtn svg:hover {
    fill: var(--color-active);
    text-shadow: 0 0 10px var(--color-active);
    box-shadow: none;
}

.symbaroum.sheet.item .sheet-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 100%;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    background: url(../../asset/image/title.jpg) repeat;
    font-family: var(--font-text);
}

.symbaroum.sheet.item .sheet-tabs .item {
    color: var(--color-title);
}

.symbaroum.sheet.item .sheet-tabs .item:hover {
    color: var(--color-active);
    text-shadow: 0 0 10px var(--color-active);
}

.symbaroum.sheet.item .sheet-tabs .item.active {
    color: var(--color-active);
    text-shadow: 0 0 10px var(--color-active);
}

.symbaroum.sheet.item .sheet-body {
    flex-basis: 100%;
    margin: 5px;
}