<div class="symbaroum dialog">
    <div class="attribute">
        <label>{{localize "DIALOG.ATTRIBUTE"}}</label>
        <select id="modifier">
            <option value="custom">{{localize "ATTRIBUTE.CUSTOM"}}</option>
            <option value="defense">{{localize "ARMOR.DEFENSE"}}</option>
            <option value="accurate">{{localize "ATTRIBUTE.ACCURATE"}}</option>
            <option value="cunning">{{localize "ATTRIBUTE.CUNNING"}}</option>
            <option value="discreet">{{localize "ATTRIBUTE.DISCREET"}}</option>
            <option value="persuasive">{{localize "ATTRIBUTE.PERSUASIVE"}}</option>
            <option value="quick">{{localize "ATTRIBUTE.QUICK"}}</option>
            <option value="resolute">{{localize "ATTRIBUTE.RESOLUTE"}}</option>
            <option value="strong">{{localize "ATTRIBUTE.STRONG"}}</option>
            <option value="vigilant">{{localize "ATTRIBUTE.VIGILANT"}}</option>
        </select>
    </div>
    <div class="bonus">
        <label>{{localize "DIALOG.MODIFIER"}}</label>
        <input id="bonus" type="number" value="0" data-dtype="Number"/>
    </div>
</div>