<div class="symbaroum dialog">
	{{#if askTargetAttribute}}
    <div class="attribute">
        <label for="targetAttribute">{{localize "DIALOG.VERSUS"}}</label>
        <select id="targetAttribute">
            {{#select roll_defaults.targetAttributeName}}
            <option value="custom">{{localize "ATTRIBUTE.CUSTOM"}}</option>
            <option value="defense">{{localize "ARMOR.DEFENSE"}} {{#if attri_mods.show}}({{attri_mods.defense}}){{/if}}</option>
            <option value="accurate">{{localize "ATTRIBUTE.ACCURATE"}} {{#if attri_mods.show}}({{attri_mods.accurate}}){{/if}}</option>
            <option value="cunning">{{localize "ATTRIBUTE.CUNNING"}} {{#if attri_mods.show}}({{attri_mods.cunning}}){{/if}}</option>
            <option value="discreet">{{localize "ATTRIBUTE.DISCREET"}} {{#if attri_mods.show}}({{attri_mods.discreet}}){{/if}}</option>
            <option value="persuasive">{{localize "ATTRIBUTE.PERSUASIVE"}} {{#if attri_mods.show}}({{attri_mods.persuasive}}){{/if}}</option>
            <option value="quick">{{localize "ATTRIBUTE.QUICK"}} {{#if attri_mods.show}}({{attri_mods.quick}}){{/if}}</option>
            <option value="resolute">{{localize "ATTRIBUTE.RESOLUTE"}} {{#if attri_mods.show}}({{attri_mods.resolute}}){{/if}}</option>
            <option value="strong">{{localize "ATTRIBUTE.STRONG"}} {{#if attri_mods.show}}({{attri_mods.strong}}){{/if}}</option>
            <option value="vigilant">{{localize "ATTRIBUTE.VIGILANT"}} {{#if attri_mods.show}}({{attri_mods.vigilant}}){{/if}}</option>
            {{/select}}
        </select>
    </div>
  {{/if}}
  
  <div class="bonus">
    <label for="modifier">{{localize "DIALOG.MODIFIER"}}</label>
    <input id="modifier" type="number" value="{{roll_defaults.modifier}}" data-dtype="Number"/>
  </div>
    
  <div class="favour">
    <label class="lblfavour">{{radioBoxes groupName choices checked=roll_defaults.selectedFavour localize=true}}</label>
  </div>

  {{#if askImpeding}}
  <div class="simplebox">
    <label for="impeding" style="width: 90%;">{{localize "DIALOG.IMPEDING"}}</label> <span class="lblfavour" style="width: 40%;"><input type="checkbox" id="impeding" {{roll_defaults.impeding}}></span>
  </div>
  {{/if}}
  {{#if askCorruptedTarget}}
  <div class="simplebox">
    <label>{{localize "DIALOG.ASK_CORRUPTION"}}</label><span class="lblfavour"><input type="checkbox" id="targetCorrupt" unchecked></span>
  </div>
  {{/if}}
    {{#if isWeaponRoll}}
      <div class="advantage">
        <label for="advantage">{{localize "DIALOG.ADVANTAGE"}}</label> <span class="lblfavour"><input type="checkbox" {{roll_defaults.advantage}} id="advantage" value="1" data-dtype="Number"> </span>
      </div>
      <div class="damagemodifier">
        <label for="weapondamage">{{localize "DIALOG.WEAPON_DAMAGE"}}</label><input id="modifier" disabled type="text" value="{{weaponDamage}}" data-dtype="Text"/>
      </div>
      {{#if askIgnoreArmor}}
      <div class="simplebox">
        <label>{{localize "DIALOG.IGNORE_ARMOR"}}</label><span class="lblfavour"><input type="checkbox" id="ignarm" checked></span>
      </div>
      {{else}}
      <div class="simplebox">
        <label>{{localize "DIALOG.IGNORE_ARMOR"}}</label><span class="lblfavour"><input type="checkbox" id="ignarm" unchecked></span>
      </div>
      {{/if}}
      {{#ifgt defaultWeaponModifier.member.length 0}}
        {{#each defaultWeaponModifier.member as |member|}}
        {{#ife member.type "attackrollmod"}}
          <div class="bonus">
            <label>{{member.label}}</label>
            <input type="text" value="{{member.modifier}}" data-dtype="Text" disabled/>
          </div>
          {{/ife}}
          {{#ife member.type "damagemodifier"}}
            <div class="damagemodifier"><label>{{member.label}}</label><input id="{{member.id}}-fixedmodifier" disabled type="text" value="{{member.alternatives.0.displayMod}}" data-dtype="Text"/></div>
          {{/ife}}
        {{/each}}
      {{/ifgt}}

      {{#ifgt weaponModifier.package.length 1}}
        {{#each weaponModifier.package as |package|}}
            {{#ife package.type "radio"}}          
              <div class="favour"><label class="lblfavour">{{radioBoxes package.id package.radioAlternatives checked=package.defaultSelect localize=false}}</label></div>
            {{/ife}}
            {{#ife member.type "checkbox"}}          
              <div class="advantage"><label for="{{package.id}}">{{package.display}}</label> <span class="lblfavour"><input type="checkbox" id="{{package.id}}" value="{{member.alternatives.damMod}}" data-dtype="Text" ></span></div>
            {{/ife}}
        {{/each}}
      {{/ifgt}}
      <div class="damagemodifier">
        <label for="dammodifier">{{localize "DIALOG.DAMAGE_MODIFIER"}}</label> <input id="dammodifier" value="{{roll_defaults.additionalModifier}}" type="text" data-dtype="Text"/> 
      </div>
    {{/if}}
      
    {{#if isArmorRoll}}
    <div class="advantage">
      <label for="disadvantage-check">{{localize "DIALOG.DISADVANTAGE"}}</label> <span class="lblfavour"><input id="disadvantage-check" type="checkbox" {{roll_defaults.advantage}} id="advantage" value="1" data-dtype="Number"> </span>
    </div>
    {{/if}}    		

</div>