<div class="symbaroum dialog">
  {{#if askWeapon}}
  <div class="attribute">
    <label>Choose weapon</label>
    <select id="weapon">
        {{#each weapons}}
        <option value={{this.id}}>{{this.name}} | Attribut: {{this.data.data.attribute}} </option>
        {{/each}}
    </select>
</div>
  {{/if}}
  {{#if askCastingAttribute}}
  <div class="attribute">
      <label>{{localize "DIALOG.CASTING_ATTRIBUTE"}}</label>
      <select id="castAt">
        <option value="accurate">{{localize "ATTRIBUTE.ACCURATE"}}</option>
        <option value="cunning">{{localize "ATTRIBUTE.CUNNING"}}</option>
        <option value="discreet">{{localize "ATTRIBUTE.DISCREET"}}</option>
        <option value="persuasive">{{localize "ATTRIBUTE.PERSUASIVE"}}</option>
        <option value="quick">{{localize "ATTRIBUTE.QUICK"}}</option>
        <option value="resolute" selected>{{localize "ATTRIBUTE.RESOLUTE"}}</option>
        <option value="strong">{{localize "ATTRIBUTE.STRONG"}}</option>
        <option value="vigilant">{{localize "ATTRIBUTE.VIGILANT"}}</option>
        <option value="defense">{{localize "ARMOR.DEFENSE"}}</option>
    </select>
  </div>
  {{/if}}
	{{#if askTargetAttribute}}
    <div class="attribute">
        <label>{{localize "DIALOG.RESIST_ATTRIBUTE"}}</label>
        <select id="resistAtt">
            <option value="accurate">{{localize "ATTRIBUTE.ACCURATE"}}</option>
            <option value="cunning">{{localize "ATTRIBUTE.CUNNING"}}</option>
            <option value="discreet">{{localize "ATTRIBUTE.DISCREET"}}</option>
            <option value="persuasive">{{localize "ATTRIBUTE.PERSUASIVE"}}</option>
            <option value="quick">{{localize "ATTRIBUTE.QUICK"}}</option>
            <option value="resolute" selected>{{localize "ATTRIBUTE.RESOLUTE"}}</option>
            <option value="strong">{{localize "ATTRIBUTE.STRONG"}}</option>
            <option value="vigilant">{{localize "ATTRIBUTE.VIGILANT"}}</option>
            <option value="defense">{{localize "ARMOR.DEFENSE"}}</option>
        </select>
    </div>
    {{/if}}
    <div class="bonus">
      <label>{{localize "DIALOG.MODIFIER"}}</label>
      <input id="bonus" type="number" value="{{defaultModifier}}" data-dtype="Number"/>
  </div>
    <div class="favour">
      <label class="lblfavour">{{radioBoxes groupName choices checked=defaultFavour localize=true}}</label>
  </div>
  {{#if askImpeding}}
  <div class="simplebox">
    <label>{{localize "DIALOG.IMPEDING"}}</label> <span class="lblfavour"><input type="checkbox" id="impeding" checked></span>
  </div>
  {{/if}}
  {{#if askCorruptedTarget}}
  <div class="simplebox">
    <label>{{localize "DIALOG.ASK_CORRUPTION"}}</label><span class="lblfavour"><input type="checkbox" id="targetCorrupt" unchecked></span>
  </div>
  {{/if}}
    {{#if isWeaponRoll}}
    <div class="simplebox">
      <label>{{localize "DIALOG.ADVANTAGE"}}</label><span class="lblfavour"><input type="checkbox" id="advantage" unchecked></span>
    </div>
    <div class="simplebox">
      <label>{{localize "DIALOG.IGNORE_ARMOR"}}</label><span class="lblfavour"><input type="checkbox" id="ignarm" unchecked></span>
    </div>
    <div class="damagemodifier">
		<label>{{localize "DIALOG.DAMAGE_MODIFIER"}}</label><input id="dammodifier" value="{{defaultDamModifier}}" type="text" data-dtype="Text"/>
    </div>
    {{#if askIronFistAdept}}
    <div class="damagemodifier">
      <label>{{localize "DIALOG.DAMAGE_IF_MODIFIER"}}</label> <input id="ironfistmodifier" value="1d4" type="text" data-dtype="Text"/> 
    </div>
    {{/if}}
    {{#if askIronFistMaster}}
    <div class="damagemodifier">
      <label>{{localize "DIALOG.DAMAGE_IF_MODIFIER"}}</label> <input id="ironfistmodifier" value="1d8" type="text" data-dtype="Text"/> 
    </div>
    {{/if}}
    {{#if featStFavour}}
    <div class="damagemodifier">
      <label for="weapondamage">{{localize "ABILITY_LABEL.FEAT_STRENGTH"}}</label> <div class="weapondamage"><span id="weapondamage">{{localize "DIALOG.FAVOUR_FAVOUR"}}</span></div>
    </div>
    {{/if}}
    {{#if featStMasterDmg}}
    <div class="damagemodifier">
      <label for="weapondamage">{{localize "DIALOG.FEAT_STRENGTH_DAMAGE"}}</label> <div class="weapondamage"><span id="weapondamage">1d4</span></div>
    </div>
    {{/if}}
    {{#if flagBerserk}}
    <div class="damagemodifier">
      <label for="weapondamage">{{localize "ABILITY_LABEL.BERSERKER"}}</label> <div class="weapondamage"><span id="weapondamage">1d6</span></div>
    </div>
    {{/if}}
    <div class="bonus">
      <label>{{localize "DIALOG.USE_POISON"}}</label>
      <select id="poison">
        <option value="0">{{localize "DIALOG.NO_POISON"}}</option>
        <option value="1">{{localize "DIALOG.LIGHT_POISON"}}</option>
        <option value="2">{{localize "DIALOG.MEDIUM_POISON"}}</option>
        <option value="3">{{localize "DIALOG.STRONG_POISON"}}</option>
    </select>
    </div>
    {{#if askBackstab}}
    <div class="simplebox">
      <label>{{localize "DIALOG.BACKSTAB"}}</label> <span class="lblfavour"><input type="checkbox" id="usebackstab" unchecked></span>
    </div>
    {{/if}}
    {{#if askBeastlore}}
    <div class="simplebox">
      <label>{{localize "DIALOG.BEASTLORE"}}</label> <span class="lblfavour"><input type="checkbox" id="usebeastlore" unchecked></span>
    </div>
    {{/if}}
    {{#if askHuntersInstinct}}
    <div class="simplebox">
      <label>{{localize "DIALOG.HUNTERS_INSTINCT"}}</label> <span class="lblfavour"><input type="checkbox" id="usehunter" unchecked></span>
  </div>
    {{/if}}
    {{#if askRobustDmg}}
    <div class="simplebox">
      <label>{{localize "DIALOG.ROBUST_DMG"}}</label> <span class="lblfavour"><input type="checkbox" id="userobust" checked></span>
  </div>
    {{/if}}
    {{#if askTwoAttacks}}
    <div class="simplebox">
      <label>{{localize "DIALOG.2ATTACKS"}}</label> <span class="lblfavour"><input type="checkbox" id="do2attacks" unchecked></span>
    </div>
    {{/if}}
    {{#if askThreeAttacks}}
    <div class="simplebox">
      <label>{{localize "DIALOG.3ATTACKS"}}</label> <span class="lblfavour"><input type="checkbox" id="do3attacks" unchecked></span>
    </div>
    {{/if}}
    <div class="infotext">
      <p><span class="infotext"></span>{{removeMarkup autoparamsText}}</span></p>
    </div>
    {{/if}}
    {{#if isArmorRoll}}
    <div class="advantage">
      <label>{{localize "DIALOG.DISADVANTAGE"}}</label> <span class="lblfavour"><input type="checkbox" {{defaultAdvantage}} id="advantage" value="1" data-dtype="Number"> </span>
    </div>
    {{/if}}
    
    {{#if checkMaintain}}
    <div class="maintain">
      <label>{{localize "DIALOG.ISMAINTAINED"}}</label>
      <select id="maintain">
          <option  value="C" selected >{{localize "DIALOG.CASTING"}}</option>
          <option  value="M" >{{localize "DIALOG.MAINTAINING"}}</option>
      </select>
    </div>
    {{/if}}
</div>