<div class="symbaroum dialog">
	{{#if hasTarget}}
    <div class="attribute">
        <label>{{localize "DIALOG.ATTRIBUTE"}}</label>
        <select id="targetAttribute">
            
            <option value="custom">{{localize "ATTRIBUTE.CUSTOM"}}</option>
            <option value="defense">{{localize "ARMOR.DEFENSE"}}</option>
            <option value="accurate">{{localize "ATTRIBUTE.ACCURATE"}}</option>
            <option value="cunning">{{localize "ATTRIBUTE.CUNNING"}}</option>
            <option value="discreet">{{localize "ATTRIBUTE.DISCREET"}}</option>
            <option value="persuasive">{{localize "ATTRIBUTE.PERSUASIVE"}}</option>
            <option value="quick">{{localize "ATTRIBUTE.QUICK"}}</option>
            <option value="resolute">{{localize "ATTRIBUTE.RESOLUTE"}}</option>
            <option value="strong">{{localize "ATTRIBUTE.STRONG"}}</option>
            <option value="vigilant">{{localize "ATTRIBUTE.VIGILANT"}}</option>
        </select>
    </div>
    {{/if}}
    
    {{#if isWeaponRoll}}
    <div class="advantage">
      <label>{{localize "DIALOG.ADVANTAGE"}}</label> <span class="lblfavour"><input type="checkbox" {{roll_defaults.advantage}} id="advantage" value="1" data-dtype="Number"> </span>
    </div>
    <div class="damagemodifier">
		<label>{{localize "DIALOG.DAMAGE_MODIFIER"}}</label> <input id="dammodifier" value="{{roll_defaults.additionalModifier}}" type="text" data-dtype="Text"/> 
    </div>
    {{/if}}
      
    {{#if isArmorRoll}}
    <div class="advantage">
      <label>{{localize "DIALOG.DISADVANTAGE"}}</label> <span class="lblfavour"><input type="checkbox" {{roll_defaults.advantage}} id="advantage" value="1" data-dtype="Number"> </span>
    </div>
    {{/if}}    		
    
    <div class="favour">
        <label class="lblfavour">{{radioBoxes groupName choices checked=roll_defaults.selectedFavour localize=true}}</label>
    </div>
        
    <div class="bonus">
        <label>{{localize "DIALOG.MODIFIER"}}</label>
        <input id="modifier" type="number" value="{{roll_defaults.modifier}}" data-dtype="Number"/>
    </div>
</div>
