<div class="symbaroum chat item">
    <div class="foreground border">
        <h3>{{name}}</h3>
        {{#if system.isTrait}}
        <h4>{{localize "ITEM.TRAIT"}}</h4>
        {{/if}}
        {{#if system.isAbility}}
        <h4>{{localize "ITEM.ABILITY"}}</h4>
        {{/if}}
        {{#if system.isMysticalPower}}
        <h4>{{localize "ITEM.MYSTICAL_POWER"}}</h4>
        {{/if}}
        {{#if system.isRitual}}
        <h4>{{localize "ITEM.RITUAL"}}</h4>
        {{/if}}
        {{#if system.isWeapon}}
        <h4>{{localize "ITEM.WEAPON"}} {{#if system.isArtifact}}- {{localize "ITEM.ARTIFACT"}} {{/if}}</h4>
        {{/if}}
        {{#if system.isArmor}}
        <h4>{{localize "ITEM.ARMOR"}} {{#if system.isArtifact}}- {{localize "ITEM.ARTIFACT"}} {{/if}}</h4>
        {{/if}}
        {{#if system.isEquipment}}
        <h4>{{localize "ITEM.EQUIPMENT"}} {{#if system.isArtifact}}- {{localize "ITEM.ARTIFACT"}} {{/if}}</h4>
        {{/if}}



        {{#if img}}
        <img src="{{img}}" data-tooltip="{{name}}"/>
        {{/if}}
        <p class="name" data-item-id="{{id}}">{{{enrichedName}}}</p>

        {{#if system.Trait}}
        <p><strong>{{localize "TRAIT.DESCRIPTION"}}:</strong> {{removeStyling system.description}}</p>
        <p><strong>{{localize "TITLE.NOVICE"}} [{{system.novice.action}}]:</strong> {{removeStyling system.novice.description}}</p>
        <p><strong>{{localize "TITLE.ADEPT"}} [{{system.adept.action}}]:</strong> {{removeStyling system.adept.description}}</p>
        <p><strong>{{localize "TITLE.MASTER"}} [{{system.master.action}}]:</strong> {{removeStyling system.master.description}}</p>
        {{/if}}

        {{#if system.Ability}}
        <p><strong>{{localize "ABILITY.DESCRIPTION"}}:</strong> {{removeStyling system.description}}</p>
        <p><strong>{{localize "TITLE.NOVICE"}} [{{system.novice.action}}]:</strong> {{removeStyling system.novice.description}}</p>
        <p><strong>{{localize "TITLE.ADEPT"}} [{{system.adept.action}}]:</strong> {{removeStyling system.adept.description}}</p>
        <p><strong>{{localize "TITLE.MASTER"}} [{{system.master.action}}]:</strong> {{removeStyling system.master.description}}</p>
        {{/if}}

        {{#if system.MysticalPower}}
        <p><strong>{{localize "MYSTICAL_POWER.MATERIAL"}}:</strong> {{system.material}}</p>
        <p><strong>{{localize "MYSTICAL_POWER.DESCRIPTION"}}:</strong> {{removeStyling system.description}}</p>
        <p><strong>{{localize "TITLE.NOVICE"}} [{{system.novice.action}}]:</strong> {{removeStyling system.novice.description}}</p>
        <p><strong>{{localize "TITLE.ADEPT"}} [{{system.adept.action}}]:</strong> {{removeStyling system.adept.description}}</p>
        <p><strong>{{localize "TITLE.MASTER"}} [{{system.master.action}}]:</strong> {{removeStyling system.master.description}}</p>
        {{/if}}

        {{#if system.Ritual}}
        <p><strong>{{localize "RITUAL.TRADITION"}}:</strong> {{system.tradition}}</p>
        <p><strong>{{localize "RITUAL.DESCRIPTION"}}:</strong> {{removeStyling system.description}}</p>
        {{/if}}

        {{#if system.Weapon}}
        <p><strong>{{localize "WEAPON_CLASS.LABEL"}}:</strong> {{system.reference}}</p>
        <p><strong>{{localize "WEAPON.PC_DAMAGE"}}:</strong> {{system.baseDamage}}</p>
        <p><strong>{{localize "WEAPON.COST"}}:</strong> {{system.cost}}</p>
        <p><strong>{{localize "WEAPON.DESCRIPTION"}}:</strong> {{removeStyling system.description}}</p>
        {{/if}}

        {{#if system.Armor}}
        <p><strong>{{localize "ARMOR.PC_PROTCETION"}}:</strong> {{system.pcProtection}}</p>
        <p><strong>{{localize "ARMOR.IMPEDING"}}:</strong> {{system.impeding}}</p>
        <p><strong>{{localize "ARMOR.COST"}}:</strong> {{system.cost}}</p>
        <p><strong>{{localize "ARMOR.DESCRIPTION"}}:</strong> {{removeStyling system.description}}</p>
        {{/if}}

        {{#if system.Equipment}}
        <p><strong>{{localize "EQUIPMENT.COST"}}:</strong> {{system.cost}}</p>
        <p><strong>{{localize "EQUIPMENT.DESCRIPTION"}}:</strong> {{removeStyling system.description}}</p>
        {{/if}}

        {{#if system.isArtifact}}
        <h3>{{localize "ARTIFACT.TITLE"}}</h3>
            {{#each system.power  as |power key|}}
                <p><strong>{{power.name}}:</strong> {{removeStyling power.description}}</p>
            {{/each}}
        {{/if}}
    </div>
</div>
