<div class="symbaroum chat item">
    <div class="foreground border">
        <h3>{{name}}</h3>
        {{#if isTrait}}
        <h4>{{localize "ITEM.TRAIT"}}</h4>
        {{/if}}
        {{#if isAbility}}
        <h4>{{localize "ITEM.ABILITY"}}</h4>
        {{/if}}
        {{#if isMysticalPower}}
        <h4>{{localize "ITEM.MYSTICAL_POWER"}}</h4>
        {{/if}}
        {{#if isRitual}}
        <h4>{{localize "ITEM.RITUAL"}}</h4>
        {{/if}}
        {{#if isWeapon}}
        <h4>{{localize "ITEM.WEAPON"}}</h4>
        {{/if}}
        {{#if isArmor}}
        <h4>{{localize "ITEM.ARMOR"}}</h4>
        {{/if}}
        {{#if isEquipment}}
        <h4>{{localize "ITEM.EQUIPMENT"}}</h4>
        {{/if}}
        {{#if isArtifact}}
        <h4>{{localize "ITEM.ARTIFACT"}}</h4>
        {{/if}}


        {{#if img}}
        <img src="{{img}}" title="{{name}}"/>
        {{/if}}
        <p class="name" data-item-id="{{_id}}">@Item[{{name}}]</p>

        {{#if isTrait}}
        <p><strong>{{localize "TRAIT.DESCRIPTION"}}:</strong> {{removeStyling data.description}}</p>
        <p><strong>{{localize "TITLE.NOVICE"}} [{{data.novice.action}}]:</strong> {{removeStyling data.novice.description}}</p>
        <p><strong>{{localize "TITLE.ADEPT"}} [{{data.adept.action}}]:</strong> {{removeStyling data.adept.description}}</p>
        <p><strong>{{localize "TITLE.MASTER"}} [{{data.master.action}}]:</strong> {{removeStyling data.master.description}}</p>
        {{/if}}

        {{#if isAbility}}
        <p><strong>{{localize "ABILITY.DESCRIPTION"}}:</strong> {{removeStyling data.description}}</p>
        <p><strong>{{localize "TITLE.NOVICE"}} [{{data.novice.action}}]:</strong> {{removeStyling data.novice.description}}</p>
        <p><strong>{{localize "TITLE.ADEPT"}} [{{data.adept.action}}]:</strong> {{removeStyling data.adept.description}}</p>
        <p><strong>{{localize "TITLE.MASTER"}} [{{data.master.action}}]:</strong> {{removeStyling data.master.description}}</p>
        {{/if}}

        {{#if isMysticalPower}}
        <p><strong>{{localize "MYSTICAL_POWER.MATERIAL"}}:</strong> {{data.material}}</p>
        <p><strong>{{localize "MYSTICAL_POWER.DESCRIPTION"}}:</strong> {{removeStyling data.description}}</p>
        <p><strong>{{localize "TITLE.NOVICE"}} [{{data.novice.action}}]:</strong> {{removeStyling data.novice.description}}</p>
        <p><strong>{{localize "TITLE.ADEPT"}} [{{data.adept.action}}]:</strong> {{removeStyling data.adept.description}}</p>
        <p><strong>{{localize "TITLE.MASTER"}} [{{data.master.action}}]:</strong> {{removeStyling data.master.description}}</p>
        {{/if}}

        {{#if isRitual}}
        <p><strong>{{localize "RITUAL.TRADITION"}}:</strong> {{data.tradition}}</p>
        <p><strong>{{localize "RITUAL.DESCRIPTION"}}:</strong> {{removeStyling data.description}}</p>
        {{/if}}

        {{#if isWeapon}}
        <p><strong>{{localize "WEAPON_CLASS.LABEL"}}:</strong> {{data.reference}}</p>
        <p><strong>{{localize "WEAPON.PC_DAMAGE"}}:</strong> {{data.baseDamage}}</p>
        <p><strong>{{localize "WEAPON.COST"}}:</strong> {{data.cost}}</p>
        <p><strong>{{localize "WEAPON.DESCRIPTION"}}:</strong> {{removeStyling data.description}}</p>
        {{/if}}

        {{#if isArmor}}
        <p><strong>{{localize "ARMOR.PC_PROTCETION"}}:</strong> {{data.pcProtection}}</p>
        <p><strong>{{localize "ARMOR.IMPEDING"}}:</strong> {{data.impeding}}</p>
        <p><strong>{{localize "ARMOR.COST"}}:</strong> {{data.cost}}</p>
        <p><strong>{{localize "ARMOR.DESCRIPTION"}}:</strong> {{removeStyling data.description}}</p>
        {{/if}}

        {{#if isEquipment}}
        <p><strong>{{localize "EQUIPMENT.COST"}}:</strong> {{data.cost}}</p>
        <p><strong>{{localize "EQUIPMENT.DESCRIPTION"}}:</strong> {{removeStyling data.description}}</p>
        {{/if}}

        {{#if isArtifact}}
        <p><strong>{{localize "ARTIFACT.DESCRIPTION"}}:</strong> {{{keepMarkup data.description}}}</p>
        {{#ifne data.power1.action "-"}}
        <hr>
        <p><b>{{localize "TITLE.POWER"}} 1</b> [{{localize data.power1.actionlabel}}] - Corruption: {{data.power1.corruption}}</p>
        <p>{{{data.power1.description}}}</p>        
        {{/ifne}}
        {{#ifne data.power2.action "-"}}
        <hr>
        <p><b>{{localize "TITLE.POWER"}} 2</b> [{{localize data.power2.actionlabel}}] - Corruption: {{data.power2.corruption}}</p>
        <p>{{{data.power2.description}}}</p>        
        {{/ifne}}
        {{#ifne data.power3.action "-"}}
        <hr>
        <p><b>{{localize "TITLE.POWER"}} 3</b> [{{localize data.power3.actionlabel}}] - Corruption: {{data.power3.corruption}}</p>
        <p>{{{data.power3.description}}}</p>        
        {{/ifne}}

        {{/if}}
    </div>
</div>
