<div class="symbaroum chat roll">
  <div class="foreground border">
    <h3>{{name}}</h3>
    {{#if hasSucceed}}
    <h4>{{localize "CHAT.SUCCEED"}} ({{diceResult}})</h4>

    {{#if critSuccess}}
    <h4>{{localize "CHAT.CRITICAL_SUCCESS"}}</h4>
    {{/if}}
    
    {{#if hasWeapon}} 

    <p style="margin-top: 5px"><strong>{{localize "WEAPON.DAMAGE"}}:</strong> {{weapon.value}}</p>
    <p><strong>{{localize "WEAPON.QUALITY"}}:</strong> {{weapon.quality}}</p>

    {{/if}} 
    {{else}} 
    
    <h4>{{localize "CHAT.FAILED"}} ({{diceResult}})</h4>
    
    {{#if critFail}}
    <h4>{{localize "CHAT.CRITICAL_FAILURE"}}</h4>
    {{/if}}

    
    {{#if hasArmor}}
    <p style="margin-top: 5px"><strong>{{localize "ARMOR.PROTECTION"}}:</strong> {{armor.value}}</p>
    <p><strong>{{localize "ARMOR.QUALITY"}}:</strong> {{armor.quality}}</p>
    {{/if}}
    {{/if}}
    
   {{#if hasWeapon}}
   {{#if critFail}}
   <h4>{{localize "CHAT.CRITICAL_FAILURE_FREEATTACK"}}</h4>
   {{/if}}
   {{/if}}
   
   {{#if hasArmor}}      
   {{#if critSuccess}}
    <h4>{{localize "CHAT.CRITICAL_FREEATTACK"}}</h4>
    {{/if}} 
    {{#if critFail}}
    <h4>{{localize "CHAT.CRITICAL_PLUS3DAMAGE"}}</h4>
    {{/if}}
    {{/if}}
    
  </div>
</div>
