.symbaroum.sheet.item .ability {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.symbaroum.sheet.item .ability .description,
.symbaroum.sheet.item .ability .novice,
.symbaroum.sheet.item .ability .adept,
.symbaroum.sheet.item .ability .master,
.symbaroum.sheet.item .ability .bonus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    border-top: none;
}

.symbaroum.sheet.item .ability .description .editor {
    height: 166px;
}

.symbaroum.sheet.item .ability .tab .active,
.symbaroum.sheet.item .ability .tab .action {
    display: flex;
    flex-direction: row;
    flex-basis: calc(50% - 15px);
}

.symbaroum.sheet.item .ability .tab .action {
    margin: 10px 5px 0 10px;
}

.symbaroum.sheet.item .ability .tab .active {
    margin: 10px 10px 0 5px;
}

.symbaroum.sheet.item .ability .tab .bonus .scroll {
    overflow-y: scroll;
    height: 186px;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.symbaroum.sheet.item .ability .tab .bonus .attribute {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 5px 10px;
}

.symbaroum.sheet.item .ability .tab .bonus .attribute:first-child {
    margin-top: 10px;
}

.symbaroum.sheet.item .ability .tab .bonus .attribute:last-child {
    margin-bottom: 10px;
}