.symbaroum.sheet.item .artifact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}


.symbaroum.sheet.item .artifact .description,
.symbaroum.sheet.item .artifact .power,
.symbaroum.sheet.item .artifact .bonus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    border-top: none;
}

.symbaroum.sheet.item .artifact .description .editor {
    height: 166px;
}

.symbaroum.sheet.item .artifact .tab .corruption,
.symbaroum.sheet.item .artifact .tab .action {
    display: flex;
    flex-direction: row;
    flex-basis: calc(50% - 15px);
}

.symbaroum.sheet.item .artifact .tab .action {
    margin: 10px 5px 0 10px;
}

.symbaroum.sheet.item .artifact .tab .corruption {
    margin: 10px 10px 0 5px;
}

.symbaroum.sheet.item .artifact .tab .bonus .scroll {
    overflow-y: scroll;
    height: 186px;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.symbaroum.sheet.item .artifact .tab .bonus .attribute {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 5px 10px;
}

.symbaroum.sheet.item .artifact .tab .bonus .attribute:first-child {
    margin-top: 10px;
}

.symbaroum.sheet.item .artifact .tab .bonus .attribute:last-child {
    margin-bottom: 10px;
}