.symbaroum.sheet.actor .monster {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.symbaroum.sheet.actor .monster .disable:hover {
    color: var(--color-title);
    text-shadow: none;
    box-shadow: none;
    cursor: default;
}

.symbaroum.sheet.actor .monster .sheet-header {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 5px;
}

.symbaroum.sheet.actor .monster .sheet-header .avatar {
    background: url(../../asset/image/editable.jpg) repeat;
    border: 1px solid black;
    box-shadow: inset 0 0 6px black;
    flex: 0 0 auto;
    height: 100px;
    margin: 10px 0 10px 10px;
    width: 100px;
}

.symbaroum.sheet.actor .monster .sheet-header .avatar img {
    border: 0 none;
    width: 100px;
    height: 100px;
    margin: auto;
}

.symbaroum.sheet.actor .monster .sheet-header .avatar img:hover {
    box-shadow: none;
    cursor: pointer;
}

.symbaroum.sheet.actor .monster .sheet-header .wrapper-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 5px;
}

.symbaroum.sheet.actor .monster .sheet-header .wrapper-row {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.symbaroum.sheet.actor .monster .sheet-header label {
    width: 100px;
}

.symbaroum.sheet.actor .monster .sheet-header input {
    width: 50px;
    flex-grow: 1;
}

.symbaroum.sheet.actor .monster .sheet-header .name {
    display: flex;
    flex-direction: row;
    flex-basis: calc(50% - 5px);
    margin-right: 5px;
}

.symbaroum.sheet.actor .monster .sheet-header .race {
    display: flex;
    flex-direction: row;
    flex-basis: calc(50% - 5px);
    margin-left: 5px;
}

.symbaroum.sheet.actor .monster .sheet-header .shadow,
.symbaroum.sheet.actor .monster .sheet-header .manner {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.symbaroum.sheet.actor .monster .sheet-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 100%;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    background: url(../../asset/image/title.jpg) repeat;
    font-family: var(--font-text);
}

.symbaroum.sheet.actor .monster .sheet-tabs .item {
    color: var(--color-title);
}

.symbaroum.sheet.actor .monster .sheet-tabs .item:hover {
    color: var(--color-active);
    text-shadow: 0 0 10px var(--color-active);
}

.symbaroum.sheet.actor .monster .sheet-tabs .item.active {
    color: var(--color-active);
    text-shadow: 0 0 10px var(--color-active);
}

.symbaroum.sheet.actor .monster .sheet-body {
    flex-basis: 100%;
    margin: 5px;
}