.symbaroum.sheet.item .weapon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.symbaroum.sheet.item .weapon .description,
.symbaroum.sheet.item .weapon .stats,
.symbaroum.sheet.item .weapon .qualities,
.symbaroum.sheet.item .weapon .bonus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    border-top: none;
}

.symbaroum.sheet.item .weapon .description .editor {
    height: 166px;
}

.symbaroum.sheet.item .weapon .tab .stats .quality,
.symbaroum.sheet.item .weapon .tab .stats .damage,
.symbaroum.sheet.item .weapon .tab .stats .cost,
.symbaroum.sheet.item .weapon .tab .stats .number,
.symbaroum.sheet.item .weapon .tab .stats .attribute {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 5px 10px;
}

.symbaroum.sheet.item .weapon .tab .stats .attribute {
    margin-top: 10px;
}

.symbaroum.sheet.item .weapon .tab .stats .quality {
    margin-bottom: 10px;
}

.symbaroum.sheet.item .weapon .tab .qualities .scroll {
    overflow-y: scroll;
    height: 154px;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.symbaroum.sheet.item .weapon .tab .qualities .bastard,
.symbaroum.sheet.item .weapon .tab .qualities .returning,
.symbaroum.sheet.item .weapon .tab .qualities .blunt,
.symbaroum.sheet.item .weapon .tab .qualities .short,
.symbaroum.sheet.item .weapon .tab .qualities .wrecking,
.symbaroum.sheet.item .weapon .tab .qualities .unwieldy,
.symbaroum.sheet.item .weapon .tab .qualities .concealed,
.symbaroum.sheet.item .weapon .tab .qualities .balanced,
.symbaroum.sheet.item .weapon .tab .qualities .deepImpact,
.symbaroum.sheet.item .weapon .tab .qualities .jointed,
.symbaroum.sheet.item .weapon .tab .qualities .ensnaring,
.symbaroum.sheet.item .weapon .tab .qualities .long,
.symbaroum.sheet.item .weapon .tab .qualities .massive,
.symbaroum.sheet.item .weapon .tab .qualities .precise,
.symbaroum.sheet.item .weapon .tab .qualities .bloodLetting,
.symbaroum.sheet.item .weapon .tab .qualities .areaMeleeRadius,
.symbaroum.sheet.item .weapon .tab .qualities .areaShortRadius,
.symbaroum.sheet.item .weapon .tab .qualities .areaCone {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.symbaroum.sheet.item .weapon .tab .qualities .short,
.symbaroum.sheet.item .weapon .tab .qualities .precise,
.symbaroum.sheet.item .weapon .tab .qualities .deepImpact,
.symbaroum.sheet.item .weapon .tab .qualities .bastard,
.symbaroum.sheet.item .weapon .tab .qualities .blunt,
.symbaroum.sheet.item .weapon .tab .qualities .wrecking,
.symbaroum.sheet.item .weapon .tab .qualities .ensnaring,
.symbaroum.sheet.item .weapon .tab .qualities .bloodLetting,
.symbaroum.sheet.item .weapon .tab .qualities .areaMeleeRadius {
    flex-basis: calc(50% - 5px);
    margin-top: 10px;
    margin-right: 5px;
}

.symbaroum.sheet.item .weapon .tab .qualities .returning,
.symbaroum.sheet.item .weapon .tab .qualities .balanced,
.symbaroum.sheet.item .weapon .tab .qualities .jointed,
.symbaroum.sheet.item .weapon .tab .qualities .long,
.symbaroum.sheet.item .weapon .tab .qualities .unwieldy,
.symbaroum.sheet.item .weapon .tab .qualities .concealed,
.symbaroum.sheet.item .weapon .tab .qualities .massive,
.symbaroum.sheet.item .weapon .tab .qualities .areaShortRadius,
.symbaroum.sheet.item .weapon .tab .qualities .areaCone {
    flex-basis: calc(50% - 5px);
    margin-top: 10px;
    margin-left: 5px;
}

.symbaroum.sheet.item .weapon .tab .qualities .bastard label,
.symbaroum.sheet.item .weapon .tab .qualities .blunt label,
.symbaroum.sheet.item .weapon .tab .qualities .short label,
.symbaroum.sheet.item .weapon .tab .qualities .returning label,
.symbaroum.sheet.item .weapon .tab .qualities .unwieldy label,
.symbaroum.sheet.item .weapon .tab .qualities .wrecking label,
.symbaroum.sheet.item .weapon .tab .qualities .concealed label,
.symbaroum.sheet.item .weapon .tab .qualities .balanced label,
.symbaroum.sheet.item .weapon .tab .qualities .deepImpact label,
.symbaroum.sheet.item .weapon .tab .qualities .jointed label,
.symbaroum.sheet.item .weapon .tab .qualities .ensnaring label,
.symbaroum.sheet.item .weapon .tab .qualities .long label,
.symbaroum.sheet.item .weapon .tab .qualities .massive label,
.symbaroum.sheet.item .weapon .tab .qualities .precise label,
.symbaroum.sheet.item .weapon .tab .qualities .bloodLetting label,
.symbaroum.sheet.item .weapon .tab .qualities .areaMeleeRadius label,
.symbaroum.sheet.item .weapon .tab .qualities .areaShortRadius label,
.symbaroum.sheet.item .weapon .tab .qualities .areaCone label {
    /* width: 105px; */
}


.symbaroum.sheet.item .weapon .tab .bonus .scroll {
    overflow-y: scroll;
    height: 188px;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.symbaroum.sheet.item .weapon .tab .bonus .attribute {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 5px 10px;
}

.symbaroum.sheet.item .weapon .tab .bonus .attribute:first-child {
    margin-top: 10px;
}

.symbaroum.sheet.item .weapon .tab .bonus .attribute:last-child {
    margin-bottom: 10px;
}