.symbaroum.chat.ability {
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
}

.symbaroum.chat.ability .foreground {
    background: url(../../asset/image/editable.jpg) repeat;
    padding: 10px;
}

.symbaroum.chat.ability .border {
    border: 1px solid transparent;
    border-image: url(../../asset/image/title.jpg) 20/5px round;
}

.symbaroum.chat.ability strong {
    font-weight: bold;
    font-size: 14px;
    text-align: center; 
    vertical-align: middle;
}

.symbaroum.chat.ability .introImg {
    display: table-cell; 
    border: none; 
    border-radius: 50px; 
    vertical-align: middle; 
    text-align: center; 
    font-size:14px;
    padding: 0px 5px 0px 55px;
    background-size: 50px 50px;
    background-position: 5px;
    background-repeat: no-repeat;
    height: 60px; min-height: 60px;
}

.symbaroum.chat.ability .introTxt {
    display: table-cell; 
    color: black; 
    font-size: 16px;
    font-family: 'Signika';
    text-align: center;
    vertical-align: middle;
}

.symbaroum.chat.ability .finalTxt {
    color: black; 
    font-size: 16px;
    font-family: 'Signika';
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}

.symbaroum.chat.ability .subText {
    color: black; 
    font-size: 14px;
    font-style: italic;
    font-family: 'Signika';
    text-align: center;
    vertical-align: middle;
}


.symbaroum.chat.ability img {
    border: 0;
    display: block;
    margin: 0 auto 8px;
    max-height: 64px;
    width: auto;
}

.symbaroum.chat.ability p {
    margin: 0 0 4px;
}