.symbaroum.dialog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.symbaroum.dialog label {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-label);
    font-family: var(--font-text);
    background: url(../../asset/image/title.jpg) repeat;
    width: 10em;
    text-align: center;
    padding: 5px;
}

.symbaroum.dialog input[type="number"],
.symbaroum.dialog select {
    background: url(../../asset/image/editable.jpg) repeat;
    border: 1px solid var(--color-border);
    box-shadow: inset 0 0 6px black;
    color: var(--color-text);
    font-size: 14px;
    height: auto;
    line-height: 16px;
    width: 100%;
    font-family: var(--font-text);
    border-left: 0;
    border-radius: 0;
    -moz-appearance: textfield;
    text-align: center;
}

.symbaroum.dialog input[type="number"]::-webkit-outer-spin-button,
.symbaroum.dialog input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.symbaroum.dialog .attribute,
.symbaroum.dialog .bonus {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 5px 10px;
}