.symbaroum.chat.roll {
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
}

.symbaroum.chat.roll .foreground {
    background: url(../../asset/image/editable.jpg) repeat;
    padding: 10px;
}

.symbaroum.chat.roll .border {
    border: 1px solid transparent;
    border-image: url(../../asset/image/title.jpg) 20/5px round;
}

.symbaroum.chat.roll strong {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.symbaroum.chat.roll h3 {
    font-family: var(--font-text);
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px;
    text-align: center;
}

.symbaroum.chat.roll h4 {
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    border-top: 1px solid var(--color-border);
}

.symbaroum.chat.roll p {
    margin: 0 0 4px;
}