<form class="{{cssClass}}" autocomplete="off">
    <div class="armor">
        <div class="sheet-header foreground border">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label for="{{id}}-name">{{localize "ARMOR.NAME"}}</label>
                    <input id="{{id}}-name" name="name" type="text" value="{{item.name}}"/>
                </div>
                <div class="computedvalues">
                    <div class="wrapper-column">
                        <label>{{localize "ARMOR.PC_PROTECTION"}}</label>
                        <input type="text" value="{{system.pcProtection}}" data-dtype="Text" disabled/>
                    </div>
                    <div class="wrapper-column">
                        <label>{{localize "ARMOR.NPC_PROTECTION"}}</label>
                        <input type="number" value="{{system.npcProtection}}" data-dtype="Number" disabled/>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="qualities">{{localize "TAB.QUALITIES"}}</b>
            {{#if system.isArtifact}}
            <b class="item" data-tab="power">{{localize "TAB.POWER"}}</b>
            {{/if}}
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>
        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description foreground border">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    {{editor system.description target="system.description" button=true owner=owner editable=true}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="stats">
                <div class="stats foreground border">
                    <h1>{{localize "TITLE.STATS"}}</h1>
                    <div class="protection">
                        <label for="{{id}}-system.baseProtection">{{localize "ARMOR.BASE_PROT"}}</label>
                        <select for="{{id}}-system.baseProtection" name="system.baseProtection">
                            {{#select system.baseProtection}}
                            <option value="1d4">1d4</option>
                            <option value="1d6">1d6</option>
                            <option value="1d8">1d8</option>
                            <option value="1d10">1d10</option>
                            <option value="0">{{localize "ARMOR.BONUS_ONLY"}}</option>
                            <option value="1d0">{{localize "ARMOR.SKIN"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="protection">
                        <label for="{{id}}-system.bonusProtection">{{localize "ARMOR.BONUS_PROT"}}</label>
                        <input id="{{id}}-system.bonusProtection" name="system.bonusProtection" type="text" value="{{system.bonusProtection}}"/>
                    </div>
                    <div class="impeding">
                        <label for="{{id}}-system.impeding">{{localize "ARMOR.IMPEDING"}}</label>
                        <input id="{{id}}-system.impeding" name="system.impeding" type="number" value="{{system.impeding}}" data-dtype="Number"/>
                    </div>
                    <div class="cost">
                        <label for="{{id}}-system.cost">{{localize "ARMOR.COST"}}</label>
                        <input id="{{id}}-system.cost" name="system.cost" type="text" value="{{system.cost}}"/>
                    </div>
                    <div class="number">
                        <label for="{{id}}-system.isArtifact">{{localize "ITEM.ARTIFACT"}}</label>
                        <input id="{{id}}-system.isArtifact" name="system.isArtifact" type="checkbox" value="artifact" {{checked system.isArtifact}}/>
                    </div>
                    <div class="quality">
                        <label for="{{id}}-system.quality">{{localize "ARMOR.QUALITY"}}</label>
                        <input id="{{id}}-system.quality" name="system.quality" type="text" value="{{system.quality}}"/>
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="qualities">
                <div class="qualities foreground border">
                    <h1>{{localize "TITLE.QUALITIES"}}</h1>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.flexible">{{localize "QUALITY.FLEXIBLE"}}</label>
                        <input id="{{id}}-system.qualities.flexible" name="system.qualities.flexible" type="checkbox" value="flexible" {{checked system.qualities.flexible}}/>
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.cumbersome">{{localize "QUALITY.CUMBERSOME"}}</label>
                        <input id="{{id}}-system.qualities.cumbersome" name="system.cumbersome.flexible" type="checkbox" value="cumbersome" {{checked system.qualities.cumbersome}}/>
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.reinforced">{{localize "QUALITY.REINFORCED"}}</label>
                        <input id="{{id}}-system.qualities.reinforced" name="system.qualities.reinforced" type="checkbox" value="reinforced" {{checked system.qualities.reinforced}}/>
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.concealed">{{localize "QUALITY.CONCEALED"}}</label>
                        <input id="{{id}}-system.qualities.concealed" name="system.qualities.concealed" type="checkbox" value="concealed" {{checked system.qualities.concealed}}/>
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.hallowed">{{localize "QUALITY.HALLOWED"}}</label>
                        <input id="{{id}}-system.qualities.hallowed" name="system.qualities.hallowed" type="checkbox" value="hallowed" {{checked system.qualities.hallowed}}/>
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.retributive">{{localize "QUALITY.RETRIBUTIVE"}}</label>
                        <input id="{{id}}-system.qualities.retributive" name="system.qualities.retributive" type="checkbox" value="retributive" {{checked system.qualities.retributive}}/>
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.desecrated">{{localize "QUALITY.DESECRATED"}}</label>
                        <input id="{{id}}-system.qualities.desecrated" name="system.qualities.desecrated" type="checkbox" value="desecrated" {{checked system.qualities.desecrated}}/>
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/symbaroum/template/sheet/tab/bonus.html}}
            </div>
            {{#if system.isArtifact}}
            <div class="tab" data-group="primary" data-tab="power">
                {{> systems/symbaroum/template/sheet/tab/artifact.html}}
            </div>
            {{/if}}
        </div>
    </div>
</form>
