<form class="{{cssClass}}" autocomplete="off">
    <div class="armor">
        <div class="sheet-header foreground border">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label for="{{id}}-name">{{localize "ARMOR.NAME"}}</label>
                    <input id="{{id}}-name" name="name" type="text" value="{{item.name}}"/>
                </div>
                <div class="computedvalues">
                    <div class="wrapper-column">
                        <label>{{localize "ARMOR.PC_PROTECTION"}}</label>
                        <input type="text" value="{{data.pcProtection}}" data-dtype="Text" disabled/>
                    </div>
                    <div class="wrapper-column">
                        <label>{{localize "ARMOR.NPC_PROTECTION"}}</label>
                        <input type="number" value="{{data.npcProtection}}" data-dtype="Number" disabled/>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="qualities">{{localize "TAB.QUALITIES"}}</b>
            {{#if data.isArtifact}}
            <b class="item" data-tab="power">{{localize "TAB.POWER"}}</b>
            {{/if}}
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>
        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description foreground border">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="stats">
                <div class="stats foreground border">
                    <h1>{{localize "TITLE.STATS"}}</h1>
                    <div class="protection">
                        <label for="{{id}}-data.baseProtection">{{localize "ARMOR.BASE_PROT"}}</label>
                        <select for="{{id}}-data.baseProtection" name="data.baseProtection">
                            {{#select data.baseProtection}}
                            <option value="1d4">1d4</option>
                            <option value="1d6">1d6</option>
                            <option value="1d8">1d8</option>
                            <option value="1d10">1d10</option>
                            <option value="0">{{localize "ARMOR.BONUS_ONLY"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="protection">
                        <label for="{{id}}-data.bonusProtection">{{localize "ARMOR.BONUS_PROT"}}</label>
                        <input id="{{id}}-data.bonusProtection" name="data.bonusProtection" type="text" value="{{data.bonusProtection}}"/>
                    </div>
                    <div class="impeding">
                        <label for="{{id}}-data.impeding">{{localize "ARMOR.IMPEDING"}}</label>
                        <input id="{{id}}-data.impeding" name="data.impeding" type="number" value="{{data.impeding}}" data-dtype="Number"/>
                    </div>
                    <div class="cost">
                        <label for="{{id}}-data.cost">{{localize "ARMOR.COST"}}</label>
                        <input id="{{id}}-data.cost" name="data.cost" type="text" value="{{data.cost}}"/>
                    </div>
                    <div class="number">
                        <label for="{{item.id}}-data.isArtifact">{{localize "ITEM.ARTIFACT"}}</label>
                        {{#if data.isArtifact}}
                        <input id="{{item.id}}-data.isArtifact" name="data.isArtifact" type="checkbox" value="artifact" checked/>
                        {{else}}
                        <input id="{{item.id}}-data.isArtifact" name="data.isArtifact" type="checkbox" value="artifact"/>
                        {{/if}}
                    </div>
                    <div class="quality">
                        <label for="{{id}}-data.quality">{{localize "ARMOR.QUALITY"}}</label>
                        <input id="{{id}}-data.quality" name="data.quality" type="text" value="{{data.quality}}"/>
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="qualities">
                <div class="qualities foreground border">
                    <h1>{{localize "TITLE.QUALITIES"}}</h1>
                    <div class="leftcolumn">
                        <label for="{{id}}-data.qualities.flexible">{{localize "QUALITY.FLEXIBLE"}}</label>
                        {{#if data.qualities.flexible}}
                        <input id="{{id}}-data.qualities.flexible" name="data.qualities.flexible" type="checkbox" value="flexible" checked/>
                        {{else}}
                        <input id="{{id}}-data.qualities.flexible" name="data.qualities.flexible" type="checkbox" value="flexible"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-data.qualities.cumbersome">{{localize "QUALITY.CUMBERSOME"}}</label>
                        {{#if data.qualities.cumbersome}}
                        <input id="{{id}}-data.qualities.cumbersome" name="data.qualities.cumbersome" type="checkbox" value="cumbersome" checked/>
                        {{else}}
                        <input id="{{id}}-data.qualities.cumbersome" name="data.qualities.cumbersome" type="checkbox" value="cumbersome"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-data.qualities.reinforced">{{localize "QUALITY.REINFORCED"}}</label>
                        {{#if data.qualities.reinforced}}
                        <input id="{{id}}-data.qualities.reinforced" name="data.qualities.reinforced" type="checkbox" value="reinforced" checked/>
                        {{else}}
                        <input id="{{id}}-data.qualities.reinforced" name="data.qualities.reinforced" type="checkbox" value="reinforced"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-data.qualities.concealed">{{localize "QUALITY.CONCEALED"}}</label>
                        {{#if data.qualities.concealed}}
                        <input id="{{id}}-data.qualities.concealed" name="data.qualities.concealed" type="checkbox" value="concealed" checked/>
                        {{else}}
                        <input id="{{id}}-data.qualities.concealed" name="data.qualities.concealed" type="checkbox" value="concealed"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-data.qualities.hallowed">{{localize "QUALITY.HALLOWED"}}</label>
                        {{#if data.qualities.hallowed}}
                        <input id="{{id}}-data.qualities.hallowed" name="data.qualities.hallowed" type="checkbox" value="hallowed" checked/>
                        {{else}}
                        <input id="{{id}}-data.qualities.hallowed" name="data.qualities.hallowed" type="checkbox" value="hallowed"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-data.qualities.retributive">{{localize "QUALITY.RETRIBUTIVE"}}</label>
                        {{#if data.qualities.retributive}}
                        <input id="{{id}}-data.qualities.retributive" name="data.qualities.retributive" type="checkbox" value="retributive" checked/>
                        {{else}}
                        <input id="{{id}}-data.qualities.retributive" name="data.qualities.retributive" type="checkbox" value="retributive"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-data.qualities.desecrated">{{localize "QUALITY.DESECRATED"}}</label>
                        {{#if data.qualities.desecrated}}
                        <input id="{{id}}-data.qualities.desecrated" name="data.qualities.desecrated" type="checkbox" value="desecrated" checked/>
                        {{else}}
                        <input id="{{id}}-data.qualities.desecrated" name="data.qualities.desecrated" type="checkbox" value="desecrated"/>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/symbaroum/template/sheet/tab/bonus.html}}
            </div>
            {{#if data.isArtifact}}
            <div class="tab" data-group="primary" data-tab="power">
                {{> systems/symbaroum/template/sheet/tab/artifact.html}}
            </div>
            {{/if}}
        </div>
    </div>
</form>
