<div class="symbaroum attributes">
        <div class="sheet-header foreground border">
            <h1>{{localize "TITLE.ATTRIBUTES"}}</h1>
            <div class="col-header">
                <b class="item item-name">{{localize "ARMOR.NAME"}}</b>
                <b class="item">{{localize "ATTRIBUTE.BASE"}}</b>
                <b class="item">{{localize "ATTRIBUTE.MODIFIER"}}</b>
                <b class="item">{{localize "ATTRIBUTE.BONUS"}}</b>
                <b class="item">{{localize "HEALTH.TOUGHNESS_TOTAL"}}</b>
            </div>
            {{#each data.attributes as |attribute key|}}
            <div class="attArray">
                <label for="{{../data._id}}-{{key}}-value" class="item-name" style="width: 100%">{{localize attribute.label}}</label>
                <input id="{{../data._id}}-{{key}}-value" type="number" value="{{attribute.value}}" data-dtype="Number" />
                <input id="{{key}}-mod" type="number" value="{{attribute.temporaryMod}}" data-dtype="Number" />
                <input id="{{key}}-mod" type="number" value="{{attribute.bonus}}" disabled data-dtype="Number" />
                <input id="{{key}}-mod" type="number" value="{{attribute.total}}" disabled data-dtype="Number" />
            </div>
            {{/each}}
        </div>
    </div>