<form class="{{cssClass}}" autocomplete="off">
    <div class="burden">
        <div class="sheet-header foreground border">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label for="{{id}}-name">{{localize "BURDEN.NAME"}}</label>
                    <input id="{{id}}-name" name="name" type="text" value="{{item.name}}"/>
                </div>
                <div class="level">
                    <label for="{{id}}-system.level">{{localize "BURDEN.LEVEL"}}</label>
                    <input id="{{id}}-system.level" name="system.level" type="text" value="{{system.level}}" data-dtype="Number"/>
                </div>
                {{#ifat symbaroumOptions.isGM symbaroumOptions.allowShowReference }}
                <div class="name">
                    <label for="{{id}}-system.reference">{{localize "ABILITY.REFERENCE"}}</label>
                    <input id="{{id}}-system.reference" name="system.reference" type="text" value="{{system.reference}}"/>
                </div>
                {{/ifat}}
            </div>                
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description foreground border">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    {{editor content=system.description target="system.description" button=true owner=owner editable=true}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/symbaroum/template/sheet/tab/bonus.html}}
            </div>
        </div>
    </div>
</form>