<form class="{{cssClass}}" autocomplete="off">
    <div class="equipment">
        <div class="sheet-header foreground border">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label for="{{id}}-name">{{localize "EQUIPMENT.NAME"}}</label>
                    <input name="name" id="{{id}}-name" type="text" value="{{item.name}}"/>
                </div>
            </div>
        </div>
        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            {{#if data.isArtifact}}
            <b class="item" data-tab="power">{{localize "TAB.POWER"}}</b>
            {{/if}}
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description foreground border">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    <div class="cost">
                        <label for="{{id}}-system.cost">{{localize "EQUIPMENT.COST"}}</label>
                        <input id="{{id}}-system.cost" name="system.cost" type="text" value="{{system.cost}}"/>
                    </div>
                    <div class="number">
                        <label for="{{id}}-system.number">{{localize "EQUIPMENT.NUMBER"}}</label>
                        <input id="{{id}}-system.number" name="system.number" type="number" value="{{system.number}}"/>
                    </div>
                    <div class="number">
                        <label for="{{id}}-system.isArtifact">{{localize "ITEM.ARTIFACT"}}</label>
                        {{#if data.isArtifact}}
                        <input id="{{id}}-system.isArtifact" name="system.isArtifact" type="checkbox" value="artifact" checked/>
                        {{else}}
                        <input id="{{id}}-system.isArtifact" name="system.isArtifact" type="checkbox" value="artifact"/>
                        {{/if}}
                    </div>
                    {{editor content=system.description target="system.description" button=true owner=owner editable=true}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/symbaroum/template/sheet/tab/bonus.html}}
            </div>
            {{#if data.isArtifact}}
            <div class="tab" data-group="primary" data-tab="power">
                {{> systems/symbaroum/template/sheet/tab/artifact.html}}
            </div>
            {{/if}}
        </div>
    </div>
</form>