<form class="{{cssClass}}" autocomplete="off">
    <div class="mystical-power">
        <div class="sheet-header foreground border">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <div class="wrapper-column">
                <div class="name">
                <label for="{{id}}-name" >{{localize "MYSTICAL_POWER.NAME"}}</label>
                    <input id="{{id}}-name" name="name" type="text" value="{{item.name}}"/>
                </div>
                {{#ifat symbaroumOptions.isGM symbaroumOptions.allowShowReference }}
                <div class="name">
                    <label for="{{id}}-system.reference" >{{localize "ABILITY.REFERENCE"}}</label>
                    <input id="{{id}}-system.reference" name="system.reference" type="text" value="{{system.reference}}"/>
                </div>
                {{/ifat}}                
            </div>
            <div class="avatar">
                    <button class="activate-ability" ><img src="icons/vtt-512.png" /></button>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="novice">{{localize "TAB.NOVICE"}}</b>
            <b class="item" data-tab="adept">{{localize "TAB.ADEPT"}}</b>
            <b class="item" data-tab="master">{{localize "TAB.MASTER"}}</b>
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description foreground border">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    <div class="material">
                        <label for="{{id}}-system.material">{{localize "MYSTICAL_POWER.MATERIAL"}}</label>
                        <input id="{{id}}-system.material" name="system.material" type="text" value="{{system.material}}"/>
                    </div>
                    {{editor system.description target="system.description" button=true owner=owner editable=true}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="novice">
                <div class="novice foreground border">
                    <h1>{{localize "TITLE.NOVICE"}}</h1>
                    <div class="action">
                        <label for="{{id}}-system.novice.action" >{{localize "MYSTICAL_POWER.ACTION"}}</label>
                        <select id="{{id}}-system.novice.action" name="system.novice.action">
                            {{#select system.novice.action}}
                            <option value="A">{{localize "ACTION.ACTIVE"}}</option>
                            <option value="M">{{localize "ACTION.MOVEMENT"}}</option>
                            <option value="T">{{localize "ACTION.FULL_TURN"}}</option>
                            <option value="F">{{localize "ACTION.FREE"}}</option>
                            <option value="P">{{localize "ACTION.PASSIVE"}}</option>
                            <option value="R">{{localize "ACTION.REACTION"}}</option>
                            <option value="S">{{localize "ACTION.SPECIAL"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    {{#if isOwned}}
                    <div class="active">
                        <label for="{{id}}-system.novice.isActive">{{localize "MYSTICAL_POWER.ACTIVE"}}</label>
                        <input id="{{id}}-system.novice.isActive" name="system.novice.isActive" type="checkbox" value="active" {{checked system.novice.isActive}}/>
                    </div>
                    {{/if}}
                    {{editor system.novice.description target="system.novice.description" button=true owner=owner editable=true}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="adept">
                <div class="adept foreground border">
                    <h1>{{localize "TITLE.ADEPT"}}</h1>
                    <div class="action">
                        <label for="{{id}}-system.adept.action">{{localize "MYSTICAL_POWER.ACTION"}}</label>
                        <select id="{{id}}-system.adept.action" name="system.adept.action">
                            {{#select system.adept.action}}
                            <option value="A">{{localize "ACTION.ACTIVE"}}</option>
                            <option value="M">{{localize "ACTION.MOVEMENT"}}</option>
                            <option value="T">{{localize "ACTION.FULL_TURN"}}</option>
                            <option value="F">{{localize "ACTION.FREE"}}</option>
                            <option value="P">{{localize "ACTION.PASSIVE"}}</option>
                            <option value="R">{{localize "ACTION.REACTION"}}</option>
                            <option value="S">{{localize "ACTION.SPECIAL"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    {{#if isOwned}}
                    <div class="active">
                        <label for="{{id}}-system.adept.isActive">{{localize "MYSTICAL_POWER.ACTIVE"}}</label>
                        <input id="{{id}}-system.adept.isActive" name="system.adept.isActive" type="checkbox" value="active" {{checked system.adept.isActive}}/>
                    </div>
                    {{/if}}    
                    {{editor system.adept.description target="system.adept.description" button=true owner=owner editable=true}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="master">
                <div class="master foreground border">
                    <h1>{{localize "TITLE.MASTER"}}</h1>
                    <div class="action">
                        <label for="{{id}}-system.master.action">{{localize "MYSTICAL_POWER.ACTION"}}</label>
                        <select id="{{id}}-system.master.action" name="system.master.action">
                            {{#select system.master.action}}
                            <option value="A">{{localize "ACTION.ACTIVE"}}</option>
                            <option value="M">{{localize "ACTION.MOVEMENT"}}</option>
                            <option value="T">{{localize "ACTION.FULL_TURN"}}</option>
                            <option value="F">{{localize "ACTION.FREE"}}</option>
                            <option value="P">{{localize "ACTION.PASSIVE"}}</option>
                            <option value="R">{{localize "ACTION.REACTION"}}</option>
                            <option value="S">{{localize "ACTION.SPECIAL"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    {{#if isOwned}}
                    <div class="active">
                        <label for="{{id}}-system.master.isActive">{{localize "MYSTICAL_POWER.ACTIVE"}}</label>
                        <input id="{{id}}-system.master.isActive" name="system.master.isActive" type="checkbox" value="active" {{checked system.master.isActive}}/>
                    </div>
                    {{/if}}
                    {{editor system.master.description target="system.master.description" button=true owner=owner editable=true}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/symbaroum/template/sheet/tab/bonus.html}}
            </div>
        </div>
    </div>
</form>