<form class="{{cssClass}}" autocomplete="off">
    <div class="trait">
        <div class="sheet-header foreground border">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label for="{{item.id}}-name">{{localize "TRAIT.NAME"}}</label>
                    <input id="{{item.id}}-name" name="name" type="text" value="{{item.name}}"/>
                </div>
                {{#if item.isGM }}
                <div class="name">
                    <label for="{{item.id}}-data.reference">{{localize "ABILITY.REFERENCE"}}</label>
                    <input id="{{item.id}}-data.reference" name="data.reference" type="text" value="{{data.reference}}"/>
                </div>
                {{/if}}                
            </div>
            <div class="avatar">
                    <button class="activate-ability" ><img src="icons/vtt-512.png" /></button>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="novice">{{localize "TAB.NOVICE"}}</b>
            <b class="item" data-tab="adept">{{localize "TAB.ADEPT"}}</b>
            <b class="item" data-tab="master">{{localize "TAB.MASTER"}}</b>
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description foreground border">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="novice">
                <div class="novice foreground border">
                    <h1>{{localize "TITLE.NOVICE"}}</h1>
                    <div class="action">
                        <label for="{{item.id}}-data.novice.action">{{localize "TRAIT.ACTION"}}</label>
                        <select id="{{item.id}}-data.novice.action" name="data.novice.action">
                            {{#select data.novice.action}}
                            <option value="A">{{localize "ACTION.ACTIVE"}}</option>
                            <option value="M">{{localize "ACTION.MOVEMENT"}}</option>
                            <option value="T">{{localize "ACTION.FULL_TURN"}}</option>
                            <option value="F">{{localize "ACTION.FREE"}}</option>
                            <option value="P">{{localize "ACTION.PASSIVE"}}</option>
                            <option value="R">{{localize "ACTION.REACTION"}}</option>
                            <option value="S">{{localize "ACTION.SPECIAL"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="active">
                        <label for="{{item.id}}-data.novice.isActive">{{localize "TRAIT.ACTIVE"}}</label>
                        {{#if data.novice.isActive}}
                        <input id="{{item.id}}-data.novice.isActive" name="data.novice.isActive" type="checkbox" value="active" checked/>
                        {{else}}
                        <input id="{{item.id}}-data.novice.isActive" name="data.novice.isActive" type="checkbox" value="active"/>
                        {{/if}}
                    </div>
                    {{editor content=data.novice.description target="data.novice.description" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="adept">
                <div class="adept foreground border">
                    <h1>{{localize "TITLE.ADEPT"}}</h1>
                    <div class="action">
                        <label for="{{item.id}}-data.adept.action" >{{localize "TRAIT.ACTION"}}</label>
                        <select id="{{item.id}}-data.adept.action" name="data.adept.action">
                            {{#select data.adept.action}}
                            <option value="A">{{localize "ACTION.ACTIVE"}}</option>
                            <option value="M">{{localize "ACTION.MOVEMENT"}}</option>
                            <option value="T">{{localize "ACTION.FULL_TURN"}}</option>
                            <option value="F">{{localize "ACTION.FREE"}}</option>
                            <option value="P">{{localize "ACTION.PASSIVE"}}</option>
                            <option value="R">{{localize "ACTION.REACTION"}}</option>
                            <option value="S">{{localize "ACTION.SPECIAL"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="active">
                        <label for="{{item.id}}-data.adept.isActive">{{localize "TRAIT.ACTIVE"}}</label>
                        {{#if data.adept.isActive}}
                        <input id="{{item.id}}-data.adept.isActive" name="data.adept.isActive" type="checkbox" value="active" checked/>
                        {{else}}
                        <input id="{{item.id}}-data.adept.isActive" name="data.adept.isActive" type="checkbox" value="active"/>
                        {{/if}}
                    </div>
                    {{editor content=data.adept.description target="data.adept.description" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="master">
                <div class="master foreground border">
                    <h1>{{localize "TITLE.MASTER"}}</h1>
                    <div class="action">
                        <label for="{{item.id}}-data.master.action">{{localize "TRAIT.ACTION"}}</label>
                        <select id="{{item.id}}-data.master.action" name="data.master.action">
                            {{#select data.master.action}}
                            <option value="A">{{localize "ACTION.ACTIVE"}}</option>
                            <option value="M">{{localize "ACTION.MOVEMENT"}}</option>
                            <option value="T">{{localize "ACTION.FULL_TURN"}}</option>
                            <option value="F">{{localize "ACTION.FREE"}}</option>
                            <option value="P">{{localize "ACTION.PASSIVE"}}</option>
                            <option value="R">{{localize "ACTION.REACTION"}}</option>
                            <option value="S">{{localize "ACTION.SPECIAL"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="active">
                        <label for="{{item.id}}-data.master.isActive">{{localize "TRAIT.ACTIVE"}}</label>
                        {{#if data.master.isActive}}
                        <input id="{{item.id}}-data.master.isActive" name="data.master.isActive" type="checkbox" value="active" checked/>
                        {{else}}
                        <input id="{{item.id}}-data.master.isActive" name="data.master.isActive" type="checkbox" value="active"/>
                        {{/if}}
                    </div>
                    {{editor content=data.master.description target="data.master.description" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/symbaroum/template/sheet/tab/bonus.html}}
            </div>
        </div>
    </div>
</form>