<form class="{{cssClass}}" autocomplete="off">
    <div class="weapon">
        <div class="sheet-header foreground border">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label>{{localize "WEAPON.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}"/>
                </div>
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label>"NPC damage"</label>
                    <input type="number" value="{{data.npcDamage}}" data-dtype="Number" disabled/>
                </div>
                <div class="name">
                    <label>PC damage</label>
                    <input type="text" value="{{data.pcDamage}}" data-dtype="Text" disabled/>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="qualities">{{localize "TAB.QUALITIES"}}</b>
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description foreground border">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="stats">
                <div class="stats foreground border">
                    <h1>{{localize "TITLE.STATS"}}</h1>
                    <div class="attribute">
                        <label>{{localize "WEAPON.ATTRIBUTE"}}</label>
                        <select name="data.attribute">
                            {{#select data.attribute}}
                            <option value="accurate">{{localize "ATTRIBUTE.ACCURATE"}}</option>
                            <option value="cunning">{{localize "ATTRIBUTE.CUNNING"}}</option>
                            <option value="discreet">{{localize "ATTRIBUTE.DISCREET"}}</option>
                            <option value="persuasive">{{localize "ATTRIBUTE.PERSUASIVE"}}</option>
                            <option value="quick">{{localize "ATTRIBUTE.QUICK"}}</option>
                            <option value="resolute">{{localize "ATTRIBUTE.RESOLUTE"}}</option>
                            <option value="strong">{{localize "ATTRIBUTE.STRONG"}}</option>
                            <option value="vigilant">{{localize "ATTRIBUTE.VIGILANT"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="reference">
                        <label>{{localize "WEAPON_CLASS.LABEL"}}</label>
                        <select name="data.reference">
                            {{#select data.reference}}
                            <option value="1handed">{{localize "WEAPON_CLASS.1HANDED"}}</option>
                            <option value="short">{{localize "WEAPON_CLASS.SHORT"}}</option>
                            <option value="long">{{localize "WEAPON_CLASS.LONG"}}</option>
                            <option value="unarmed">{{localize "WEAPON_CLASS.UNARMED"}}</option>
                            <option value="heavy">{{localize "WEAPON_CLASS.HEAVY"}}</option>
                            <option value="ranged">{{localize "WEAPON_CLASS.RANGED"}}</option>
                            <option value="thrown">{{localize "WEAPON_CLASS.THROWN"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="damage">
                        <label>Base Damage</label>
                        <select name="data.baseDamage">
                            {{#select data.baseDamage}}
                            <option value="1d4">1d4</option>
                            <option value="1d6">1d6</option>
                            <option value="1d8">1d8</option>
                            <option value="1d10">1d10</option>
                            <option value="1d12">1d12</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="damage">
                        <label>damagebonus</label>
                        <input name="data.bonusDamage" type="text" value="{{data.bonusDamage}}"/>
                    </div>
                    <div class="cost">
                        <label>{{localize "WEAPON.COST"}}</label>
                        <input name="data.cost" type="text" value="{{data.cost}}"/>
                    </div>
                    <div class="number">
                        <label>{{localize "WEAPON.NUMBER"}}</label>
                        <input name="data.number" type="number" value="{{data.number}}"/>
                    </div>
                    <div class="quality">
                        <label>{{localize "WEAPON.QUALITY"}}</label>
                        <input name="data.quality" type="text" value="{{data.quality}}"/>
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="qualities">
                <div class="qualities foreground border">
                    <h1>{{localize "TITLE.QUALITIES"}}</h1>
                    <div class="short">
                        <label>{{localize "QUALITY.SHORT"}}</label>
                        {{#if data.qualities.short}}
                        <input name="data.qualities.short" type="checkbox" value="short" checked/>
                        {{else}}
                        <input name="data.qualities.short" type="checkbox" value="short"/>
                        {{/if}}
                    </div>
                    <div class="long">
                        <label>{{localize "QUALITY.LONG"}}</label>
                        {{#if data.qualities.long}}
                        <input name="data.qualities.long" type="checkbox" value="long" checked/>
                        {{else}}
                        <input name="data.qualities.long" type="checkbox" value="long"/>
                        {{/if}}
                    </div>
                    <div class="precise">
                        <label>{{localize "QUALITY.PRECISE"}}</label>
                        {{#if data.qualities.precise}}
                        <input name="data.qualities.precise" type="checkbox" value="precise" checked/>
                        {{else}}
                        <input name="data.qualities.precise" type="checkbox" value="precise"/>
                        {{/if}}
                    </div>
                    <div class="balanced">
                        <label>{{localize "QUALITY.BALANCED"}}</label>
                        {{#if data.qualities.balanced}}
                        <input name="data.qualities.balanced" type="checkbox" value="balanced" checked/>
                        {{else}}
                        <input name="data.qualities.balanced" type="checkbox" value="balanced"/>
                        {{/if}}
                    </div>
                    <div class="deepImpact">
                        <label>{{localize "QUALITY.DEEPIMPACT"}}</label>
                        {{#if data.qualities.deepImpact}}
                        <input name="data.qualities.deepImpact" type="checkbox" value="deepImpact" checked/>
                        {{else}}
                        <input name="data.qualities.deepImpact" type="checkbox" value="deepImpact"/>
                        {{/if}}
                    </div>
                    <div class="concealed">
                        <label>{{localize "QUALITY.CONCEALED"}}</label>
                        {{#if data.qualities.concealed}}
                        <input name="data.qualities.concealed" type="checkbox" value="concealed" checked/>
                        {{else}}
                        <input name="data.qualities.concealed" type="checkbox" value="concealed"/>
                        {{/if}}
                    </div>
                    <div class="bastard">
                        <label>{{localize "QUALITY.BASTARD"}}</label>
                        {{#if data.qualities.bastard}}
                        <input name="data.qualities.bastard" type="checkbox" value="bastard" checked/>
                        {{else}}
                        <input name="data.qualities.bastard" type="checkbox" value="bastard"/>
                        {{/if}}
                    </div>
                    <div class="returning">
                        <label>{{localize "QUALITY.RETURNING"}}</label>
                        {{#if data.qualities.returning}}
                        <input name="data.qualities.returning" type="checkbox" value="returning" checked/>
                        {{else}}
                        <input name="data.qualities.returning" type="checkbox" value="returning"/>
                        {{/if}}
                    </div>
                    <div class="blunt">
                        <label>{{localize "QUALITY.BLUNT"}}</label>
                        {{#if data.qualities.blunt}}
                        <input name="data.qualities.blunt" type="checkbox" value="blunt" checked/>
                        {{else}}
                        <input name="data.qualities.blunt" type="checkbox" value="blunt"/>
                        {{/if}}
                    </div>
                    <div class="unwieldy">
                        <label>{{localize "QUALITY.UNWIELDY"}}</label>
                        {{#if data.qualities.unwieldy}}
                        <input name="data.qualities.unwieldy" type="checkbox" value="unwieldy" checked/>
                        {{else}}
                        <input name="data.qualities.unwieldy" type="checkbox" value="unwieldy"/>
                        {{/if}}
                    </div>
                    <div class="wrecking">
                        <label>{{localize "QUALITY.WRECKING"}}</label>
                        {{#if data.qualities.wrecking}}
                        <input name="data.qualities.wrecking" type="checkbox" value="wrecking" checked/>
                        {{else}}
                        <input name="data.qualities.wrecking" type="checkbox" value="wrecking"/>
                        {{/if}}
                    </div>
                    <div class="jointed">
                        <label>{{localize "QUALITY.JOINTED"}}</label>
                        {{#if data.qualities.jointed}}
                        <input name="data.qualities.jointed" type="checkbox" value="jointed" checked/>
                        {{else}}
                        <input name="data.qualities.jointed" type="checkbox" value="jointed"/>
                        {{/if}}
                    </div>
                    <div class="ensnaring">
                        <label>{{localize "QUALITY.ENSNARING"}}</label>
                        {{#if data.qualities.ensnaring}}
                        <input name="data.qualities.ensnaring" type="checkbox" value="ensnaring" checked/>
                        {{else}}
                        <input name="data.qualities.ensnaring" type="checkbox" value="ensnaring"/>
                        {{/if}}
                    </div>
                    <div class="massive">
                        <label>{{localize "QUALITY.MASSIVE"}}</label>
                        {{#if data.qualities.massive}}
                        <input name="data.qualities.massive" type="checkbox" value="massive" checked/>
                        {{else}}
                        <input name="data.qualities.massive" type="checkbox" value="massive"/>
                        {{/if}}
                    </div>
                    <div class="bloodLetting">
                        <label>{{localize "QUALITY.BLOODLETTING"}}</label>
                        {{#if data.qualities.bloodLetting}}
                        <input name="data.qualities.bloodLetting" type="checkbox" value="bloodLetting" checked/>
                        {{else}}
                        <input name="data.qualities.bloodLetting" type="checkbox" value="bloodLetting"/>
                        {{/if}}
                    </div>
                    <div class="areaCone">
                        <label>{{localize "QUALITY.AREAC"}}</label>
                        {{#if data.qualities.areaCone}}
                        <input name="data.qualities.areaCone" type="checkbox" value="areaCone" checked/>
                        {{else}}
                        <input name="data.qualities.areaCone" type="checkbox" value="areaCone"/>
                        {{/if}}
                    </div>
                    <div class="areaMeleeRadius">
                        <label>{{localize "QUALITY.AREAMRR"}}</label>
                        {{#if data.qualities.areaMeleeRadius}}
                        <input name="data.qualities.areaMeleeRadius" type="checkbox" value="areaMeleeRadius" checked/>
                        {{else}}
                        <input name="data.qualities.areaMeleeRadius" type="checkbox" value="areaMeleeRadius"/>
                        {{/if}}
                    </div>
                    <div class="areaShortRadius">
                        <label>{{localize "QUALITY.AREASRR"}}</label>
                        {{#if data.qualities.areaShortRadius}}
                        <input name="data.qualities.areaShortRadius" type="checkbox" value="areaShortRadius" checked/>
                        {{else}}
                        <input name="data.qualities.areaShortRadius" type="checkbox" value="areaShortRadius"/>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/symbaroum/template/sheet/tab/bonus.html}}
            </div>
        </div>
    </div>
</form>