<form class="{{cssClass}}" autocomplete="off">
    <div class="weapon">
        <div class="sheet-header foreground border">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label for="{{id}}-item.name">{{localize "WEAPON.NAME"}}</label>
                    <input id="{{id}}-item.name" name="name" type="text" value="{{item.name}}"/>
                </div>
                <div class="computedvalues">
                    <div class="wrapper-column">
                        <label>{{localize "WEAPON.PC_DAMAGE"}}</label>
                        <input type="text" value="{{system.pcDamage}}" data-dtype="Text" disabled/>
                    </div>
                    <div class="wrapper-column">
                        <label>{{localize "WEAPON.NPC_DAMAGE"}}</label>
                        <input type="number" value="{{system.npcDamage}}" data-dtype="Number" disabled/>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="qualities">{{localize "TAB.QUALITIES"}}</b>
            {{#if system.isArtifact}}
            <b class="item" data-tab="power">{{localize "TAB.POWER"}}</b>
            {{/if}}
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>
        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description foreground border">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    {{editor content=system.description target="system.description" button=true owner=owner editable=true}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="stats">
                <div class="stats foreground border">
                    <h1>{{localize "TITLE.STATS"}}</h1>
                    <div class="attribute">
                        <label for="{{id}}-system.attribute">{{localize "WEAPON.ATTRIBUTE"}}</label>
                        <select id="{{id}}-system.attribute" name="system.attribute">
                            {{#select system.attribute}}
                            <option value="accurate">{{localize "ATTRIBUTE.ACCURATE"}}</option>
                            <option value="cunning">{{localize "ATTRIBUTE.CUNNING"}}</option>
                            <option value="discreet">{{localize "ATTRIBUTE.DISCREET"}}</option>
                            <option value="persuasive">{{localize "ATTRIBUTE.PERSUASIVE"}}</option>
                            <option value="quick">{{localize "ATTRIBUTE.QUICK"}}</option>
                            <option value="resolute">{{localize "ATTRIBUTE.RESOLUTE"}}</option>
                            <option value="strong">{{localize "ATTRIBUTE.STRONG"}}</option>
                            <option value="vigilant">{{localize "ATTRIBUTE.VIGILANT"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="reference">
                        <label for="{{id}}-system.reference">{{localize "WEAPON_CLASS.LABEL"}}</label>
                        <select id="{{id}}-system.reference" name="system.reference">
                            {{#select system.reference}}
                            <option value="1handed">{{localize "WEAPON_CLASS.1HANDED"}}</option>
                            <option value="short">{{localize "WEAPON_CLASS.SHORT"}}</option>
                            <option value="long">{{localize "WEAPON_CLASS.LONG"}}</option>
                            <option value="unarmed">{{localize "WEAPON_CLASS.UNARMED"}}</option>
                            <option value="heavy">{{localize "WEAPON_CLASS.HEAVY"}}</option>
                            <option value="ranged">{{localize "WEAPON_CLASS.RANGED"}}</option>
                            <option value="thrown">{{localize "WEAPON_CLASS.THROWN"}}</option>
                            <option value="shield">{{localize "WEAPON_CLASS.SHIELD"}}</option>
                            <option value="other">{{localize "GEAR.OTHER"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="damage">
                        <label for="{{id}}-system.baseDamage">{{localize "WEAPON.BASE_DAMAGE"}}</label>
                        <select id="{{id}}-system.baseDamage" name="system.baseDamage">
                            {{#select system.baseDamage}}
                            <option value="1d4">1d4</option>
                            <option value="1d6">1d6</option>
                            <option value="1d8">1d8</option>
                            <option value="1d10">1d10</option>
                            <option value="1d12">1d12</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="damage">
                        <label for="{{id}}-system.bonusDamage" >{{localize "WEAPON.BONUS_DAMAGE"}}</label>
                        <input id="{{id}}-system.bonusDamage" name="system.bonusDamage" type="text" value="{{system.bonusDamage}}"/>
                    </div>
                    <div class="attribute">
                        <label for="{{id}}-system.alternativeDamage">{{localize "TRAIT_LABEL.ALTERNATIVEDAMAGE"}}</label>
                        <select id="{{id}}-system.alternativeDamage" name="system.alternativeDamage">
                            {{#select system.alternativeDamage}}
                            <option value="none">{{localize "WEAPON.NONE"}}</option>
                            <option value="resolute">{{localize "ATTRIBUTE.RESOLUTE"}}</option>
                            <option value="strong">{{localize "ATTRIBUTE.STRONG"}}</option>
                            <option value="accurate">{{localize "ATTRIBUTE.ACCURATE"}}</option>
                            <option value="cunning">{{localize "ATTRIBUTE.CUNNING"}}</option>
                            <option value="discreet">{{localize "ATTRIBUTE.DISCREET"}}</option>
                            <option value="persuasive">{{localize "ATTRIBUTE.PERSUASIVE"}}</option>
                            <option value="quick">{{localize "ATTRIBUTE.QUICK"}}</option>
                            <option value="vigilant">{{localize "ATTRIBUTE.VIGILANT"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="cost">
                        <label for="{{id}}-system.cost">{{localize "WEAPON.COST"}}</label>
                        <input id="{{id}}-system.cost" name="system.cost" type="text" value="{{system.cost}}"/>
                    </div>
                    <div class="number">
                        <label for="{{id}}-system.number">{{localize "WEAPON.NUMBER"}}</label>
                        <input id="{{id}}-system.number" name="system.number" type="number" value="{{system.number}}"/>
                    </div>
                    <div class="number">
                        <label for="{{id}}-system.isArtifact">{{localize "ITEM.ARTIFACT"}}</label>
                        {{#if systemisArtifact}}
                        <input id="{{id}}-system.isArtifact" name="system.isArtifact" type="checkbox" value="artifact" checked/>
                        {{else}}
                        <input id="{{id}}-system.isArtifact" name="system.isArtifact" type="checkbox" value="artifact"/>
                        {{/if}}
                    </div>
                    <div class="quality">
                        <label for="{{id}}-system.quality">{{localize "WEAPON.QUALITY"}}</label>
                        <input name="system.quality" type="text" value="{{system.quality}}"/>
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="qualities">
                <div class="qualities foreground border">
                    <h1>{{localize "TITLE.QUALITIES"}}</h1>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.short">{{localize "QUALITY.SHORT"}}</label>
                        {{#if system.qualities.short}}
                        <input id="{{id}}-system.qualities.short" name="system.qualities.short" type="checkbox" value="short" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.short" name="system.qualities.short" type="checkbox" value="short"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.long">{{localize "QUALITY.LONG"}}</label>
                        {{#if system.qualities.long}}
                        <input id="{{id}}-system.qualities.long" name="system.qualities.long" type="checkbox" value="long" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.long" name="system.qualities.long" type="checkbox" value="long"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.precise">{{localize "QUALITY.PRECISE"}}</label>
                        {{#if system.qualities.precise}}
                        <input id="{{id}}-system.qualities.precise" name="system.qualities.precise" type="checkbox" value="precise" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.precise" name="system.qualities.precise" type="checkbox" value="precise"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.balanced">{{localize "QUALITY.BALANCED"}}</label>
                        {{#if system.qualities.balanced}}
                        <input id="{{id}}-system.qualities.balanced" name="system.qualities.balanced" type="checkbox" value="balanced" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.balanced" name="system.qualities.balanced" type="checkbox" value="balanced"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.deepImpact">{{localize "QUALITY.DEEPIMPACT"}}</label>
                        {{#if system.qualities.deepImpact}}
                        <input id="{{id}}-system.qualities.deepImpact" name="system.qualities.deepImpact" type="checkbox" value="deepImpact" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.deepImpact" name="system.qualities.deepImpact" type="checkbox" value="deepImpact"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.concealed">{{localize "QUALITY.CONCEALED"}}</label>
                        {{#if system.qualities.concealed}}
                        <input id="{{id}}-system.qualities.concealed" name="system.qualities.concealed" type="checkbox" value="concealed" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.concealed" name="system.qualities.concealed" type="checkbox" value="concealed"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.bastard">{{localize "QUALITY.BASTARD"}}</label>
                        {{#if system.qualities.bastard}}
                        <input id="{{id}}-system.qualities.bastard" name="system.qualities.bastard" type="checkbox" value="bastard" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.bastard" name="system.qualities.bastard" type="checkbox" value="bastard"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.mystical">{{localize "QUALITY.MYSTICAL"}}</label>
                        {{#if system.qualities.mystical}}
                        <input id="{{id}}-system.qualities.mystical" name="system.qualities.mystical" type="checkbox" value="mystical" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.mystical" name="system.qualities.mystical" type="checkbox" value="mystical"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.blunt">{{localize "QUALITY.BLUNT"}}</label>
                        {{#if system.qualities.blunt}}
                        <input id="{{id}}-system.qualities.blunt" name="system.qualities.blunt" type="checkbox" value="blunt" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.blunt" name="system.qualities.blunt" type="checkbox" value="blunt"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.unwieldy">{{localize "QUALITY.UNWIELDY"}}</label>
                        {{#if system.qualities.unwieldy}}
                        <input id="{{id}}-system.qualities.unwieldy" name="system.qualities.unwieldy" type="checkbox" value="unwieldy" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.unwieldy" name="system.qualities.unwieldy" type="checkbox" value="unwieldy"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.wrecking">{{localize "QUALITY.WRECKING"}}</label>
                        {{#if system.qualities.wrecking}}
                        <input id="{{id}}-system.qualities.wrecking" name="system.qualities.wrecking" type="checkbox" value="wrecking" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.wrecking" name="system.qualities.wrecking" type="checkbox" value="wrecking"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.jointed">{{localize "QUALITY.JOINTED"}}</label>
                        {{#if system.qualities.jointed}}
                        <input id="{{id}}-system.qualities.jointed" name="system.qualities.jointed" type="checkbox" value="jointed" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.jointed" name="system.qualities.jointed" type="checkbox" value="jointed"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.ensnaring">{{localize "QUALITY.ENSNARING"}}</label>
                        {{#if system.qualities.ensnaring}}
                        <input id="{{id}}-system.qualities.ensnaring" name="system.qualities.ensnaring" type="checkbox" value="ensnaring" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.ensnaring" name="system.qualities.ensnaring" type="checkbox" value="ensnaring"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.massive">{{localize "QUALITY.MASSIVE"}}</label>
                        {{#if system.qualities.massive}}
                        <input id="{{id}}-system.qualities.massive" name="system.qualities.massive" type="checkbox" value="massive" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.massive" name="system.qualities.massive" type="checkbox" value="massive"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.bloodLetting">{{localize "QUALITY.BLOODLETTING"}}</label>
                        {{#if system.qualities.bloodLetting}}
                        <input id="{{id}}-system.qualities.bloodLetting" name="system.qualities.bloodLetting" type="checkbox" value="bloodLetting" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.bloodLetting" name="system.qualities.bloodLetting" type="checkbox" value="bloodLetting"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.returning">{{localize "QUALITY.RETURNING"}}</label>
                        {{#if system.qualities.returning}}
                        <input id="{{id}}-system.qualities.returning" name="system.qualities.returning" type="checkbox" value="returning" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.returning" name="system.qualities.returning" type="checkbox" value="returning"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.areaCone">{{localize "QUALITY.AREAC"}}</label>
                        {{#if system.qualities.areaCone}}
                        <input id="{{id}}-system.qualities.areaCone" name="system.qualities.areaCone" type="checkbox" value="areaCone" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.areaCone" name="system.qualities.areaCone" type="checkbox" value="areaCone"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.areaMeleeRadius">{{localize "QUALITY.AREAMRR"}}</label>
                        {{#if system.qualities.areaMeleeRadius}}
                        <input id="{{id}}-system.qualities.areaMeleeRadius" name="system.qualities.areaMeleeRadius" type="checkbox" value="areaMeleeRadius" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.areaMeleeRadius" name="system.qualities.areaMeleeRadius" type="checkbox" value="areaMeleeRadius"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.areaShortRadius">{{localize "QUALITY.AREASRR"}}</label>
                        {{#if system.qualities.areaShortRadius}}
                        <input id="{{id}}-system.qualities.areaShortRadius" name="system.qualities.areaShortRadius" type="checkbox" value="areaShortRadius" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.areaShortRadius" name="system.qualities.areaShortRadius" type="checkbox" value="areaShortRadius"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.thundering">{{localize "QUALITY.THUNDERING"}}</label>
                        {{#if system.qualities.thundering}}
                        <input id="{{id}}-system.qualities.thundering" name="system.qualities.thundering" type="checkbox" value="thundering" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.thundering" name="system.qualities.thundering" type="checkbox" value="thundering"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.acidcoated">{{localize "QUALITY.ACIDCOATED"}}</label>
                        {{#if system.qualities.acidcoated}}
                        <input id="{{id}}-system.qualities.acidcoated" name="system.qualities.acidcoated" type="checkbox" value="acidcoated" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.acidcoated" name="system.qualities.acidcoated" type="checkbox" value="acidcoated"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.bane">{{localize "QUALITY.BANE"}}</label>
                        {{#if system.qualities.bane}}
                        <input id="{{id}}-system.qualities.bane" name="system.qualities.bane" type="checkbox" value="bane" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.bane" name="system.qualities.bane" type="checkbox" value="bane"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.deathrune">{{localize "QUALITY.DEATHRUNE"}}</label>
                        {{#if system.qualities.deathrune}}
                        <input id="{{id}}-system.qualities.deathrune" name="system.qualities.deathrune" type="checkbox" value="deathrune" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.deathrune" name="system.qualities.deathrune" type="checkbox" value="deathrune"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.desecrated">{{localize "QUALITY.DESECRATED"}}</label>
                        {{#if system.qualities.desecrated}}
                        <input id="{{id}}-system.qualities.desecrated" name="system.qualities.desecrated" type="checkbox" value="desecrated" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.desecrated" name="system.qualities.desecrated" type="checkbox" value="desecrated"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.flaming">{{localize "QUALITY.FLAMING"}}</label>
                        {{#if system.qualities.flaming}}
                        <input id="{{id}}-system.qualities.flaming" name="system.qualities.flaming" type="checkbox" value="flaming" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.flaming" name="system.qualities.flaming" type="checkbox" value="flaming"/>
                        {{/if}}
                    </div>
                    <div class="rightcolumn">
                        <label for="{{id}}-system.qualities.hallowed">{{localize "QUALITY.HALLOWED"}}</label>
                        {{#if system.qualities.hallowed}}
                        <input id="{{id}}-system.qualities.hallowed" name="system.qualities.hallowed" type="checkbox" value="hallowed" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.hallowed" name="system.qualities.hallowed" type="checkbox" value="hallowed"/>
                        {{/if}}
                    </div>
                    <div class="leftcolumn">
                        <label for="{{id}}-system.qualities.poison">{{localize "QUALITY.POISON"}}</label>
                        {{#if system.qualities.poison}}
                        <input id="{{id}}-system.qualities.poison" name="system.qualities.poison" type="checkbox" value="poison" checked/>
                        {{else}}
                        <input id="{{id}}-system.qualities.poison" name="system.qualities.poison" type="checkbox" value="poison"/>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/symbaroum/template/sheet/tab/bonus.html}}
            </div>
            {{#if system.isArtifact}}
            <div class="tab" data-group="primary" data-tab="power">
                {{> systems/symbaroum/template/sheet/tab/artifact.html}}
            </div>
            {{/if}}
        </div>
    </div>
</form>