.symbaroum.sheet.actor .player .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}


.symbaroum.sheet.actor .player .section1
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 100%;
}

.symbaroum.sheet.actor .health-toughnesscol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc(30% - 5px);
    border-top: none;
    margin-right: 5px;
}

.symbaroum.sheet.actor .health-corruptioncol {
    display: flex;
    flex-direction: initial;    
    flex-basis: calc(60% - 5px);
    flex-grow: 2;
    border-top: none;
}

.symbaroum.sheet.actor .corruption-col1,
.symbaroum.sheet.actor .corruption-col2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc(50% - 5px);
    border-top: none;
    margin-right: 5px;
}
.symbaroum.sheet.actor .toughness {
    display: flex;
    flex-direction: row;
    flex-basis: calc(25% - 5px);
    justify-content: center;
}

.symbaroum.sheet.actor .nonattributes {
    display: flex;
    flex-direction: column;
    flex-basis: calc(60% - 5px);
    flex-grow: 1;
}

.symbaroum.sheet.actor .corruption {
    display: flex;
    flex-direction: column;
    flex-basis: calc(40% - 5px);    
    justify-content: center;
}


.symbaroum.sheet.actor .player .main .attributes {   
    border-top: none;
    margin-right: 5px;
    margin-bottom: 0px;
    width: calc(25% - 5px);
}

.symbaroum.sheet.actor .player .main .attributes .attribute {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 0 10px;
}

.symbaroum.sheet.actor .player .main .attributes .attribute:last-child {
    margin-bottom: 10px;
}

.symbaroum.sheet.actor .player .main .attributes .attribute button {
    flex-basis: 70%;
}

.symbaroum.sheet.actor .player .main .attributes .attribute input {
    flex-basis: 30%;
}

.symbaroum.sheet.actor .player .main .health {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc(25% - 5px);
    border-top: none;
    margin-left: 5px;
}


.symbaroum.sheet.actor .player .main .health2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: calc(70% - 5px);
    border-top: none;
    margin-left: 10px;
    margin-bottom: 5px;
}

.symbaroum.sheet.actor .player .main .stat-modifiers {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.symbaroum.sheet.actor .player .main .health .toughness,
.symbaroum.sheet.actor .player .main .health .toughness-current,
.symbaroum.sheet.actor .player .main .health .toughness-total,
.symbaroum.sheet.actor .player .main .health .toughness-threshold,
.symbaroum.sheet.actor .player .main .health .corruption,
.symbaroum.sheet.actor .player .main .health .corruption-temporary,
.symbaroum.sheet.actor .player .main .health .corruption-permanent,
.symbaroum.sheet.actor .player .main .health .corruption-threshold,
.symbaroum.sheet.actor .player .main .health2 .toughness-current,
.symbaroum.sheet.actor .player .main .health2 .toughness-total,
.symbaroum.sheet.actor .player .main .health2 .toughness-threshold,
.symbaroum.sheet.actor .player .main .health2 .corruption-current,
.symbaroum.sheet.actor .player .main .health2 .corruption-temporary,
.symbaroum.sheet.actor .player .main .health2 .corruption-longterm,
.symbaroum.sheet.actor .player .main .health2 .corruption-permanent,
.symbaroum.sheet.actor .player .main .health2 .corruption-threshold,
.symbaroum.sheet.actor .player .main .health2 .corruption-max {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 10px 10px 0 10px;
    justify-content: center;
}

.symbaroum.sheet.actor .player .main .health .corruption-threshold {
    margin-bottom: 10px;
}

.symbaroum.sheet.actor .player .main .health .toughness-current label,
.symbaroum.sheet.actor .player .main .health .toughness-total label,
.symbaroum.sheet.actor .player .main .health .toughness-threshold label,
.symbaroum.sheet.actor .player .main .health .corruption-temporary label,
.symbaroum.sheet.actor .player .main .health .corruption-permanent label,
.symbaroum.sheet.actor .player .main .health .corruption-threshold label,
.symbaroum.sheet.actor .player .main .health2 .toughness-current label,
.symbaroum.sheet.actor .player .main .health2 .toughness-total label,
.symbaroum.sheet.actor .player .main .health2 .toughness-threshold label,
.symbaroum.sheet.actor .player .main .health2 .corruption-current label,
.symbaroum.sheet.actor .player .main .health2 .corruption-temporary label,
.symbaroum.sheet.actor .player .main .health2 .corruption-longterm label,
.symbaroum.sheet.actor .player .main .health2 .corruption-permanent label,
.symbaroum.sheet.actor .player .main .health2 .corruption-threshold label,
.symbaroum.sheet.actor .player .main .health2 .corruption-max label {
    flex-basis: 70%;
    padding: 0px;
}

.symbaroum.sheet.actor .player .main .health .toughness-current input,
.symbaroum.sheet.actor .player .main .health .toughness-total input,
.symbaroum.sheet.actor .player .main .health .toughness-threshold input,
.symbaroum.sheet.actor .player .main .health .corruption-temporary input,
.symbaroum.sheet.actor .player .main .health .corruption-permanent input,
.symbaroum.sheet.actor .player .main .health .corruption-threshold input,
.symbaroum.sheet.actor .player .main .health .corruption-max input,
.symbaroum.sheet.actor .player .main .health2 .toughness-current input,
.symbaroum.sheet.actor .player .main .health2 .toughness-total input,
.symbaroum.sheet.actor .player .main .health2 .toughness-threshold input,
.symbaroum.sheet.actor .player .main .health2 .corruption-current input,
.symbaroum.sheet.actor .player .main .health2 .corruption-temporary input,
.symbaroum.sheet.actor .player .main .health2 .corruption-longterm input,
.symbaroum.sheet.actor .player .main .health2 .corruption-permanent input,
.symbaroum.sheet.actor .player .main .health2 .corruption-threshold input,
.symbaroum.sheet.actor .player .main .health2 .corruption-max input {
    flex-basis: 30%;
}

.symbaroum.sheet.actor .player .main .health2 .toughness-threshold,
.symbaroum.sheet.actor .player .main .health2 .corruption-longterm,
.symbaroum.sheet.actor .player .main .health2 .corruption-max {
    margin-bottom: 10px;
}


.symbaroum.sheet.actor .player .main .combat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 40%;
    border-top: none;
    margin-left: 10px;
}

.symbaroum.sheet.actor .player .main .combat .initiative, 
.symbaroum.sheet.actor .player .main .combat .defenseAttr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 10px 0px 0px 0px;
}

.symbaroum.sheet.actor .player .main .combat .stat-modifiers .initiative, 
.symbaroum.sheet.actor .player .main .combat .stat-modifiers .defenseAttr {
	flex-wrap: nowrap;
}

.symbaroum.sheet.actor .player .main .combat .armor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 10px;
}

.symbaroum.sheet.actor .player .main .combat .armor .roll-armor,
.symbaroum.sheet.actor .player .main .combat .armor .protection,
.symbaroum.sheet.actor .player .main .combat .armor .defense,
.symbaroum.sheet.actor .player .main .combat .armor .quality {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.symbaroum.sheet.actor .player .main .combat .armor .roll-armor,
.symbaroum.sheet.actor .player .main .combat .armor .quality {
    flex-basis: 100%;
}

.symbaroum.sheet.actor .player .main .combat .armor .quality {
    margin-top: 10px;
}

.symbaroum.sheet.actor .player .main .combat .armor .protection {
    flex-basis: calc(50% - 5px);
    margin-top: 10px;
    margin-right: 5px;
}

.symbaroum.sheet.actor .player .main .combat .armor .defense {
    flex-basis: calc(50% - 5px);
    margin-top: 10px;
    margin-left: 5px;
}

.symbaroum.sheet.actor .player .main .combat .armor .protection label,
.symbaroum.sheet.actor .player .main .combat .armor .defense label {
    width: 105px;
}

.symbaroum.sheet.actor .player .main .combat .armor .protection input,
.symbaroum.sheet.actor .player .main .combat .armor .defense input {
    flex-basis: 30%;
}

.symbaroum.sheet.actor .player .main .combat .weapons {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 0 10px 10px 10px;
    height: 120px;
}

.symbaroum.sheet.actor .player .main .combat .weapons .item-list .name {
    display: flex;
    flex-basis: 70%;
    justify-content: center;
}

.symbaroum.sheet.actor .player .main .combat .weapons .item-list .damage {
    flex-basis: 30%;
}

.symbaroum.sheet.actor .player .main .combat .weapons .item-list .weapon {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.symbaroum.sheet.actor .player .main .combat .weapons .item-list .weapon .damage {
    background: url(../../../asset/image/not-editable.jpg) repeat;
    border: 1px solid var(--color-border);
    border-left: none;
    box-shadow: inset 0 0 6px black;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.symbaroum.sheet.actor .player .main .abilities-powers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    border-top: none;
    margin-top: 10px;
    height: 390px;
}

.symbaroum.sheet.actor .player .main .abilities-powers .button.item-create {
    position: relative;
    top: 57px;
    left: 618px;
    font-size: 32px;
    color: var(--color-text);
    background: url(../../../asset/image/editable.jpg) repeat;
    height: 36px;
    width: 36px;
    text-align: center;
}

.symbaroum.sheet.actor .player .main .abilities-powers .traits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    height: 350px;
    overflow-y: scroll;
    align-content: baseline;
}

.symbaroum.sheet.actor .player .main .abilities-powers .traits .trait {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(50% - 10px);
    margin: 5px;
    height: 38px;
}

.symbaroum.sheet.actor .player .main .abilities-powers .traits .trait .name {
    display: flex;
    flex-basis: 75%;
}

.symbaroum.sheet.actor .player .main .abilities-powers .traits .trait .actions {
    flex-basis: 15%;
    color: var(--color-text);
    background: url(../../../asset/image/not-editable.jpg) repeat;
    height: 38px;
    text-align: center;
    border: 1px solid var(--color-border);
    border-left: none;
    box-shadow: inset 0 0 6px black;
    line-height: 38px;
}

.symbaroum.sheet.actor .player .main .abilities-powers .traits .trait .button {
    color: var(--color-text);
    text-align: center;
    flex-basis: 9%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
