.symbaroum.sheet.actor .player .bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.symbaroum.sheet.actor .player .bio .appearance {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  border-top: none;
}

.symbaroum.sheet.actor .player .bio .appearance label {
  width: 90px;
}

.symbaroum.sheet.actor .player .bio .appearance input {
  width: 50px;
  flex-grow: 1;
}

.symbaroum.sheet.actor .player .bio .appearance .wrapper-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 30%;
}

.symbaroum.sheet.actor .player .bio .appearance .wrapper-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 70%;
}

.symbaroum.sheet.actor .player .bio .appearance .wrapper-full {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.symbaroum.sheet.actor .player .bio .appearance .wrapper-left .age,
.symbaroum.sheet.actor .player .bio .appearance .wrapper-left .height,
.symbaroum.sheet.actor .player .bio .appearance .wrapper-left .weight {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  margin: 10px 10px 0 10px;
  justify-content: center;
}

.symbaroum.sheet.actor .player .bio .appearance .wrapper-left .weight {
  margin: 10px;
}

.symbaroum.sheet.actor .player .bio .appearance .wrapper-full .shadow {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  margin: 0 10px 10px 10px;
  justify-content: center;
}

.symbaroum.sheet.actor .player .bio .background,
.symbaroum.sheet.actor .player .bio .personal-goal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: calc(50% - 5px);
  border-top: none;
  margin-top: 10px;
  margin-right: 5px;
}

.symbaroum.sheet.actor .player .bio .personal-goal {
  margin-right: 0;
  margin-left: 5px;
}

.symbaroum.sheet.actor .player .bio .stigmas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  border-top: none;
  margin-top: 10px;
}

.symbaroum.sheet.actor .player .bio .editor,
.symbaroum.sheet.actor .player .bio .editor-content {
  font-family: var(--font-text);
  font-size: 14px;
  color: var(--color-text);
  height: 100%;
  width: 100%;
  background: url(../asset/image/editable.jpg) repeat;
  box-shadow: inset 0 0 6px black;
}

.symbaroum.sheet.actor .player .bio .editor {
  margin: 10px;
  border: 1px solid var(--color-border);
  height: 264px;
}

.symbaroum.sheet.actor .player .bio .appearance .editor {
  margin: 10px 10px 10px 0;
  height: 98px;
}

.symbaroum.sheet.actor .player .bio .stigmas .editor {
  height: 156px;
}

.symbaroum.sheet.actor .player .bio .editor-content {
  padding: 5px;
}

.symbaroum.sheet.actor .player .bio .editor .tox .tox-tbtn svg {
  fill: var(--color-title);
}

.symbaroum.sheet.actor .player .bio .editor .tox .tox-toolbar__primary {
  background: url(../asset/image/title.jpg) repeat;
}

.symbaroum.sheet.actor .player .bio .editor .tox .tox-tbtn svg:hover {
  fill: var(--color-active);
  text-shadow: 0 0 10px var(--color-active);
  box-shadow: none;
}
