.symbaroum.sheet.actor .player .gear {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 100%;
}

.symbaroum.sheet.actor .player .gear .wrapper-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: calc(60% - 5px);
  border-top: none;
  margin-right: 5px;
}

.symbaroum.sheet.actor .player .gear .wrapper-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: calc(40% - 5px);
  border-top: none;
  margin-left: 5px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts,
.symbaroum.sheet.actor .player .gear .wrapper-right .money,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border-top: none;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors {
  height: 200px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .weapons {
  height: 300px;
  margin-top: 10px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors .scrollable,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .scrollable,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .scrollable,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments .scrollable {
  overflow-y: scroll;
  width: 100%;
  padding: 2px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts {
  height: 234px;
  margin-top: 10px;
}

.symbaroum.sheet.actor .player .gear .wrapper-right .money {
  height: 159px;
  margin-top: 10px;
}

.symbaroum.sheet.actor .player .gear .wrapper-right .equipments {
  height: 585px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors th,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons th,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts th,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments th {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-label);
  font-family: var(--font-text);
  background: var(--title-color) repeat;
  text-align: center;
  border: none;
  border-radius: 0;
  margin: 0;
  margin-right: 5px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors th.addbutton .fas,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons th.addbutton .fas,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts th.addbutton .fas,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments th.addbutton .fas {
  color: var(--color-label);
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors td.state .state a i,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons td.state .state a i,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts td.state .state a i,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments td.state .state a i {
  font-size: 20px;
  text-align: center;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors table,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons table,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts table,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments table {
  border: 0px;
  margin-top: 0px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td .protection,
.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td .impeding,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td .damage,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td .attribute,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td .action,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td .corruption,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments .equipment td .quantity {
  background: var(--box-non-editable) repeat;
  border: 1px solid var(--color-border);
  box-shadow: inset 0 0 6px black;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td .cell,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td .cell,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td .cell,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments .equipment td .cell {
  background: var(--title-color) repeat;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td .armorname,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td .weaponname,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td .artifactname {
  width: 100%;
  max-width: 15em;
  min-width: 131px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td .namefield,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td .namefield,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td .namefield {
  display: flex;
  flex-flow: nowrap;
  min-width: 131px;
}

.symbaroum.sheet.actor .player .gear .wrapper-right .equipments .equipment td .namefield {
  display: flex;
  flex-flow: nowrap;
  min-width: 108px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td .image-container,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td .image-container,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td .image-container,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments .equipment td .image-container {
  width: 28px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors table td,
.symbaroum.sheet.actor .player .gear .wrapper-left .armors table th,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons table td,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons table th,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts table td,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts table th,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments table td,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments table th {
  margin: 2px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td.protection,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td.damage,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td.corruption,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments .equipment td.quantity {
  max-width: 6em;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors th.impeding,
.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td.impeding,
.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td.impeding .impeding,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons th.attribute,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td.attribute,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td.attribute .attribute,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td.action,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td.action .action {
  max-width: 4em;
  width: 4em;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td.state,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td.state,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td.state,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments .equipment td.state {
  max-width: 2em;
  width: 2em;
  font-size: 20px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td.button,
.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td.button .button,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td.button,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td.button .button,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td.button,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td.button button,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments .equipment td.button,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments .equipment td.button button {
  max-width: 2em;
  width: 2em;
  text-align: center;
  font-size: 20px;
}

.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td.state,
.symbaroum.sheet.actor .player .gear .wrapper-left .armors .armor td.impeding,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td.state,
.symbaroum.sheet.actor .player .gear .wrapper-left .weapons .weapon td.attribute,
.symbaroum.sheet.actor .player .gear .wrapper-left .artifacts .artifact td.state,
.symbaroum.sheet.actor .player .gear .wrapper-right .equipments .equipment td.state {
  text-align: center;
  align-items: center;
}

.symbaroum.sheet.actor .player .gear .wrapper-right .money .thaler,
.symbaroum.sheet.actor .player .gear .wrapper-right .money .shilling,
.symbaroum.sheet.actor .player .gear .wrapper-right .money .orteg {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  margin: 10px 10px 0 10px;
  justify-content: center;
}

.symbaroum.sheet.actor .player .gear .wrapper-right .money .orteg {
  margin-bottom: 10px;
}

.symbaroum.sheet.actor .player .gear .wrapper-right .money .thaler label,
.symbaroum.sheet.actor .player .gear .wrapper-right .money .shilling label,
.symbaroum.sheet.actor .player .gear .wrapper-right .money .orteg label {
  flex-basis: 70%;
}

.symbaroum.sheet.actor .player .gear .wrapper-right .money .thaler input,
.symbaroum.sheet.actor .player .gear .wrapper-right .money .shilling input,
.symbaroum.sheet.actor .player .gear .wrapper-right .money .orteg input {
  flex-basis: 30%;
}
