<div class="bonus foreground border">
    <h1>{{localize "TITLE.ATTRIBUTES"}}</h1>
    <div class="scroll">
        <div class="attribute">
            <label for="{{id}}-data.bonus.defense">{{localize "ARMOR.DEFENSE"}}</label>
            <input id="{{id}}-data.bonus.defense" name="data.bonus.defense" type="number" value="{{data.bonus.defense}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.accurate">{{localize "ATTRIBUTE.ACCURATE"}}</label>
            <input id="{{id}}-data.bonus.accurate" name="data.bonus.accurate" type="number" value="{{data.bonus.accurate}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.cunning">{{localize "ATTRIBUTE.CUNNING"}}</label>
            <input id="{{id}}-data.bonus.cunning" name="data.bonus.cunning" type="number" value="{{data.bonus.cunning}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.discreet">{{localize "ATTRIBUTE.DISCREET"}}</label>
            <input id="{{id}}-data.bonus.discreet" name="data.bonus.discreet" type="number" value="{{data.bonus.discreet}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.persuasive">{{localize "ATTRIBUTE.PERSUASIVE"}}</label>
            <input id="{{id}}-data.bonus.persuasive" name="data.bonus.persuasive" type="number" value="{{data.bonus.persuasive}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.quick">{{localize "ATTRIBUTE.QUICK"}}</label>
            <input id="{{id}}-data.bonus.quick" name="data.bonus.quick" type="number" value="{{data.bonus.quick}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.resolute">{{localize "ATTRIBUTE.RESOLUTE"}}</label>
            <input id="{{id}}-data.bonus.resolute" name="data.bonus.resolute" type="number" value="{{data.bonus.resolute}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.strong">{{localize "ATTRIBUTE.STRONG"}}</label>
            <input id="{{id}}-data.bonus.strong" name="data.bonus.strong" type="number" value="{{data.bonus.strong}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.vigilant">{{localize "ATTRIBUTE.VIGILANT"}}</label>
            <input id="{{id}}-data.bonus.vigilant" name="data.bonus.vigilant" type="number" value="{{data.bonus.vigilant}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.toughnes.max">{{localize "HEALTH.TOUGHNESS_MAX"}}</label>
            <input id="{{id}}-data.bonus.toughness.max" name="data.bonus.toughness.max" type="number" value="{{data.bonus.toughness.max}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.toughnes.threshold">{{localize "HEALTH.TOUGHNESS_THRESHOLD_MAX"}}</label>
            <input id="{{id}}-data.bonus.toughness.threshold" name="data.bonus.toughness.threshold" type="number" value="{{data.bonus.toughness.threshold}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.corruption.threshold">{{localize "HEALTH.CORRUPTION_THRESHOLD_MAX"}}</label>
            <input id="{{id}}-data.bonus.corruption.threshold" name="data.bonus.corruption.threshold" type="number" value="{{data.bonus.corruption.threshold}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label for="{{id}}-data.bonus.corruption.max">{{localize "HEALTH.CORRUPTION_MAX"}}</label>
            <input id="{{id}}-data.bonus.corruption.max" name="data.bonus.corruption.max" type="number" value="{{data.bonus.corruption.max}}" data-dtype="Number" />
        </div>        
        <div class="attribute">
            <label for="{{id}}-data.bonus.experience.value">{{localize "EXPERIENCE"}}</label>
            <input id="{{id}}-data.bonus.experience.value" name="data.bonus.experience.value" type="number" value="{{data.bonus.experience.value}}" data-dtype="Number" />
        </div>
        </div>
</div>
