<div class="bonus foreground border">
    <h1>{{localize "TITLE.ATTRIBUTES"}}</h1>
    <div class="scroll">
        <div class="attribute">
            <label>{{localize "ARMOR.DEFENSE"}}</label>
            <input name="data.bonus.defense" type="number" value="{{data.bonus.defense}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "ATTRIBUTE.ACCURATE"}}</label>
            <input name="data.bonus.accurate" type="number" value="{{data.bonus.accurate}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "ATTRIBUTE.CUNNING"}}</label>
            <input name="data.bonus.cunning" type="number" value="{{data.bonus.cunning}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "ATTRIBUTE.DISCREET"}}</label>
            <input name="data.bonus.discreet" type="number" value="{{data.bonus.discreet}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "ATTRIBUTE.PERSUASIVE"}}</label>
            <input name="data.bonus.persuasive" type="number" value="{{data.bonus.persuasive}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "ATTRIBUTE.QUICK"}}</label>
            <input name="data.bonus.quick" type="number" value="{{data.bonus.quick}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "ATTRIBUTE.RESOLUTE"}}</label>
            <input name="data.bonus.resolute" type="number" value="{{data.bonus.resolute}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "ATTRIBUTE.STRONG"}}</label>
            <input name="data.bonus.strong" type="number" value="{{data.bonus.strong}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "ATTRIBUTE.VIGILANT"}}</label>
            <input name="data.bonus.vigilant" type="number" value="{{data.bonus.vigilant}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "HEALTH.TOUGHNESS_MAX"}}</label>
            <input name="data.bonus.toughness.max" type="number" value="{{data.bonus.toughness.max}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "HEALTH.TOUGHNESS_THRESHOLD_MAX"}}</label>
            <input name="data.bonus.toughness.threshold" type="number" value="{{data.bonus.toughness.threshold}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "HEALTH.CORRUPTION_THRESHOLD_MAX"}}</label>
            <input name="data.bonus.corruption.threshold" type="number" value="{{data.bonus.corruption.threshold}}" data-dtype="Number" />
        </div>
        <div class="attribute">
            <label>{{localize "HEALTH.CORRUPTION_MAX"}}</label>
            <input name="data.bonus.corruption.max" type="number" value="{{data.bonus.corruption.max}}" data-dtype="Number" />
        </div>        
        <div class="attribute">
            <label>{{localize "EXPERIENCE"}}</label>
            <input name="data.bonus.experience.value" type="number" value="{{data.bonus.experience.value}}" data-dtype="Number" />
        </div>
        </div>
</div>
