<div class="main">
	<div class="player2main">
		
	<div class="section1">
		
    <div class="attributes foreground">
        <h1>{{localize "TITLE.ATTRIBUTES"}}</h1>
        {{#each data.attributes as |attribute key|}}
            <div class="attribute">
                <button class="roll-attribute" data-attribute="{{key}}">{{localize attribute.label}}</button>
                <input name="data.attributes.{{key}}.value" type="number" value="{{attribute.value}}" data-dtype="Number" />
            </div>
        {{/each}}
    </div>

	<div class="nonattributes">
		
    <div class="health2">
        <!-- <h1 style="width>{{localize "TITLE.HEALTH"}}</h1> -->
        <div class="toughness ">
        <div class="health-toughnesscol foreground">
        <h1>{{localize "HEALTH.TOUGHNESS"}}</h1>
        <div class="toughness-current" title="{{localize "TOOLTIP.HEALTH.TOUGHNESS_CURRENT"}}">
            <label>{{localize "HEALTH.TOUGHNESS_CURRENT"}}</label>
            <input name="data.health.toughness.value" type="number" value="{{data.health.toughness.value}}" data-dtype="Number" />
        </div>
        <div class="toughness-total" title="{{localize "TOOLTIP.HEALTH.TOUGHNESS_TOTAL"}}">
            <label>{{localize "HEALTH.TOUGHNESS_TOTAL"}}</label>
            <input type="number" value="{{data.health.toughness.max}}" data-dtype="Number" disabled/>
        </div>
        <div class="toughness-threshold" title="{{localize "TOOLTIP.HEALTH.TOUGHNESS_THRESHOLD"}}">
            <label>{{localize "HEALTH.TOUGHNESS_THRESHOLD"}}</label>
            <input type="number" value="{{data.health.toughness.threshold}}" data-dtype="Number" disabled/>
        </div>
         </div>
        </div>
        
        <div class="corruption foreground">
        <h1>{{localize "HEALTH.CORRUPTION"}}</h1>
        <div class="health-corruptioncol">
			
        <div class="corruption-col1">
        <div class="corruption-current" title="{{localize "TOOLTIP.HEALTH.CORRUPTION_CURRENT"}}">
            <label>{{localize "HEALTH.CORRUPTION_CURRENT"}}</label>
            <input name="data.health.corruption.value" type="number" value="{{data.health.corruption.value}}" data-dtype="Number" disabled/>
        </div>
        <div class="corruption-temporary" title="{{localize "TOOLTIP.HEALTH.CORRUPTION_TEMPORARY"}}">
            <label>{{localize "HEALTH.CORRUPTION_TEMPORARY"}}</label>
            <input name="data.health.corruption.temporary" type="number" value="{{data.health.corruption.temporary}}" data-dtype="Number"/>
        </div>
        <div class="corruption-longterm" title="{{localize "TOOLTIP.HEALTH.CORRUPTION_LONGTERM"}}">
            <label>{{localize "HEALTH.CORRUPTION_LONGTERM"}}</label>
            <input type="number" name="data.health.corruption.longterm" value="{{data.health.corruption.longterm}}" data-dtype="Number" />
        </div>
        </div> <!-- end of col 1 -->
        <div class="corruption-col2">
        <div class="corruption-permanent" title="{{localize "TOOLTIP.HEALTH.CORRUPTION_PERMANENT"}}">
            <label>{{localize "HEALTH.CORRUPTION_PERMANENT"}}</label>
            <input name="data.health.corruption.permanent" type="number" value="{{data.health.corruption.permanent}}" data-dtype="Number"/>
        </div>
        <div class="corruption-threshold" title="{{localize "TOOLTIP.HEALTH.CORRUPTION_THRESHOLD"}}">
            <label>{{localize "HEALTH.CORRUPTION_THRESHOLD"}}</label>
            <input name="data.health.corruption.threshold" type="number" value="{{data.health.corruption.threshold}}" data-dtype="Number" disabled/>
        </div>
        <div class="corruption-max" title="{{localize "TOOLTIP.HEALTH.CORRUPTION_MAX"}}">
            <label>{{localize "HEALTH.CORRUPTION_MAX"}}</label>
            <input name="data.health.corruption.max" type="number" value="{{data.health.corruption.max}}" data-dtype="Number" disabled/>
        </div>
        </div> <!-- end of col 2 --> </div> <!-- end of corruptioncol --></div>        
    </div>

    <div class="combat foreground">
        <h1>{{localize "TITLE.COMBAT"}}</h1>
        <div class="stat-modifiers">
        <div class="initiative" title="{{localize "TOOLTIP.COMBAT.INITIATIVE"}}">
            <label>{{localize "INITIATIVE"}}</label>
            <select name="data.initiative.attribute" class="attribute">
                {{#select data.initiative.attribute}}
                <option value="quick">{{localize "ATTRIBUTE.QUICK"}}</option>
                <option value="accurate">{{localize "ATTRIBUTE.ACCURATE"}}</option>
                <option value="cunning">{{localize "ATTRIBUTE.CUNNING"}}</option>
                <option value="discree	t">{{localize "ATTRIBUTE.DISCREET"}}</option>
                <option value="persuasive">{{localize "ATTRIBUTE.PERSUASIVE"}}</option>
                <option value="resolute">{{localize "ATTRIBUTE.RESOLUTE"}}</option>
                <option value="strong">{{localize "ATTRIBUTE.STRONG"}}</option>
                <option value="vigilant">{{localize "ATTRIBUTE.VIGILANT"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="defenseAttr" title="{{localize "TOOLTIP.COMBAT.DEFENSE"}}">
            <label>{{localize "ARMOR.DEFENSE"}}</label>
            <select name="data.defense.attribute" class="attribute">
                {{#select data.defense.attribute}}
                <option value="quick">{{localize "ATTRIBUTE.QUICK"}}</option>
                <option value="accurate">{{localize "ATTRIBUTE.ACCURATE"}}</option>
                <option value="cunning">{{localize "ATTRIBUTE.CUNNING"}}</option>
                <option value="discreet">{{localize "ATTRIBUTE.DISCREET"}}</option>
                <option value="persuasive">{{localize "ATTRIBUTE.PERSUASIVE"}}</option>
                <option value="resolute">{{localize "ATTRIBUTE.RESOLUTE"}}</option>
                <option value="strong">{{localize "ATTRIBUTE.STRONG"}}</option>
                <option value="vigilant">{{localize "ATTRIBUTE.VIGILANT"}}</option>
                {{/select}}
            </select>
        </div>
        </div>
        <div class="armor">
            <button class="roll-armor">{{data.combat.armor}}</button>
            <div class="protection">
                <label>{{localize "ARMOR.PROTECTION"}}</label>
                <input type="text" value="{{data.combat.protection}}" disabled />
            </div>
            <div class="defense">
                <label>{{localize "ARMOR.DEFENSE"}}</label>
                <input type="number" value="{{data.combat.defense}}" data-dtype="Number" disabled />
            </div>
            <div class="quality">
                <label>{{localize "ARMOR.QUALITY"}}</label>
                <input type="text" value="{{data.combat.quality}}" disabled />
            </div>
        </div>
        <div class="weapons">
            <div class="item-list">
                <div class="item-header" style="margin-bottom: 5px">
                    <b class="name">{{localize "WEAPON.HEADER"}}</b>
                    <b class="damage">{{localize "WEAPON.DAMAGE"}}</b>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                        {{#if item.isWeapon}}
                            {{#if item.isActive}}
                                <div class="weapon item" data-item-id="{{item._id}}">
                                    <div class="name">
                                        <div class="image-container">
                                            <div class="image" style="background-image: url('{{item.img}}')"></div>
                                        </div>
                                        <button class="roll-weapon">{{item.name}}</button>
                                    </div>
                                    <div class="damage">{{item.data.damage}}</div>
                                </div>
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    </div> <!-- End of non-attributes -->
    
	</div> <!-- end of section 1 -->
    </div> <!-- end of frustration -->


    <div class="abilities-powers foreground border">
        <h1>{{localize "TITLE.ABILITIES_POWERS"}}</h1>
        <div class="traits">
            {{#each actor.items as |item|}}
                {{#if item.isPower}}
                    <div class="trait item" data-item-id="{{item._id}}">
                        <div class="name">
                            <div class="image-container">
                                <button class="activate-ability" style="background-image: url('{{item.img}}'); height: 36px; width: 36px; background-size: 36px"></button>
                            </div>
                            <button class="item-edit">{{item.name}}</button>
                        </div>
                        <div class="actions" title="{{localize "TOOLTIP.POWER_ACTIONS"}}">{{item.data.actions}}</div>
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Trait"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
