<div class="note">
    <div class="wrapper foreground border">
        <h1>{{localize "TITLE.NOTES"}}</h1>
        {{editor system.notes target="system.notes" button=true owner=owner editable=true}}
    </div>
</div>