<div class="gear">
    <div class="wrapper-left">
        <div class="armors foreground border">
            <h1>{{localize "TITLE.ARMORS"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "ARMOR.NAME"}}</b>
                    <b class="protection">{{localize "ARMOR.PROTECTION_SHORT"}}</b>
                    <b class="quality">{{localize "ARMOR.IMPEDING"}}</b>
                    <b class="state">{{localize "GEAR.STATE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Armor" data-type="armor"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.data.armors as |item|}}
                            <div class="armor item" data-item-id="{{item._id}}">
                                <div class="name">
                                    <div class="image-container">
                                        <div class="image" style="background-image: url('{{item.img}}')"></div>
                                    </div>
                                    <button class="item-edit ellipsis" style="width: 131px">{{item.name}}</button>
                                </div>
                                <div class="protection">{{item.pc}}</div>
                                <div class="quality">{{item.impeding}}</div>
                                <div class="state">
                                    {{#if item.isActive}}
                                        <a class="item-state" title="{{localize 'GEAR.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                                    {{else if item.isEquipped}}
                                        <a class="item-state" title="{{localize 'GEAR.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                                    {{else}}
                                        <a class="item-state" title="{{localize 'GEAR.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                                    {{/if}}
                                </div>
                                <div class="button">
                                    <a class="item-control item-delete" title="Delete Armor"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="weapons foreground border">
            <h1>{{localize "TITLE.WEAPONS"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "WEAPON.NAME"}}</b>
                    <b class="damage">{{localize "WEAPON.DAMAGE_SHORT"}}</b>
                    <b class="quality">{{localize "WEAPON.ATTRIBUTE"}}</b>
                    <b class="state">{{localize "GEAR.STATE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Weapon" data-type="weapon"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.data.weapons as |item|}}
                            <div class="weapon item" data-item-id="{{item._id}}">
                                <div class="name">
                                    <div class="image-container">
                                        <div class="image" style="background-image: url('{{item.img}}')"></div>
                                    </div>
                                    <button class="item-edit ellipsis" style="width: 131px">{{item.name}}</button>
                                </div>
                                <div class="damage">{{item.damage.pc}}</div>
                                <div class="quality">{{localize item.attributeLabel}}</div>
                                <div class="state">
                                    {{#if item.isActive}}
                                        <a class="item-state" title="{{localize 'GEAR.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                                    {{else if item.isEquipped}}
                                        <a class="item-state" title="{{localize 'GEAR.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                                    {{else}}
                                        <a class="item-state" title="{{localize 'GEAR.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                                    {{/if}}
                                </div>
                                <div class="button">
                                    <a class="item-control item-delete" title="Delete Weapon"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="artifacts foreground border">
            <h1>{{localize "TITLE.ARTIFACTS"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "ARTIFACT.NAME"}}</b>
                    <b class="action">{{localize "ARTIFACT.ACTION"}}</b>
                    <b class="corruption">{{localize "ARTIFACT.CORRUPTION"}}</b>
                    <b class="state">{{localize "GEAR.STATE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Artifact" data-type="artifact"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                        {{#if item.isArtifact}}
                            <div class="artifact item" data-item-id="{{item._id}}">
                                <div class="name">
                                    <div class="image-container">
                                        <div class="image" style="background-image: url('{{item.img}}')"></div>
                                    </div>
                                    <button class="item-edit ellipsis" style="width: 131px">{{item.name}}</button>
                                </div>
                                <div class="action" style="width: 55px;">{{item.data.power1.action}}/{{item.data.power2.action}}/{{item.data.power3.action}}</div>
                                <div class="corruption">{{item.data.power1.corruption}}/{{item.data.power2.corruption}}/{{item.data.power3.corruption}}</div>
                                <div class="state">
                                    {{#if item.isActive}}
                                        <a class="item-state" title="{{localize 'GEAR.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                                    {{else if item.isEquipped}}
                                        <a class="item-state" title="{{localize 'GEAR.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                                    {{else}}
                                        <a class="item-state" title="{{localize 'GEAR.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                                    {{/if}}
                                </div>
                                <div class="button">
                                    <a class="item-control item-delete" title="Delete Artifact"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-right">
        <div class="equipments foreground border">
            <h1>{{localize "TITLE.EQUIPMENTS"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "EQUIPMENT.NAME"}}</b>
                    <b class="quality">{{localize "EQUIPMENT.QUANTITY_SHORT"}}</b>
                    <b class="state">{{localize "GEAR.STATE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Equipment" data-type="equipment"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                        {{#if item.isEquipment}}
                            <div class="equipment item" data-item-id="{{item._id}}">
                                <div class="name">
                                    <div class="image-container">
                                        <div class="image" style="background-image: url('{{item.img}}')"></div>
                                    </div>
                                    <button class="item-edit ellipsis" style="width: 108px">{{item.name}}</button>
                                </div>
                                <div class="quantity">{{item.data.number}}</div>
                                <div class="state">
                                    {{#if item.isActive}}
                                        <a class="item-state" title="{{localize 'GEAR.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                                    {{else if item.isEquipped}}
                                        <a class="item-state" title="{{localize 'GEAR.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                                    {{else}}
                                        <a class="item-state" title="{{localize 'GEAR.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                                    {{/if}}
                                </div>
                                <div class="button">
                                    <a class="item-control item-delete" title="Delete Equipment"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="money foreground border">
            <h1>{{localize "TITLE.MONEY"}}</h1>
            <div class="thaler">
                <label>{{localize "MONEY.THALER"}}</label>
                <input name="data.money.thaler" type="number" value="{{data.money.thaler}}" data-dtype="Number" />
            </div>
            <div class="shilling">
                <label>{{localize "MONEY.SHILLING"}}</label>
                <input name="data.money.shilling" type="number" value="{{data.money.shilling}}" data-dtype="Number" />
            </div>
            <div class="orteg">
                <label>{{localize "MONEY.ORTEG"}}</label>
                <input name="data.money.orteg" type="number" value="{{data.money.orteg}}" data-dtype="Number" />
            </div>
        </div>
    </div>
</div>
{{log "CONTEXT!!!!"}} {{log this}}