.symbaroum.sheet.item .window-content {
  background: var(--color-charBG);
}

.symbaroum.sheet.item .window-content .editable {
  flex: 0;
}

.symbaroum.sheet.item .foreground {
  background: url(../asset/image/foreground.webp) repeat;
}

.symbaroum.sheet.item .border {
  border: 10px solid transparent;
  border-color: var(--title-color);
  border-image: var(--title-image) 20/10px;
}

.symbaroum.sheet.item h1 {
  width: 100%;
  height: 2em;
  line-height: 2em;
  border: 0 none;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  background: var(--title-color) repeat;
  color: var(--color-title);
  font-family: var(--font-text);
}

.symbaroum.sheet.item h2 {
  width: 100%;
  height: 1.5em;
  line-height: 1.5em;
  border: 0 none;
  font-size: 1em;
  margin: 0;
  text-align: center;
  background: var(--title-color) repeat;
  color: var(--color-title);
  font-family: var(--font-text);
}

.symbaroum.sheet.item label {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-label);
  font-family: var(--font-text);
  background: var(--title-color) repeat;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.symbaroum.sheet.item .avatar button {
  border: 0 none;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.symbaroum.sheet.item button:hover {
  box-shadow: none;
  cursor: pointer;
}

.symbaroum.sheet.item button {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-label);
  font-family: var(--font-text);
  background: var(--title-color) repeat;
  text-align: center;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 0;
  margin: 0;
}

.symbaroum.sheet.actor button:hover {
  color: var(--color-active);
  text-shadow: 0 0 10px var(--color-active);
  box-shadow: none;
}

.symbaroum.sheet.item input[type='text'][disabled],
.symbaroum.sheet.item input[type='number'][disabled] {
  background: var(--box-non-editable) repeat;
}

.symbaroum.sheet.item input[type='text'],
.symbaroum.sheet.item input[type='number'],
.symbaroum.sheet.item select {
  background: var(--box-editable) repeat;
  border: 1px solid var(--color-border);
  box-shadow: inset 0 0 6px black;
  color: var(--color-text);
  font-size: 14px;
  height: auto;
  line-height: 16px;
  width: 100%;
  font-family: var(--font-text);
  border-left: 0;
  border-radius: 0;
  -moz-appearance: textfield;
  text-align: center;
}

.symbaroum.sheet.item input[type='checkbox'] {
  border: 1px solid var(--color-border);
  box-shadow: inset 0 0 6px black;
  color: var(--color-text);
  border-radius: 0;
}

.symbaroum.sheet.item input[type='number']::-webkit-outer-spin-button,
.symbaroum.sheet.item input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.symbaroum.sheet.item .window-content .fas {
  color: var(--color-text);
}

.symbaroum.sheet.item .window-content .fas:hover,
.symbaroum.sheet.item .window-content .button:hover,
.symbaroum.sheet.item .window-content .item-control:hover {
  text-shadow: 0 0 10px var(--color-active);
  box-shadow: none;
}

.symbaroum.sheet.item .sheet-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 100%;
  margin: 5px;
}

.symbaroum.sheet.item .sheet-header .avatar {
  background: var(--box-editable) repeat;
  border: 1px solid black;
  box-shadow: inset 0 0 6px black;
  flex: 0 0 auto;
  height: 100px;
  margin: 5px 0 5px 5px;
  width: 100px;
}

.symbaroum.sheet.item .sheet-header .avatar img {
  border: 0 none;
  width: 100px;
  height: 100px;
  margin: auto;
}

.symbaroum.sheet.item .sheet-header .avatar img:hover {
  box-shadow: none;
  cursor: pointer;
}

.symbaroum.sheet.item .sheet-header .wrapper-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
}

.symbaroum.sheet.item .sheet-header .level,
.symbaroum.sheet.item .sheet-header .name {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  margin: 0px 0px 5px 0px;
}

.symbaroum.sheet.item .sheet-header .computedvalues {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  align-items: center;
  margin: auto;
}

.symbaroum.sheet.item .sheet-header .level input,
.symbaroum.sheet.item .sheet-header .computedvalues input,
.symbaroum.sheet.item .sheet-header .name input {
  height: 30px;
}

.symbaroum.sheet.item .editor,
.symbaroum.sheet.item .editor-content {
  font-size: 14px;
  color: var(--color-text);
  height: 100%;
  width: 100%;
  background: var(--box-editable) repeat;
  box-shadow: inset 0 0 6px black;
}

.symbaroum.sheet.item .editor {
  margin: 5px;
  border: 1px solid var(--color-border);
  height: 250px;
}

.symbaroum.sheet.item .editor-content {
  padding: 5px;
}

.symbaroum.sheet.item .editor .tox .tox-tbtn svg {
  fill: var(--color-title);
}

.symbaroum.sheet.item .editor .tox .tox-toolbar__primary {
  background: var(--title-image) repeat;
}

.symbaroum.sheet.item .editor .tox .tox-tbtn svg:hover {
  fill: var(--color-active);
  text-shadow: 0 0 10px var(--color-active);
  box-shadow: none;
}

.symbaroum.sheet.item .sheet-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 100%;
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  background: var(--title-color) repeat;
  font-family: var(--font-text);
}

.symbaroum.sheet.item .sheet-tabs .item {
  color: var(--color-title);
}

.symbaroum.sheet.item .sheet-tabs .item:hover {
  color: var(--color-active);
  text-shadow: 0 0 10px var(--color-active);
}

.symbaroum.sheet.item .sheet-tabs .item.active {
  color: var(--color-active);
  text-shadow: 0 0 10px var(--color-active);
}

.symbaroum.sheet.item .sheet-body {
  flex-basis: 100%;
  margin: 5px;
}
