/* Global styles */

@font-face {
  font-family: 'Primitive';
  /* font-style: normal;
    font-weight: 400;
    font-display: swap; */
  src: url('../fonts/Primitive-4yGY.ttf');
  /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}
@font-face {
  font-family: 'Fondamento';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fondamento/v11/4UaHrEJGsxNmFTPDnkaJ96rp5w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Jim Nightshade';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jimnightshade/v10/PlIkFlu9Pb08Q8HLM1PxmB0g-NS_XXs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.symbaroum-mod.journal-sheet form {
  display: flex;
  flex-direction: column;
  background-image: url(../asset/modules/foreground2a.png);
  background-size: 100% 100%;
}
.symbaroum-mod.journal-sheet form select {
  display: none;
}

.symbaroum-mod.app.window-app.sheet.journal-sheet.journal-entry {
  color: hsl(0, 0%, 0%);
  border: 9px solid transparent;
  border-image: url(../asset/modules/sym-journal-border.webp) 108/3 repeat;
  border-image-outset: 2;
}

.symbaroum-mod.journal-sheet form .editor {
  height: 100%;
}
.symbaroum-mod.app.window-app.journal-sheet.sheet.journal-sheet .window-header {
  background-image: url(../asset/modules/foreground.jpg);
}
.symbaroum-mod.app.window-app.journal-sheet.sheet.journal-sheet.window-app.minimized .window-header {
  border: none;
  line-height: 14px;
  padding: 0 6px;
  flex-basis: 15px;
  position: relative;
  top: -3px;
}

/*Journal Entry Input Border*/
.symbaroum-mod.journal-sheet form input[name='name'] {
  font-family: 'Primitive';
  font-size: 3rem;
  text-align: center;
  background-image: url(../asset/modules/foreground.jpg);
  border: 1px solid transparent;
  border-image: url(../asset/modules/sym-journal-header.webp);
  border-image-slice: 50%;
  border-image-width: 100%;
  text-overflow: ellipsis;
  /* width: min(100%, 900px); */
  min-height: 65px;
  margin: auto;
  color: hsl(39, 77%, 83%);
}

.symbaroum-mod.journal-sheet form input[name='name']:focus {
  box-shadow: none;
}

.symbaroum-mod.window-app.sheet.minimized .window-header .window-title {
  overflow: hidden;
  white-space: pre;
}

.symbaroum-mod ::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 50%);
  border-color: hsl(180, 25%, 25%);
}

.symbaroum-mod ::-webkit-scrollbar-track {
  box-shadow: 0 0 3px hsl(0, 0%, 60%) inset;
  border-radius: 3px;
}

.symbaroum-mod.journal-sheet form button[type='submit']:focus {
  opacity: 100%;
  box-shadow: 0 0 8px hsl(0, 0%, 50%);
}

.symbaroum-mod .content-link-I {
  color: hsl(39, 77%, 83%);
  background: transparent;
  font-size: 15pt;
  border: 0;
}
.symbaroum-mod a.inline-link {
  background-color: transparent;
  color: hsl(6, 56%, 30%);
  font-size: 15pt;
  border: 0;
  font-family: 'Fondamento';
}

.symbaroum-mod .inline-link2 .content-link {
  background-color: transparent;
  color: hsl(6, 56%, 30%);
  font-size: 16pt;
  border: 0;
  font-family: 'Fondamento';
}
.symbaroum-mod p {
  background: transparent;
  font-size: 12pt;
  margin: 10px;
}
.symbaroum-mod .pblock {
  text-align: justify;
  margin: 0px 20px 0px 10px;
}

.symbaroum-mod .h1mod {
  /* font-family: 'Jim Nightshade'; */
  font-family: 'Primitive';
  font-size: 68pt;
}

.symbaroum-mod .h1mod .indexsheet {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 50pt;
}

.symbaroum-mod h2 {
  font-family: 'Primitive';
  font-size: 25pt;
}
.symbaroum-mod h5 {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: 14pt !important;
  border-bottom: none !important;
}

.symbaroum-mod h4 {
  font-family: 'Jim Nightshade';
  font-size: 18pt;
}

.symbaroum-mod h3 {
  font-weight: bold;
  font-family: 'Fondamento';
  font-size: 12pt;
  color: hsl(19, 70%, 37%);
  display: block;
  margin: 0px 20px 0px 10px;
  border-bottom: none !important;
}

.symbaroum-mod h6 {
  font-weight: bold;
  /* font-family: 'Fondamento'; */
  font-size: 12pt;
  color: hsl(0, 0%, 100%);
  /* display: block; */
  /* margin: 0px 20px 0px 10px; */
  margin: 0;
}
.symbaroum-mod .parahead {
  font-weight: bold;
  font-family: 'Fondamento';
  font-size: 12pt;
  color: hsl(19, 70%, 37%);
}
.symbaroum-mod li {
  font-size: 12pt;
}
.symbaroum-mod ul {
  margin: 20px;
}

.symbaroum-mod .heading2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: 'Primitive';
  font-size: 25pt;
  border-bottom: 1px solid hsl(8, 56%, 30%);
  padding: 0 14px;
  margin-bottom: 8px;
}
.symbaroum-mod .h2NoUnder {
  border: 0;
  margin-bottom: 0;
}

.symbaroum-mod .arpgtable {
  height: 36px;
  width: 80%;
  /* border-style: double;
    border-color: greenyellow; */
  margin-left: auto;
  margin-right: auto;
  border: 0;
}
.symbaroum-mod .arpgtable tr:nth-child(even) {
  background-color: transparent;
}

.symbaroum-mod .tdstyle {
  width: 40%;
  height: 18px;
  text-align: left;
}
.symbaroum-mod .tdstyleR {
  width: 40%;
  height: 18px;
  text-align: Right;
}
.symbaroum-mod .tdstyleC {
  width: 100%;
  height: 18px;
  text-align: center;
}
.symbaroum-mod .tdstyle3D {
  width: 30%;
  height: 18px;
  text-align: center;
}
.symbaroum-mod .tdstyle2D {
  width: 50%;
  height: 18px;
  text-align: center;
}

.symbaroum-mod .blockquoteright {
  background-image: url(../asset/modules/foreground.jpg);
  max-width: 35%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  break-inside: avoid;
  font-style: normal;
  float: right;
  border: 5px double hsl(0, 0%, 0%);
  border-radius: 25px;
  box-shadow: 3px 3px;
}
.symbaroum-mod .blockquoteleft {
  background-image: url(../asset/modules/foreground.jpg);
  max-width: 35%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  break-inside: avoid;
  font-style: normal;
  float: left;
  border: 5px double hsl(0, 0%, 0%);
  border-radius: 25px;
  box-shadow: 3px 3px;
}
.symbaroum-mod .blockquotecenter {
  background-image: url(../asset/modules/foreground.jpg);
  max-width: 35%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  break-inside: avoid;
  font-style: normal;
  float: center;
  border: 5px double hsl(0, 0%, 0%);
  border-radius: 25px;
  box-shadow: 3px 3px;
}
.symbaroum-mod .blockquoteplain {
  max-width: 50%;
  break-inside: avoid;
  font-style: normal;
  float: left;
  border: none;
}

.symbaroum-mod .fancytextleft {
  max-width: 20%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  break-inside: avoid;
  font-style: normal;
  float: left;
  border: none;
  text-align: center;
}
.symbaroum-mod .fancytextright {
  max-width: 20%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  break-inside: avoid;
  font-style: normal;
  float: right;
  border: none;
  text-align: center;
}
.symbaroum-mod .fancyheader {
  display: inline-block;
  background-image: url('../asset/modules/fancytextheader.png');
  width: 140px;
  height: 26px;
  vertical-align: middle;
  background-size: 140px;
  border: 0;
}
.symbaroum-mod .fancytext {
  color: hsl(19, 70%, 37%);
}

.symbaroum-mod .newstatheader {
  height: 15px;
  padding: 0;
  width: 1%;
  text-align: center;
  border-right: solid 1px;
}
.symbaroum-mod .newstatheader2 {
  height: 15px;
  padding: 0;
  width: 1%;
  text-align: center;
}
.symbaroum-mod .statblockcenter {
  background-color: hsl(60, 6%, 86%);
  padding: 10px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.symbaroum-mod .symtitle {
  display: block;
  background-image: url('../asset/modules/symbaroum_onelayer.webp');
  width: 600px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.symbaroum-mod .boxtext {
  background-image: url('../asset/modules/foreground.jpg');
  padding-left: 5px;
  padding-right: 3px;
  margin-left: 10px;
  border: 5px double hsl(0, 0%, 0%);
  border-radius: 25px;
  box-shadow: 3px 3px;
}

.symbaroum-mod .lettertext {
  width: 85%;
  margin: auto;
  font-family: 'Primitive';
  font-size: large;
}

.symbaroum-mod .imagecontainer {
  position: relative;
  text-align: center;
  color: white;
}
/* Bottom left text */
.symbaroum-mod .image-text-box {
  position: absolute;
  top: 187px;
  left: 16px;
  width: 200px;
  height: 297px;
  /* border: 3px solid #73ad21; */
  text-align: left;
}
.symbaroum-mod .timeline-symbol {
  display: inline-block;
  background-image: url('../asset/modules/timeline-symbol.png');
  width: 69px;
  height: 29px;
  vertical-align: middle;
  background-size: 67px;
  border: 0;
}

/* 
Monster Codex Stuff
 */
.symbaroum-mod .bigText {
  font-weight: bold;
  font-family: 'Fondamento';
  font-size: 20pt;
  color: hsl(19, 70%, 37%);
  display: block;
  margin: 0px 20px 0px 10px;
}

.symbaroum-mod .newHead {
  font-family: 'Jim Nightshade';
  text-align: center;
  font-size: 68pt;
  margin-bottom: 0;
}
.symbaroum-mod .centerHead {
  text-align: center;
  font-size: 68pt;
  margin-bottom: 0;
}
.symbaroum-mod .h2subHead {
  font-weight: bold;
  color: hsl(19, 70%, 37%);
  border: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-family: 'Primitive';
  font-size: 20pt;
}

.symbaroum-mod .timetable {
  background-color: transparent;
  height: 36px;
  width: 89%;
  margin-left: 5%;
  margin-right: 5%;
  border: 0;
}
.symbaroum-mod .timetable tr:nth-child(even) {
  background-color: transparent;
}

.symbaroum-mod .fancytextcenter {
  max-width: 20%;
  padding: 10px;
  margin-top: 73px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  break-inside: avoid;
  font-style: normal;
  border: none;
  text-align: center;
}

.symbaroum-mod .statblock1 {
  width: 15%;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.symbaroum-mod .statblock2 {
  color: hsl(6, 55%, 30%);
  background-color: hsl(45, 13%, 87%);
  border-top: hsl(6, 55%, 30%) solid 2px;
}

.symbaroum-mod .blockrotate {
  transform: translateX (45px);
  transform: rotate(-3deg);
}

.symbaroum-mod .statblockcenter {
  background-color: hsl(60, 6%, 86%);
  padding: 10px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.symbaroum-mod .subhead::first-letter {
  font-family: 'BarloesiusSchrift';
  color: hsl(6, 55%, 30%);
  float: left;
  font-size: 4rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.1em 0;
}
.symbaroum-mod .subhead1::first-letter {
  font-family: 'BarloesiusSchrift';
  color: hsl(32, 76%, 42%);
  float: left;
  font-size: 6rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.1em 0;
}
.symbaroum-mod .subhead2::first-letter {
  font-family: 'BarloesiusSchrift';
  color: hsl(0, 0%, 0%);
  float: left;
  font-size: 4rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.1em 0;
}
.symbaroum-mod .subhead3::first-letter {
  font-family: 'Jim Nightshade';
  color: hsl(174, 50%, 37%);
  float: left;
  font-size: 4rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.1em 0;
}

.symbaroum-mod .lettertext2 {
  margin: 0;
  font-family: 'Jim Nightshade';
  font-size: 17pt;
}
.symbaroum-mod .lettertext3 {
  margin: 0;
  font-family: 'BarloesiusSchrift';
  font-size: 17pt;
}

.symbaroum-mod .textover img {
  width: auto;
  border: none;
  margin: 0;
}

.symbaroum-mod .textover {
  position: relative;
  margin: 0;
} /* REQUIRED */

.symbaroum-mod .textover figcaption {
  position: absolute;
  top: 0%;
  bottom: 0%;
  text-align: left;
  width: auto;
  margin: 0;
  padding: 0px;
  // margin-right: 51px;
  // margin-left: 50px;
  // margin-top: 38px;
  font-weight: normal;
}

.symbaroum-mod .blockquoteplainleft {
  max-width: 50%;
  break-inside: avoid;
  float: left;
  border: none;
  padding: 0;
  margin: 10px;
}
.symbaroum-mod .blockquoteplainright {
  max-width: 50%;
  break-inside: avoid;
  float: right;
  border: none;
  padding: 0;
  margin: 10px;
}

.symbaroum-mod .blockquoteplaincenter {
  max-width: 100%;
  padding: 0px;
  margin: auto;
  break-inside: avoid;
  border: none;
  position: relative;
}

.symbaroum-mod .besttable tr:nth-child(even) {
  background-color: hsl(39deg 56% 91%);
}
.symbaroum-mod .libox {
  font-size: var(--font-size-14);
}

/* Import settings */
.symbaroum-mod .container {
  width: 100%;
}

.symbaroum-mod .listHeading {
  text-align: center;
  vertical-align: middle;
  padding: 10px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.symbaroum-mod .twogridcol {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 50%));
}

.symbaroum-mod .twogridcol input[type='checkbox'] {
  vertical-align: middle;
}

.symbaroum-mod .actors.content {
  background: lightgray;
}
.symbaroum-mod .actors.content.toggle-display {
  display: none;
}
.symbaroum-mod .items.content {
  background: lightgray;
}
.symbaroum-mod .items.content.toggle-display {
  display: none;
}
.symbaroum-mod .journal.content {
  background: lightgray;
}
.symbaroum-mod .journal.content.toggle-display {
  display: none;
}
.symbaroum-mod .scenes.content {
  background: lightgray;
}
.symbaroum-mod .scenes.content.toggle-display {
  display: none;
}
.symbaroum-mod .tables.content {
  background: lightgray;
}
.symbaroum-mod .tables.content.toggle-display {
  display: none;
}
.symbaroum-mod .macros.content {
  background: lightgray;
}
.symbaroum-mod .macros.content.toggle-display {
  display: none;
}
.symbaroum-mod .title {
  cursor: pointer;
}
/* Footer */

.symbaroum-mod .footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: inherit;
  height: auto;
  background-color: #d0daee;
}
