#pause {
  background: none;
  & > img {
    width: 200px;
    height: 200px;
    top: -50px;
    left: calc(50% - 100px);
    opacity: 0.7;
    --fa-animation-duration: 10s;
  }
  h3 {
    font-family: var(--font-text);
    font-size: 32px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
  }
}

.chat-message {
  background: var(--chat-background);
}

.symbaroum .prosemirror menu {
  	background: var(--title-color) repeat;
    color: var(--color-title);
    font-family: var(--font-text);
}

// override the V2 Journal stuff
// .journal-sheet .journal-sheet-container {
//   //   grid-template-columns: unset;
//   width: auto;
// }

// // Not using this one at present.
// // .journal-sheet nav {
// //   display: none;
// // }

// article header {
//   display: none;
// }

// .journal-sheet form .journal-entry-pages {
//   width: inherit;
// }
