.img01 {
  display: block;
  background-image: url('../asset/image/system-guide/01.webp');
  width: 608px;
  height: 218px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img02 {
  display: block;
  background-image: url('../asset/image/system-guide/02.webp');
  width: 238px;
  height: 282px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img03 {
  display: block;
  background-image: url('../asset/image/system-guide/03.webp');
  width: 332px;
  height: 305px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img04 {
  display: block;
  background-image: url('../asset/image/system-guide/04.webp');
  width: 694px;
  height: 146px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img06 {
  display: block;
  background-image: url('../asset/image/system-guide/06.webp');
  width: 204px;
  height: 176px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img07 {
  display: block;
  background-image: url('../asset/image/system-guide/07.webp');
  width: 283px;
  height: 319px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img08 {
  display: block;
  background-image: url('../asset/image/system-guide/08.webp');
  width: 375px;
  height: 194px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img09 {
  display: block;
  background-image: url('../asset/image/system-guide/09.webp');
  width: 296px;
  height: 473px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img10 {
  display: block;
  background-image: url('../asset/image/system-guide/10.webp');
  width: 322px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img11 {
  display: block;
  background-image: url('../asset/image/system-guide/11.webp');
  width: 348px;
  height: 254px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img12 {
  display: block;
  background-image: url('../asset/image/system-guide/12.webp');
  width: 402px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img13 {
  display: block;
  background-image: url('../asset/image/system-guide/13.webp');
  width: 376px;
  height: 123px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img14 {
  display: block;
  background-image: url('../asset/image/system-guide/14.webp');
  width: 284px;
  height: 440px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img15 {
  display: block;
  background-image: url('../asset/image/system-guide/15.webp');
  width: 284px;
  height: 146px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img16 {
  display: block;
  background-image: url('../asset/image/system-guide/16.webp');
  width: 609px;
  height: 83px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img17 {
  display: block;
  background-image: url('../asset/image/system-guide/17.webp');
  width: 280px;
  height: 202px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img18 {
  display: block;
  background-image: url('../asset/image/system-guide/18.webp');
  width: 215px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img19 {
  display: block;
  background-image: url('../asset/image/system-guide/19.webp');
  width: 399px;
  height: 241px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img20 {
  display: block;
  background-image: url('../asset/image/system-guide/20.webp');
  width: 259px;
  height: 243px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img21 {
  display: block;
  background-image: url('../asset/image/system-guide/21.webp');
  width: 401px;
  height: 455px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img22 {
  display: block;
  background-image: url('../asset/image/system-guide/22.webp');
  width: 286px;
  height: 513px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img23 {
  display: block;
  background-image: url('../asset/image/system-guide/23.webp');
  width: 351px;
  height: 299px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img05 {
  display: block;
  background-image: url('../asset/image/system-guide/armor-add.webp');
  width: 477px;
  height: 116px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img24 {
  display: block;
  background-image: url('../asset/image/system-guide/weapon-state.webp');
  width: 462px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img25 {
  display: block;
  background-image: url('../asset/image/system-guide/character-stats.webp');
  width: 520px;
  height: 199px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.img27 {
  display: block;
  background-image: url('../asset/image/system-guide/attributes.webp');
  width: 299px;
  height: 306px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}