#pause {
  background: none;
  & > img {
    width: 200px;
    height: 200px;
    top: -50px;
    left: calc(50% - 100px);
    opacity: 0.7;
    -webkit-animation: rotation 10s infinite linear;
    animation: rotation 10s infinite linear;
  }
  h3 {
    font-family: var(--font-text);
    font-size: 32px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
  }
}
