@font-face {
  font-family: 'Philosopher';
  src: url('../asset/font/philosopher-bold.ttf');
  font-weight: bold;
}

:root {
  --color-title: white;
  --color-label: white;
  --color-active: #a48b02;
  --color-text: black;
  --color-border: black;
  --color-shadow: #a48b02;

  --font-text: 'Philosopher', serif;

  --color-charBG: 'url(../asset/image/background/green_flower_light.webp) repeat';
  --color-npcBG: 'url(../asset/image/background/purple_flower_light.webp) repeat';
  --title-image: 'url(../asset/image/background/title.webp)';
  --title-color: black;
  --box-editable: 'url(../asset/image/background/editable.webp)';
  --box-non-editable: 'url(../asset/image/background/not-editable.webp)';
  --chat-background: 'url(../asset/image/background/editable.webp)';
  --chat-roll-border: 'url(../asset/image/background/title.webp)';
}
